In [1]:
import pandas as pd
import numpy as np

# Yunnan

## Uncond

In [2]:
yunnan_rem = pd.read_csv('../Data/Tables/rem/yunnan_eventlist_nomination.csv', low_memory=False)
yunnan_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,triangle_effect_children,triangle_effect_parents,network_activity,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives
0,1,1,10,200117,contact_nomination,1.0,0.0,685,1579215600000,2,...,0,0,0,0,-1,63,1,1,1,-1
1,0,100,7,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,0,0,0,56,24,1,1,-1,-1
2,0,100,6,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,0,0,0,56,42,1,0,-1,-1
3,0,100,5,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,0,0,0,56,49,1,1,-1,-1
4,0,100,4,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,0,0,0,56,34,1,0,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406975,0,99,94,200216,NaN,0.0,NaN,788,1581807600000,15,...,0,0,99,1581634800000,37,70,0,0,1,-1
406976,0,99,95,200216,NaN,0.0,NaN,788,1581807600000,15,...,0,1,99,1581634800000,37,53,0,0,1,1
406977,0,99,96,200216,NaN,0.0,NaN,788,1581807600000,15,...,0,2,99,1581634800000,37,72,0,1,1,1
406978,0,99,97,200216,NaN,0.0,NaN,788,1581807600000,15,...,0,0,99,1581634800000,37,45,0,0,1,-1
406979,0,99,98,200216,NaN,0.0,NaN,788,1581807600000,15,...,0,2,99,1581634800000,37,62,0,0,1,1

In [3]:
yunnan_rem['referee_age'] = yunnan_rem['referee_age'].where(yunnan_rem['referee_age'] != -1, np.nan).astype('Int64')
yunnan_rem['referral_age'] = yunnan_rem['referral_age'].where(yunnan_rem['referral_age'] != -1, np.nan).astype('Int64')

yunnan_rem['referee_gender'] = yunnan_rem['referee_gender'].where(yunnan_rem['referee_gender'] != -1, np.nan).astype('Int64')
yunnan_rem['referral_gender'] = yunnan_rem['referral_gender'].where(yunnan_rem['referral_gender'] != -1, np.nan).astype('Int64')

yunnan_rem['referee_relatives'] = yunnan_rem['referee_relatives'].where(yunnan_rem['referee_relatives'] != -1, np.nan).astype('Int64')
yunnan_rem['referral_relatives'] = yunnan_rem['referral_relatives'].where(yunnan_rem['referral_relatives'] != -1, np.nan).astype('Int64')

In [4]:
yunnan_rem['age_difference'] = abs(yunnan_rem['referee_age'] - yunnan_rem['referral_age']).astype('Int64')
yunnan_rem['gender_difference'] = abs(yunnan_rem['referee_gender'] - yunnan_rem['referral_gender']).astype('Int64')
yunnan_rem['relatives_difference'] = abs(yunnan_rem['referee_relatives'] - yunnan_rem['referral_relatives']).astype('Int64')
yunnan_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,1,10,200117,contact_nomination,1.0,0.0,685,1579215600000,2,...,0,<NA>,63,1,1,1,<NA>,<NA>,0,<NA>
1,0,100,7,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,56,24,1,1,<NA>,<NA>,32,0,<NA>
2,0,100,6,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,56,42,1,0,<NA>,<NA>,14,1,<NA>
3,0,100,5,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,56,49,1,1,<NA>,<NA>,7,0,<NA>
4,0,100,4,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,56,34,1,0,<NA>,<NA>,22,1,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406975,0,99,94,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,37,70,0,0,1,<NA>,33,0,<NA>
406976,0,99,95,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,37,53,0,0,1,1,16,0,0
406977,0,99,96,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,37,72,0,1,1,1,35,1,0
406978,0,99,97,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,37,45,0,0,1,<NA>,8,0,<NA>
406979,0,99,98,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,37,62,0,0,1,1,25,0,0

In [5]:
yunnan_rem.to_csv('../Data/Tables/rem/yunnan_eventlist_nomination.csv')

## Cond referee

In [6]:
yunnan_rem_cond_referee = pd.read_csv('../Data/Tables/rem/yunnan_eventlist_nomination_cond_referee.csv', low_memory=False)

In [7]:
yunnan_rem_cond_referee['referee_age'] = yunnan_rem_cond_referee['referee_age'].where(yunnan_rem_cond_referee['referee_age'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referee['referral_age'] = yunnan_rem_cond_referee['referral_age'].where(yunnan_rem_cond_referee['referral_age'] != -1, np.nan).astype('Int64')

yunnan_rem_cond_referee['referee_gender'] = yunnan_rem_cond_referee['referee_gender'].where(yunnan_rem_cond_referee['referee_gender'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referee['referral_gender'] = yunnan_rem_cond_referee['referral_gender'].where(yunnan_rem_cond_referee['referral_gender'] != -1, np.nan).astype('Int64')

yunnan_rem_cond_referee['referee_relatives'] = yunnan_rem_cond_referee['referee_relatives'].where(yunnan_rem_cond_referee['referee_relatives'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referee['referral_relatives'] = yunnan_rem_cond_referee['referral_relatives'].where(yunnan_rem_cond_referee['referral_relatives'] != -1, np.nan).astype('Int64')

In [8]:
yunnan_rem_cond_referee['age_difference'] = abs(yunnan_rem_cond_referee['referee_age'] - yunnan_rem_cond_referee['referral_age']).astype('Int64')
yunnan_rem_cond_referee['gender_difference'] = abs(yunnan_rem_cond_referee['referee_gender'] - yunnan_rem_cond_referee['referral_gender']).astype('Int64')
yunnan_rem_cond_referee['relatives_difference'] = abs(yunnan_rem_cond_referee['referee_relatives'] - yunnan_rem_cond_referee['referral_relatives']).astype('Int64')
yunnan_rem_cond_referee

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,1,10,200117,contact_nomination,1.0,0.0,685,1579215600000,2,...,0,<NA>,63,1,1,1,<NA>,<NA>,0,<NA>
1,0,1,132,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,15,1,1,1,1,<NA>,0,0
2,0,1,133,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,46,1,1,1,0,<NA>,0,1
3,0,1,134,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,62,1,0,1,1,<NA>,1,0
4,0,1,135,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,39,1,1,1,1,<NA>,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6625,0,171,94,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,24,70,0,0,1,<NA>,46,0,<NA>
6626,0,171,93,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,24,24,0,1,1,<NA>,0,1,<NA>
6627,0,171,92,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,24,63,0,1,1,<NA>,39,1,<NA>
6628,0,171,91,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,24,70,0,0,1,1,46,0,0
6629,0,171,90,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,24,34,0,0,1,1,10,0,0

In [9]:
yunnan_rem_cond_referee.to_csv('../Data/Tables/rem/yunnan_eventlist_nomination_cond_referee.csv')

## Cond referral

In [10]:
yunnan_rem_cond_referral = pd.read_csv('../Data/Tables/rem/yunnan_eventlist_nomination_cond_referral.csv',
                                      low_memory=False)

In [11]:
yunnan_rem_cond_referral['referee_age'] = yunnan_rem_cond_referral['referee_age'].where(
    yunnan_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referral['referral_age'] = yunnan_rem_cond_referral['referral_age'].where(
    yunnan_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

yunnan_rem_cond_referral['referee_gender'] = yunnan_rem_cond_referral['referee_gender'].where(
    yunnan_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referral['referral_gender'] = yunnan_rem_cond_referral['referral_gender'].where(
    yunnan_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

yunnan_rem_cond_referral['referee_relatives'] = yunnan_rem_cond_referral['referee_relatives'].where(
    yunnan_rem_cond_referral['referee_relatives'] != -1, np.nan).astype('Int64')
yunnan_rem_cond_referral['referral_relatives'] = yunnan_rem_cond_referral['referral_relatives'].where(
    yunnan_rem_cond_referral['referral_relatives'] != -1, np.nan).astype('Int64')

In [12]:
yunnan_rem_cond_referral['age_difference'] = abs(
    yunnan_rem_cond_referral['referee_age'] - yunnan_rem_cond_referral['referral_age']).astype('Int64')
yunnan_rem_cond_referral['gender_difference'] = abs(
    yunnan_rem_cond_referral['referee_gender'] - yunnan_rem_cond_referral['referral_gender']).astype('Int64')
yunnan_rem_cond_referral['relatives_difference'] = abs(
    yunnan_rem_cond_referral['referee_relatives'] - yunnan_rem_cond_referral['referral_relatives']).astype('Int64')
yunnan_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,1,10,200117,contact_nomination,1.0,0.0,685,1579215600000,2,...,0,<NA>,63,1,1,1,<NA>,<NA>,0,<NA>
1,0,77,10,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,35,63,0,1,<NA>,<NA>,28,1,<NA>
2,0,65,10,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,63,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>
3,0,53,10,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,63,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>
4,0,41,10,200117,NaN,0.0,NaN,685,1579215600000,2,...,0,<NA>,63,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7815,0,21,155,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,<NA>,25,<NA>,1,<NA>,1,<NA>,<NA>,<NA>
7816,0,33,156,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,<NA>,47,<NA>,0,<NA>,1,<NA>,<NA>,<NA>
7817,0,33,155,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,<NA>,25,<NA>,1,<NA>,1,<NA>,<NA>,<NA>
7818,0,45,156,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,<NA>,47,<NA>,0,<NA>,1,<NA>,<NA>,<NA>
7819,0,21,156,200216,NaN,0.0,NaN,788,1581807600000,15,...,1581634800000,<NA>,47,<NA>,0,<NA>,1,<NA>,<NA>,<NA>

In [13]:
yunnan_rem_cond_referral.to_csv('../Data/Tables/rem/yunnan_eventlist_nomination_cond_referral.csv')

# Hainan

## Uncond

In [14]:
hainan_rem = pd.read_csv('../Data/Tables/rem/hainan_eventlist_nomination.csv', low_memory=False)
hainan_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,triangle_effect_children,triangle_effect_parents,network_activity,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives
0,1,5,3,200123,contact_nomination,1.0,0.0,649,1579734000000,2,...,0,0,0,0,27,27,0,1,0,0
1,0,10,151,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,0,0,0,29,43,1,0,0,1
2,0,12,131,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,0,0,0,58,76,1,0,1,1
3,0,14,111,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,0,0,0,44,36,0,1,1,0
4,0,15,101,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,0,0,0,54,60,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444721,0,99,94,200214,NaN,0.0,NaN,770,1581634800000,19,...,0,0,106,1581462000000,55,50,0,0,1,1
444722,0,99,95,200214,NaN,0.0,NaN,770,1581634800000,19,...,0,0,106,1581462000000,55,7,0,1,1,0
444723,0,99,96,200214,NaN,0.0,NaN,770,1581634800000,19,...,0,0,106,1581462000000,55,28,0,0,1,0
444724,0,99,97,200214,NaN,0.0,NaN,770,1581634800000,19,...,0,0,106,1581462000000,55,68,0,0,1,1
444725,0,99,98,200214,NaN,0.0,NaN,770,1581634800000,19,...,0,0,106,1581462000000,55,25,0,1,1,0

In [15]:
hainan_rem['referee_age'] = hainan_rem['referee_age'].where(
    hainan_rem['referee_age'] != -1, np.nan).astype('Int64')
hainan_rem['referral_age'] = hainan_rem['referral_age'].where(
    hainan_rem['referral_age'] != -1, np.nan).astype('Int64')

hainan_rem['referee_gender'] = hainan_rem['referee_gender'].where(
    hainan_rem['referee_gender'] != -1, np.nan).astype('Int64')
hainan_rem['referral_gender'] = hainan_rem['referral_gender'].where(
    hainan_rem['referral_gender'] != -1, np.nan).astype('Int64')

hainan_rem['referee_relatives'] = hainan_rem['referee_relatives'].where(
    hainan_rem['referee_relatives'] != -1, np.nan).astype('Int64')
hainan_rem['referral_relatives'] = hainan_rem['referral_relatives'].where(
    hainan_rem['referral_relatives'] != -1, np.nan).astype('Int64')

In [16]:
hainan_rem['age_difference'] = abs(
    hainan_rem['referee_age'] - hainan_rem['referral_age']).astype('Int64')
hainan_rem['gender_difference'] = abs(
    hainan_rem['referee_gender'] - hainan_rem['referral_gender']).astype('Int64')
hainan_rem['relatives_difference'] = abs(
    hainan_rem['referee_relatives'] - hainan_rem['referral_relatives']).astype('Int64')
hainan_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,5,3,200123,contact_nomination,1.0,0.0,649,1579734000000,2,...,0,27,27,0,1,0,0,0,1,0
1,0,10,151,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,29,43,1,0,0,1,14,1,1
2,0,12,131,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,58,76,1,0,1,1,18,1,0
3,0,14,111,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,44,36,0,1,1,0,8,1,1
4,0,15,101,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,54,60,0,0,1,0,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444721,0,99,94,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,55,50,0,0,1,1,5,0,0
444722,0,99,95,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,55,7,0,1,1,0,48,1,1
444723,0,99,96,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,55,28,0,0,1,0,27,0,1
444724,0,99,97,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,55,68,0,0,1,1,13,0,0
444725,0,99,98,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,55,25,0,1,1,0,30,1,1

In [17]:
hainan_rem.to_csv('../Data/Tables/rem/hainan_eventlist_nomination.csv')

## Cond referee

In [18]:
hainan_rem_cond_referral = pd.read_csv('../Data/Tables/rem/hainan_eventlist_nomination_cond_referral.csv',
                                       low_memory=False)

In [19]:
hainan_rem_cond_referral['referee_age'] = hainan_rem_cond_referral['referee_age'].where(
    hainan_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_age'] = hainan_rem_cond_referral['referral_age'].where(
    hainan_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

hainan_rem_cond_referral['referee_gender'] = hainan_rem_cond_referral['referee_gender'].where(
    hainan_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_gender'] = hainan_rem_cond_referral['referral_gender'].where(
    hainan_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

hainan_rem_cond_referral['referee_relatives'] = hainan_rem_cond_referral['referee_relatives'].where(
    hainan_rem_cond_referral['referee_relatives'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_relatives'] = hainan_rem_cond_referral['referral_relatives'].where(
    hainan_rem_cond_referral['referral_relatives'] != -1, np.nan).astype('Int64')

In [20]:
hainan_rem_cond_referral['age_difference'] = abs(
    hainan_rem_cond_referral['referee_age'] - hainan_rem_cond_referral['referral_age']).astype('Int64')
hainan_rem_cond_referral['gender_difference'] = abs(
    hainan_rem_cond_referral['referee_gender'] - hainan_rem_cond_referral['referral_gender']).astype('Int64')
hainan_rem_cond_referral['relatives_difference'] = abs(
    hainan_rem_cond_referral['referee_relatives'] - hainan_rem_cond_referral['referral_relatives']).astype('Int64')
hainan_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,5,3,200123,contact_nomination,1.0,0.0,649,1579734000000,2,...,0,27,27,0,1,0,0,0,1,0
1,0,2,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,68,27,0,1,0,0,41,1,0
2,0,148,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,58,27,1,1,0,0,31,0,0
3,0,108,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,59,27,1,1,1,0,32,0,1
4,0,49,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,62,27,0,1,1,0,35,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14807,0,33,158,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,63,62,0,1,0,1,1,1,1
14808,0,57,159,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,58,27,1,0,0,1,31,1,1
14809,0,33,159,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,63,27,0,0,0,1,36,0,1
14810,0,79,76,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,62,29,1,1,0,1,33,0,1
14811,0,2,121,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,68,46,0,0,0,1,22,0,1

In [21]:
hainan_rem_cond_referral.to_csv('../Data/Tables/rem/hainan_eventlist_nomination_cond_referee.csv')

## Cond referral

In [22]:
hainan_rem_cond_referral = pd.read_csv('../Data/Tables/rem/hainan_eventlist_nomination_cond_referral.csv',
                                       low_memory=False)

In [23]:
hainan_rem_cond_referral['referee_age'] = hainan_rem_cond_referral['referee_age'].where(
    hainan_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_age'] = hainan_rem_cond_referral['referral_age'].where(
    hainan_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

hainan_rem_cond_referral['referee_gender'] = hainan_rem_cond_referral['referee_gender'].where(
    hainan_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_gender'] = hainan_rem_cond_referral['referral_gender'].where(
    hainan_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

hainan_rem_cond_referral['referee_relatives'] = hainan_rem_cond_referral['referee_relatives'].where(
    hainan_rem_cond_referral['referee_relatives'] != -1, np.nan).astype('Int64')
hainan_rem_cond_referral['referral_relatives'] = hainan_rem_cond_referral['referral_relatives'].where(
    hainan_rem_cond_referral['referral_relatives'] != -1, np.nan).astype('Int64')

In [24]:
hainan_rem_cond_referral['age_difference'] = abs(
    hainan_rem_cond_referral['referee_age'] - hainan_rem_cond_referral['referral_age']).astype('Int64')
hainan_rem_cond_referral['gender_difference'] = abs(
    hainan_rem_cond_referral['referee_gender'] - hainan_rem_cond_referral['referral_gender']).astype('Int64')
hainan_rem_cond_referral['relatives_difference'] = abs(
    hainan_rem_cond_referral['referee_relatives'] - hainan_rem_cond_referral['referral_relatives']).astype('Int64')
hainan_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_relatives,referral_relatives,age_difference,gender_difference,relatives_difference
0,1,5,3,200123,contact_nomination,1.0,0.0,649,1579734000000,2,...,0,27,27,0,1,0,0,0,1,0
1,0,2,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,68,27,0,1,0,0,41,1,0
2,0,148,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,58,27,1,1,0,0,31,0,0
3,0,108,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,59,27,1,1,1,0,32,0,1
4,0,49,3,200123,NaN,0.0,NaN,649,1579734000000,2,...,0,62,27,0,1,1,0,35,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14807,0,33,158,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,63,62,0,1,0,1,1,1,1
14808,0,57,159,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,58,27,1,0,0,1,31,1,1
14809,0,33,159,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,63,27,0,0,0,1,36,0,1
14810,0,79,76,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,62,29,1,1,0,1,33,0,1
14811,0,2,121,200214,NaN,0.0,NaN,770,1581634800000,19,...,1581462000000,68,46,0,0,0,1,22,0,1

In [25]:
hainan_rem_cond_referral.to_csv('../Data/Tables/rem/hainan_eventlist_nomination_cond_referral.csv')

# Shanxi

## Uncond

In [26]:
shanxi_rem = pd.read_csv('../Data/Tables/rem/shanxi_eventlist_nomination.csv',
                                       low_memory=False)

In [27]:
shanxi_rem['referee_age'] = shanxi_rem['referee_age'].where(
    shanxi_rem['referee_age'] != -1, np.nan).astype('Int64')
shanxi_rem['referral_age'] = shanxi_rem['referral_age'].where(
    shanxi_rem['referral_age'] != -1, np.nan).astype('Int64')

shanxi_rem['referee_gender'] = shanxi_rem['referee_gender'].where(
    shanxi_rem['referee_gender'] != -1, np.nan).astype('Int64')
shanxi_rem['referral_gender'] = shanxi_rem['referral_gender'].where(
    shanxi_rem['referral_gender'] != -1, np.nan).astype('Int64')

shanxi_rem['referee_relatives'] = shanxi_rem['referee_relatives'].where(
    shanxi_rem['referee_relatives'] != -1, np.nan).astype('Int64')
shanxi_rem['referral_relatives'] = shanxi_rem['referral_relatives'].where(
    shanxi_rem['referral_relatives'] != -1, np.nan).astype('Int64')

shanxi_rem['referee_hukou'] = shanxi_rem['referee_hukou'].where(
    shanxi_rem['referee_hukou'] != -1, np.nan).astype('Int64')
shanxi_rem['referral_hukou'] = shanxi_rem['referral_hukou'].where(
    shanxi_rem['referral_hukou'] != -1, np.nan).astype('Int64')

In [28]:
shanxi_rem['age_difference'] = abs(
    shanxi_rem['referee_age'] - shanxi_rem['referral_age']).astype('Int64')
shanxi_rem['gender_difference'] = abs(
    shanxi_rem['referee_gender'] - shanxi_rem['referral_gender']).astype('Int64')
shanxi_rem['relatives_difference'] = abs(
    shanxi_rem['referee_relatives'] - shanxi_rem['referral_relatives']).astype('Int64')
shanxi_rem['hukou_difference'] = abs(
    shanxi_rem['referee_hukou'] - shanxi_rem['referral_hukou']).astype('Int64')
shanxi_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_relatives,referral_relatives,referee_hukou,referral_hukou,age_difference,gender_difference,relatives_difference,hukou_difference
0,1,11,10,200125,contact_nomination,1.0,0.0,1186,1579906800000,2,...,0,0,1,1,16,16,36,0,0,0
1,1,11,9,200125,contact_nomination,1.0,0.0,1187,1579906800000,2,...,0,1,1,1,16,16,37,1,0,0
2,1,10,9,200125,contact_nomination,1.0,1.0,1188,1579906800000,2,...,0,1,1,1,16,16,1,1,0,0
3,0,100,3,200125,NaN,0.0,NaN,1188,1579906800000,2,...,0,1,0,0,4,17,26,1,0,13
4,0,100,2,200125,NaN,0.0,NaN,1188,1579906800000,2,...,0,0,0,0,4,17,16,0,0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913762,0,199,235,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,1,0,1,17,4,21,0,1,13
913763,0,199,234,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,1,0,0,17,4,4,0,0,13
913764,0,199,233,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,0,0,0,17,15,17,1,0,2
913765,0,199,232,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,0,0,0,17,0,4,1,0,17
913766,0,199,231,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,0,0,1,17,0,32,1,1,17

In [29]:
shanxi_rem['hukou_difference'] = shanxi_rem['hukou_difference'].where(shanxi_rem['hukou_difference'] == 0, 1)
shanxi_rem['hukou_difference'].unique()

<IntegerArray>
[0, 1]
Length: 2, dtype: Int64

In [30]:
shanxi_rem.to_csv('../Data/Tables/rem/shanxi_eventlist_nomination.csv')

## Cond referee

In [31]:
shanxi_rem_cond_referee = pd.read_csv('../Data/Tables/rem/shanxi_eventlist_nomination_cond_referee.csv',
                         low_memory=False)

In [32]:
shanxi_rem_cond_referee['referee_age'] = shanxi_rem_cond_referee['referee_age'].where(
    shanxi_rem_cond_referee['referee_age'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referee['referral_age'] = shanxi_rem_cond_referee['referral_age'].where(
    shanxi_rem_cond_referee['referral_age'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referee['referee_gender'] = shanxi_rem_cond_referee['referee_gender'].where(
    shanxi_rem_cond_referee['referee_gender'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referee['referral_gender'] = shanxi_rem_cond_referee['referral_gender'].where(
    shanxi_rem_cond_referee['referral_gender'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referee['referee_relatives'] = shanxi_rem_cond_referee['referee_relatives'].where(
    shanxi_rem_cond_referee['referee_relatives'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referee['referral_relatives'] = shanxi_rem_cond_referee['referral_relatives'].where(
    shanxi_rem_cond_referee['referral_relatives'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referee['referee_hukou'] = shanxi_rem_cond_referee['referee_hukou'].where(
    shanxi_rem_cond_referee['referee_hukou'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referee['referral_hukou'] = shanxi_rem_cond_referee['referral_hukou'].where(
    shanxi_rem_cond_referee['referral_hukou'] != -1, np.nan).astype('Int64')

In [33]:
shanxi_rem_cond_referee['age_difference'] = abs(
    shanxi_rem_cond_referee['referee_age'] - shanxi_rem_cond_referee['referral_age']).astype('Int64')
shanxi_rem_cond_referee['gender_difference'] = abs(
    shanxi_rem_cond_referee['referee_gender'] - shanxi_rem_cond_referee['referral_gender']).astype('Int64')
shanxi_rem_cond_referee['relatives_difference'] = abs(
    shanxi_rem_cond_referee['referee_relatives'] - shanxi_rem_cond_referee['referral_relatives']).astype('Int64')
shanxi_rem_cond_referee['hukou_difference'] = abs(
    shanxi_rem_cond_referee['referee_hukou'] - shanxi_rem_cond_referee['referral_hukou']).astype('Int64')
shanxi_rem_cond_referee

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_relatives,referral_relatives,referee_hukou,referral_hukou,age_difference,gender_difference,relatives_difference,hukou_difference
0,1,11,10,200125,contact_nomination,1.0,0.0,1186,1579906800000,2,...,0,0,1,1,16,16,36,0,0,0
1,1,11,9,200125,contact_nomination,1.0,0.0,1187,1579906800000,2,...,0,1,1,1,16,16,37,1,0,0
2,1,10,9,200125,contact_nomination,1.0,1.0,1188,1579906800000,2,...,0,1,1,1,16,16,1,1,0,0
3,0,11,32,200125,NaN,0.0,NaN,1188,1579906800000,2,...,0,0,1,0,16,0,32,0,1,16
4,0,10,42,200125,NaN,0.0,NaN,1188,1579906800000,2,...,0,1,1,1,16,16,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21944,0,237,90,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,1,1,0,4,17,17,1,1,13
21945,0,237,99,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,0,1,1,4,1,22,0,0,3
21946,0,237,98,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,1,1,0,4,1,38,1,1,3
21947,0,237,97,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,1,1,0,4,0,39,1,1,4
21948,0,237,96,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,0,1,0,4,18,34,0,1,14

In [34]:
shanxi_rem_cond_referee['hukou_difference'] = shanxi_rem_cond_referee['hukou_difference'].where(shanxi_rem_cond_referee['hukou_difference'] == 0, 1)
shanxi_rem_cond_referee['hukou_difference'].unique()

<IntegerArray>
[0, 1]
Length: 2, dtype: Int64

In [35]:
shanxi_rem_cond_referee.to_csv('../Data/Tables/rem/shanxi_eventlist_nomination_cond_referee.csv')

## Cond referral

In [36]:
shanxi_rem_cond_referral = pd.read_csv('../Data/Tables/rem/shanxi_eventlist_nomination_cond_referral.csv',
                                      low_memory=False)

In [37]:
shanxi_rem_cond_referral['referee_age'] = shanxi_rem_cond_referral['referee_age'].where(
    shanxi_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referral['referral_age'] = shanxi_rem_cond_referral['referral_age'].where(
    shanxi_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referral['referee_gender'] = shanxi_rem_cond_referral['referee_gender'].where(
    shanxi_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referral['referral_gender'] = shanxi_rem_cond_referral['referral_gender'].where(
    shanxi_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referral['referee_relatives'] = shanxi_rem_cond_referral['referee_relatives'].where(
    shanxi_rem_cond_referral['referee_relatives'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referral['referral_relatives'] = shanxi_rem_cond_referral['referral_relatives'].where(
    shanxi_rem_cond_referral['referral_relatives'] != -1, np.nan).astype('Int64')

shanxi_rem_cond_referral['referee_hukou'] = shanxi_rem_cond_referral['referee_hukou'].where(
    shanxi_rem_cond_referral['referee_hukou'] != -1, np.nan).astype('Int64')
shanxi_rem_cond_referral['referral_hukou'] = shanxi_rem_cond_referral['referral_hukou'].where(
    shanxi_rem_cond_referral['referral_hukou'] != -1, np.nan).astype('Int64')

In [38]:
shanxi_rem_cond_referral['age_difference'] = abs(
    shanxi_rem_cond_referral['referee_age'] - shanxi_rem_cond_referral['referral_age']).astype('Int64')
shanxi_rem_cond_referral['gender_difference'] = abs(
    shanxi_rem_cond_referral['referee_gender'] - shanxi_rem_cond_referral['referral_gender']).astype('Int64')
shanxi_rem_cond_referral['relatives_difference'] = abs(
    shanxi_rem_cond_referral['referee_relatives'] - shanxi_rem_cond_referral['referral_relatives']).astype('Int64')
shanxi_rem_cond_referral['hukou_difference'] = abs(
    shanxi_rem_cond_referral['referee_hukou'] - shanxi_rem_cond_referral['referral_hukou']).astype('Int64')
shanxi_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_relatives,referral_relatives,referee_hukou,referral_hukou,age_difference,gender_difference,relatives_difference,hukou_difference
0,1,11,10,200125,contact_nomination,1.0,0.0,1186,1579906800000,2,...,0,0,1,1,16,16,36,0,0,0
1,1,11,9,200125,contact_nomination,1.0,0.0,1187,1579906800000,2,...,0,1,1,1,16,16,37,1,0,0
2,1,10,9,200125,contact_nomination,1.0,1.0,1188,1579906800000,2,...,0,1,1,1,16,16,1,1,0,0
3,0,180,10,200125,NaN,0.0,NaN,1188,1579906800000,2,...,1,0,0,1,17,16,8,1,1,1
4,0,192,10,200125,NaN,0.0,NaN,1188,1579906800000,2,...,0,0,0,1,17,16,14,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24068,0,37,236,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,0,0,1,1,4,25,0,1,3
24069,0,13,236,200216,NaN,0.0,NaN,1310,1581807600000,23,...,1,0,0,1,17,4,38,1,1,13
24070,0,191,236,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,0,0,1,17,4,0,0,1,13
24071,0,191,235,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,1,0,1,17,4,5,1,1,13
24072,0,191,234,200216,NaN,0.0,NaN,1310,1581807600000,23,...,0,1,0,0,17,4,20,1,0,13

In [39]:
shanxi_rem_cond_referral['hukou_difference'] = shanxi_rem_cond_referral['hukou_difference'].where(shanxi_rem_cond_referral['hukou_difference'] == 0, 1)
shanxi_rem_cond_referral['hukou_difference'].unique()

<IntegerArray>
[0, 1]
Length: 2, dtype: Int64

In [40]:
shanxi_rem_cond_referral.to_csv('../Data/Tables/rem/shanxi_eventlist_nomination_cond_referral.csv')

# Bucharest

## Uncond

In [41]:
bucharest_rem = pd.read_csv('../Data/Tables/rem/bucharest_eventlist_nomination.csv',
                            low_memory=False)
bucharest_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,network_activity,network_time,referee_age,referral_age,referee_gender,referral_gender,referee_isco08_label,referral_isco08_label,referee_medical,referral_medical
0,1,53594,10330S53594,200801,contact_nomination,1.0,0.0,289176,1596232800000,2,...,0,0,56,67,2,-1,20,12,2,0
1,1,53594,10331S53594,200801,contact_nomination,1.0,0.0,289177,1596232800000,2,...,0,0,56,22,2,-1,20,20,2,2
2,0,158714,12851S160980,200801,NaN,0.0,NaN,289177,1596232800000,2,...,0,0,34,18,1,-1,9,20,0,2
3,0,49897,116510,200801,NaN,0.0,NaN,289177,1596232800000,2,...,0,0,24,53,2,1,20,20,2,2
4,0,75285,1902,200801,NaN,0.0,NaN,289177,1596232800000,2,...,0,0,50,31,2,1,20,20,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351048,0,56685,3483S104124,201031,NaN,0.0,NaN,302552,1604098800000,91,...,13290,1604012400000,57,44,2,-1,20,20,2,2
1351049,0,764S170418,1759S168278,201031,NaN,0.0,NaN,302552,1604098800000,91,...,13290,1604012400000,20,1,-1,-1,20,11,2,0
1351050,0,990S136878,744S81036,201031,NaN,0.0,NaN,302552,1604098800000,91,...,13290,1604012400000,3,44,-1,-1,11,20,0,2
1351051,0,58671,139927,201031,NaN,0.0,NaN,302552,1604098800000,91,...,13290,1604012400000,60,42,2,1,20,9,2,0
1351052,0,119949,12370S167168,201031,NaN,0.0,NaN,302552,1604098800000,91,...,13290,1604012400000,21,53,2,-1,20,20,2,2

In [42]:
bucharest_rem['referee_age'] = bucharest_rem['referee_age'].where(
    bucharest_rem['referee_age'] != -1, np.nan).astype('Int64')
bucharest_rem['referral_age'] = bucharest_rem['referral_age'].where(
    bucharest_rem['referral_age'] != -1, np.nan).astype('Int64')

bucharest_rem['referee_gender'] = bucharest_rem['referee_gender'].where(
    bucharest_rem['referee_gender'] != -1, np.nan).astype('Int64')
bucharest_rem['referral_gender'] = bucharest_rem['referral_gender'].where(
    bucharest_rem['referral_gender'] != -1, np.nan).astype('Int64')

bucharest_rem['referee_isco08_label'] = bucharest_rem['referee_isco08_label'].where(
    bucharest_rem['referee_isco08_label'] != -1, np.nan).astype('Int64')
bucharest_rem['referral_isco08_label'] = bucharest_rem['referral_isco08_label'].where(
    bucharest_rem['referral_isco08_label'] != -1, np.nan).astype('Int64')

bucharest_rem['referee_medical'] = bucharest_rem['referee_medical'].where(
    bucharest_rem['referee_medical'] != -1, np.nan).astype('Int64')
bucharest_rem['referral_medical'] = bucharest_rem['referral_medical'].where(
    bucharest_rem['referral_medical'] != -1, np.nan).astype('Int64')

In [43]:
bucharest_rem['age_difference'] = abs(
    bucharest_rem['referee_age'] - bucharest_rem['referral_age']).astype('Int64')
bucharest_rem['gender_difference'] = abs(
    bucharest_rem['referee_gender'] - bucharest_rem['referral_gender']).astype('Int64')
bucharest_rem['isco08_label_difference'] = abs(
    bucharest_rem['referee_isco08_label'] - bucharest_rem['referral_isco08_label']).astype('Int64')
bucharest_rem['medical_difference'] = abs(
    bucharest_rem['referee_medical'] - bucharest_rem['referral_medical']).astype('Int64')
bucharest_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_isco08_label,referral_isco08_label,referee_medical,referral_medical,age_difference,gender_difference,isco08_label_difference,medical_difference
0,1,53594,10330S53594,200801,contact_nomination,1.0,0.0,289176,1596232800000,2,...,2,<NA>,20,12,2,0,11,<NA>,8,2
1,1,53594,10331S53594,200801,contact_nomination,1.0,0.0,289177,1596232800000,2,...,2,<NA>,20,20,2,2,34,<NA>,0,0
2,0,158714,12851S160980,200801,NaN,0.0,NaN,289177,1596232800000,2,...,1,<NA>,9,20,0,2,16,<NA>,11,2
3,0,49897,116510,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,1,20,20,2,2,29,1,0,0
4,0,75285,1902,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,1,20,20,2,2,19,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351048,0,56685,3483S104124,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,<NA>,20,20,2,2,13,<NA>,0,0
1351049,0,764S170418,1759S168278,201031,NaN,0.0,NaN,302552,1604098800000,91,...,<NA>,<NA>,20,11,2,0,19,<NA>,9,2
1351050,0,990S136878,744S81036,201031,NaN,0.0,NaN,302552,1604098800000,91,...,<NA>,<NA>,11,20,0,2,41,<NA>,9,2
1351051,0,58671,139927,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,1,20,9,2,0,18,1,11,2
1351052,0,119949,12370S167168,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,<NA>,20,20,2,2,32,<NA>,0,0

In [44]:
bucharest_rem['isco08_label_difference'] = bucharest_rem['isco08_label_difference'].where(bucharest_rem['isco08_label_difference'] == 0, 1)
bucharest_rem['medical_difference'] = bucharest_rem['medical_difference'].where(bucharest_rem['medical_difference'] == 0, 1)
bucharest_rem['isco08_label_difference'].unique(), bucharest_rem['medical_difference'].unique()

(<IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64,
 <IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64)

In [45]:
bucharest_rem.to_csv('../Data/Tables/rem/bucharest_eventlist_nomination.csv')

## Cond referee

In [46]:
bucharest_rem_cond_referee = pd.read_csv('../Data/Tables/rem/bucharest_eventlist_nomination_cond_referee.csv',
                         low_memory=False)

In [47]:
bucharest_rem_cond_referee['referee_age'] = bucharest_rem_cond_referee['referee_age'].where(
    bucharest_rem_cond_referee['referee_age'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referee['referral_age'] = bucharest_rem_cond_referee['referral_age'].where(
    bucharest_rem_cond_referee['referral_age'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referee['referee_gender'] = bucharest_rem_cond_referee['referee_gender'].where(
    bucharest_rem_cond_referee['referee_gender'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referee['referral_gender'] = bucharest_rem_cond_referee['referral_gender'].where(
    bucharest_rem_cond_referee['referral_gender'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referee['referee_isco08_label'] = bucharest_rem_cond_referee['referee_isco08_label'].where(
    bucharest_rem_cond_referee['referee_isco08_label'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referee['referral_isco08_label'] = bucharest_rem_cond_referee['referral_isco08_label'].where(
    bucharest_rem_cond_referee['referral_isco08_label'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referee['referee_medical'] = bucharest_rem_cond_referee['referee_medical'].where(
    bucharest_rem_cond_referee['referee_medical'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referee['referral_medical'] = bucharest_rem_cond_referee['referral_medical'].where(
    bucharest_rem_cond_referee['referral_medical'] != -1, np.nan).astype('Int64')

In [48]:
bucharest_rem_cond_referee['age_difference'] = abs(
    bucharest_rem_cond_referee['referee_age'] - bucharest_rem_cond_referee['referral_age']).astype('Int64')
bucharest_rem_cond_referee['gender_difference'] = abs(
    bucharest_rem_cond_referee['referee_gender'] - bucharest_rem_cond_referee['referral_gender']).astype('Int64')
bucharest_rem_cond_referee['isco08_label_difference'] = abs(
    bucharest_rem_cond_referee['referee_isco08_label'] - bucharest_rem_cond_referee['referral_isco08_label']).astype('Int64')
bucharest_rem_cond_referee['medical_difference'] = abs(
    bucharest_rem_cond_referee['referee_medical'] - bucharest_rem_cond_referee['referral_medical']).astype('Int64')
bucharest_rem_cond_referee

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_isco08_label,referral_isco08_label,referee_medical,referral_medical,age_difference,gender_difference,isco08_label_difference,medical_difference
0,1,53594,10330S53594,200801,contact_nomination,1.0,0.0,289176,1596232800000,2,...,2,<NA>,20,12,2,0,11,<NA>,8,2
1,1,53594,10331S53594,200801,contact_nomination,1.0,0.0,289177,1596232800000,2,...,2,<NA>,20,20,2,2,34,<NA>,0,0
2,0,53594,156709,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,2,20,20,2,2,17,0,0,0
3,0,53594,327835,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,2,20,20,2,2,4,0,0,0
4,0,53594,319773,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,1,20,20,2,2,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351046,0,251239,3708S161239,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,<NA>,20,20,2,2,18,<NA>,0,0
1351047,0,251229,161879,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,1,20,20,2,2,1,0,0,0
1351048,0,252582,256358,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,1,20,20,2,2,15,0,0,0
1351049,0,253872,60921,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,1,20,20,2,2,10,1,0,0
1351050,0,251542,180033,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,1,20,20,2,2,4,0,0,0

In [49]:
bucharest_rem_cond_referee['isco08_label_difference'] = bucharest_rem_cond_referee['isco08_label_difference'].where(bucharest_rem_cond_referee['isco08_label_difference'] == 0, 1)
bucharest_rem_cond_referee['medical_difference'] = bucharest_rem_cond_referee['medical_difference'].where(bucharest_rem_cond_referee['medical_difference'] == 0, 1)
bucharest_rem_cond_referee['isco08_label_difference'].unique(), bucharest_rem_cond_referee['medical_difference'].unique()

(<IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64,
 <IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64)

In [50]:
bucharest_rem_cond_referee.to_csv('../Data/Tables/rem/bucharest_eventlist_nomination_cond_referee.csv')

## Cond referral

In [51]:
bucharest_rem_cond_referral = pd.read_csv('../Data/Tables/rem/bucharest_eventlist_nomination_cond_referral.csv',
                         low_memory=False)

In [52]:
bucharest_rem_cond_referral['referee_age'] = bucharest_rem_cond_referral['referee_age'].where(
    bucharest_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referral['referral_age'] = bucharest_rem_cond_referral['referral_age'].where(
    bucharest_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referral['referee_gender'] = bucharest_rem_cond_referral['referee_gender'].where(
    bucharest_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referral['referral_gender'] = bucharest_rem_cond_referral['referral_gender'].where(
    bucharest_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referral['referee_isco08_label'] = bucharest_rem_cond_referral['referee_isco08_label'].where(
    bucharest_rem_cond_referral['referee_isco08_label'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referral['referral_isco08_label'] = bucharest_rem_cond_referral['referral_isco08_label'].where(
    bucharest_rem_cond_referral['referral_isco08_label'] != -1, np.nan).astype('Int64')

bucharest_rem_cond_referral['referee_medical'] = bucharest_rem_cond_referral['referee_medical'].where(
    bucharest_rem_cond_referral['referee_medical'] != -1, np.nan).astype('Int64')
bucharest_rem_cond_referral['referral_medical'] = bucharest_rem_cond_referral['referral_medical'].where(
    bucharest_rem_cond_referral['referral_medical'] != -1, np.nan).astype('Int64')

In [53]:
bucharest_rem_cond_referral['age_difference'] = abs(
    bucharest_rem_cond_referral['referee_age'] - bucharest_rem_cond_referral['referral_age']).astype('Int64')
bucharest_rem_cond_referral['gender_difference'] = abs(
    bucharest_rem_cond_referral['referee_gender'] - bucharest_rem_cond_referral['referral_gender']).astype('Int64')
bucharest_rem_cond_referral['isco08_label_difference'] = abs(
    bucharest_rem_cond_referral['referee_isco08_label'] - bucharest_rem_cond_referral['referral_isco08_label']).astype('Int64')
bucharest_rem_cond_referral['medical_difference'] = abs(
    bucharest_rem_cond_referral['referee_medical'] - bucharest_rem_cond_referral['referral_medical']).astype('Int64')
bucharest_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_gender,referral_gender,referee_isco08_label,referral_isco08_label,referee_medical,referral_medical,age_difference,gender_difference,isco08_label_difference,medical_difference
0,1,53594,10330S53594,200801,contact_nomination,1.0,0.0,289176,1596232800000,2,...,2,<NA>,20,12,2,0,11,<NA>,8,2
1,1,53594,10331S53594,200801,contact_nomination,1.0,0.0,289177,1596232800000,2,...,2,<NA>,20,20,2,2,34,<NA>,0,0
2,0,3976,10331S53594,200801,NaN,0.0,NaN,289177,1596232800000,2,...,2,<NA>,9,20,2,2,25,<NA>,11,0
3,0,138031,10330S53594,200801,NaN,0.0,NaN,289177,1596232800000,2,...,1,<NA>,20,12,2,0,4,<NA>,8,2
4,0,315791,10331S53594,200801,NaN,0.0,NaN,289177,1596232800000,2,...,1,<NA>,20,20,2,2,31,<NA>,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351051,0,46284,1091S252582,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,<NA>,20,20,2,2,31,<NA>,0,0
1351052,0,193799,7199S251497,201031,NaN,0.0,NaN,302552,1604098800000,91,...,1,<NA>,20,20,2,2,22,<NA>,0,0
1351053,0,2552S67983,6781S251480,201031,NaN,0.0,NaN,302552,1604098800000,91,...,<NA>,<NA>,11,11,0,0,4,<NA>,0,0
1351054,0,178783,10306S247647,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,<NA>,20,12,2,0,31,<NA>,8,2
1351055,0,67337,6249S251542,201031,NaN,0.0,NaN,302552,1604098800000,91,...,2,<NA>,17,14,2,0,36,<NA>,3,2

In [54]:
bucharest_rem_cond_referral['isco08_label_difference'] = bucharest_rem_cond_referral['isco08_label_difference'].where(bucharest_rem_cond_referral['isco08_label_difference'] == 0, 1)
bucharest_rem_cond_referral['medical_difference'] = bucharest_rem_cond_referral['medical_difference'].where(bucharest_rem_cond_referral['medical_difference'] == 0, 1)
bucharest_rem_cond_referral['isco08_label_difference'].unique(), bucharest_rem_cond_referral['medical_difference'].unique()

(<IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64,
 <IntegerArray>
 [1, 0]
 Length: 2, dtype: Int64)

In [55]:
bucharest_rem_cond_referral.to_csv('../Data/Tables/rem/bucharest_eventlist_nomination_cond_referral.csv')

# China

## Uncond

In [56]:
china_rem = pd.read_csv('../Data/Tables/rem/china_eventlist_nomination.csv',
                                          low_memory=False)
china_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referee_residency,referral_residency,referee_place_event,referral_place_event,referee_symptom,referral_symptom,referee_symptom_severity,referral_symptom_severity,referee_place_admission,referral_place_admission
0,1,shijiazhuang-155,shijiazhuang-176,200109,contact_nomination,1.0,0.0,207017,1578524400000,2,...,244,244,748,1365,55,14,4,4,172,172
1,1,shijiazhuang-155,shijiazhuang-156,200109,contact_nomination,1.0,0.0,207018,1578524400000,2,...,244,244,748,748,55,55,4,4,172,172
2,1,shijiazhuang-150,shijiazhuang-38,200109,contact_nomination,1.0,1.0,207019,1578524400000,2,...,244,244,994,1038,55,55,4,4,172,172
3,1,shijiazhuang-150,shijiazhuang-151,200109,contact_nomination,1.0,1.0,207020,1578524400000,2,...,244,244,994,748,55,55,4,4,172,172
4,1,shijiazhuang-145,shijiazhuang-146,200109,contact_nomination,1.0,2.0,207021,1578524400000,2,...,244,244,1010,1019,186,186,4,4,172,172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971981,0,hulunbeier-26,beijing-395,220208,NaN,0.0,NaN,218452,1644274800000,254,...,355,26,575,748,55,55,4,3,237,18
971982,0,an-527,xinyang-203,220208,NaN,0.0,NaN,218452,1644274800000,254,...,480,287,748,748,14,186,4,4,314,206
971983,0,yangzhou-160,shijiazhuang-156,220208,NaN,0.0,NaN,218452,1644274800000,254,...,480,244,748,748,55,55,2,4,256,172
971984,0,guangzhou-63,tianjin-57,220208,NaN,0.0,NaN,218452,1644274800000,254,...,500,649,375,748,225,186,4,3,109,401
971985,0,hulunbeier-64,guilin-12,220208,NaN,0.0,NaN,218452,1644274800000,254,...,355,310,555,1254,55,114,4,3,237,135

In [57]:
china_rem['referee_age'] = china_rem['referee_age'].where(
    china_rem['referee_age'] != -1, np.nan).astype('Int64')
china_rem['referral_age'] = china_rem['referral_age'].where(
    china_rem['referral_age'] != -1, np.nan).astype('Int64')

china_rem['referee_gender'] = china_rem['referee_gender'].where(
    china_rem['referee_gender'] != -1, np.nan).astype('Int64')
china_rem['referral_gender'] = china_rem['referral_gender'].where(
    china_rem['referral_gender'] != -1, np.nan).astype('Int64')

china_rem['referee_residency'] = china_rem['referee_residency'].where(
    china_rem['referee_residency'] != -1, np.nan).astype('Int64')
china_rem['referral_residency'] = china_rem['referral_residency'].where(
    china_rem['referral_residency'] != -1, np.nan).astype('Int64')

china_rem['referee_place_event'] = china_rem['referee_place_event'].where(
    china_rem['referee_place_event'] != -1, np.nan).astype('Int64')
china_rem['referral_place_event'] = china_rem['referral_place_event'].where(
    china_rem['referral_place_event'] != -1, np.nan).astype('Int64')

china_rem['referee_symptom'] = china_rem['referee_symptom'].where(
    china_rem['referee_symptom'] != -1, np.nan).astype('Int64')
china_rem['referral_symptom'] = china_rem['referral_symptom'].where(
    china_rem['referral_symptom'] != -1, np.nan).astype('Int64')

china_rem['referee_symptom_severity'] = china_rem['referee_symptom_severity'].where(
    china_rem['referee_symptom_severity'] != -1, np.nan).astype('Int64')
china_rem['referral_symptom_severity'] = china_rem['referral_symptom_severity'].where(
    china_rem['referral_symptom_severity'] != -1, np.nan).astype('Int64')

china_rem['referee_place_admission'] = china_rem['referee_place_admission'].where(
    china_rem['referee_place_admission'] != -1, np.nan).astype('Int64')
china_rem['referral_place_admission'] = china_rem['referral_place_admission'].where(
    china_rem['referral_place_admission'] != -1, np.nan).astype('Int64')

In [58]:
china_rem['age_difference'] = abs(
    china_rem['referee_age'] - china_rem['referral_age']).astype('Int64')
china_rem['gender_difference'] = abs(
    china_rem['referee_gender'] - china_rem['referral_gender']).astype('Int64')
china_rem['residency_difference'] = abs(
    china_rem['referee_residency'] - china_rem['referral_residency']).astype('Int64')
china_rem['place_event_difference'] = abs(
    china_rem['referee_place_event'] - china_rem['referral_place_event']).astype('Int64')
china_rem['symptom_difference'] = abs(
    china_rem['referee_symptom'] - china_rem['referral_symptom']).astype('Int64')
china_rem['symptom_severity_difference'] = abs(
    china_rem['referee_symptom_severity'] - china_rem['referral_symptom_severity']).astype('Int64')
china_rem['place_admission_difference'] = abs(
    china_rem['referee_place_admission'] - china_rem['referral_place_admission']).astype('Int64')
china_rem

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referral_symptom_severity,referee_place_admission,referral_place_admission,age_difference,gender_difference,residency_difference,place_event_difference,symptom_difference,symptom_severity_difference,place_admission_difference
0,1,shijiazhuang-155,shijiazhuang-176,200109,contact_nomination,1.0,0.0,207017,1578524400000,2,...,4,172,172,32,1,0,617,41,0,0
1,1,shijiazhuang-155,shijiazhuang-156,200109,contact_nomination,1.0,0.0,207018,1578524400000,2,...,4,172,172,6,0,0,0,0,0,0
2,1,shijiazhuang-150,shijiazhuang-38,200109,contact_nomination,1.0,1.0,207019,1578524400000,2,...,4,172,172,52,0,0,44,0,0,0
3,1,shijiazhuang-150,shijiazhuang-151,200109,contact_nomination,1.0,1.0,207020,1578524400000,2,...,4,172,172,30,0,0,246,0,0,0
4,1,shijiazhuang-145,shijiazhuang-146,200109,contact_nomination,1.0,2.0,207021,1578524400000,2,...,4,172,172,37,0,0,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971981,0,hulunbeier-26,beijing-395,220208,NaN,0.0,NaN,218452,1644274800000,254,...,3,237,18,<NA>,1,329,173,0,1,219
971982,0,an-527,xinyang-203,220208,NaN,0.0,NaN,218452,1644274800000,254,...,4,314,206,15,1,193,0,172,0,108
971983,0,yangzhou-160,shijiazhuang-156,220208,NaN,0.0,NaN,218452,1644274800000,254,...,4,256,172,47,1,236,0,0,2,84
971984,0,guangzhou-63,tianjin-57,220208,NaN,0.0,NaN,218452,1644274800000,254,...,3,109,401,1,0,149,373,39,1,292
971985,0,hulunbeier-64,guilin-12,220208,NaN,0.0,NaN,218452,1644274800000,254,...,3,237,135,<NA>,1,45,699,59,1,102

In [59]:
china_rem['residency_difference'] = china_rem['residency_difference'].where(china_rem['residency_difference'] == 0, 1)
china_rem['place_event_difference'] = china_rem['place_event_difference'].where(china_rem['place_event_difference'] == 0, 1)
china_rem['symptom_difference'] = china_rem['symptom_difference'].where(china_rem['symptom_difference'] == 0, 1)
china_rem['symptom_severity_difference'] = china_rem['symptom_severity_difference'].where(china_rem['symptom_severity_difference'] == 0, 1)
china_rem['place_admission_difference'] = china_rem['place_admission_difference'].where(china_rem['place_admission_difference'] == 0, 1)

In [60]:
china_rem.to_csv('../Data/Tables/rem/china_eventlist_nomination.csv')

## Cond referee

In [61]:
china_rem_cond_referee = pd.read_csv('../Data/Tables/rem/china_eventlist_nomination_cond_referee.csv',
                                          low_memory=False)

In [62]:
china_rem_cond_referee['referee_age'] = china_rem_cond_referee['referee_age'].where(
    china_rem_cond_referee['referee_age'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_age'] = china_rem_cond_referee['referral_age'].where(
    china_rem_cond_referee['referral_age'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_gender'] = china_rem_cond_referee['referee_gender'].where(
    china_rem_cond_referee['referee_gender'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_gender'] = china_rem_cond_referee['referral_gender'].where(
    china_rem_cond_referee['referral_gender'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_residency'] = china_rem_cond_referee['referee_residency'].where(
    china_rem_cond_referee['referee_residency'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_residency'] = china_rem_cond_referee['referral_residency'].where(
    china_rem_cond_referee['referral_residency'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_place_event'] = china_rem_cond_referee['referee_place_event'].where(
    china_rem_cond_referee['referee_place_event'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_place_event'] = china_rem_cond_referee['referral_place_event'].where(
    china_rem_cond_referee['referral_place_event'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_symptom'] = china_rem_cond_referee['referee_symptom'].where(
    china_rem_cond_referee['referee_symptom'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_symptom'] = china_rem_cond_referee['referral_symptom'].where(
    china_rem_cond_referee['referral_symptom'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_symptom_severity'] = china_rem_cond_referee['referee_symptom_severity'].where(
    china_rem_cond_referee['referee_symptom_severity'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_symptom_severity'] = china_rem_cond_referee['referral_symptom_severity'].where(
    china_rem_cond_referee['referral_symptom_severity'] != -1, np.nan).astype('Int64')

china_rem_cond_referee['referee_place_admission'] = china_rem_cond_referee['referee_place_admission'].where(
    china_rem_cond_referee['referee_place_admission'] != -1, np.nan).astype('Int64')
china_rem_cond_referee['referral_place_admission'] = china_rem_cond_referee['referral_place_admission'].where(
    china_rem_cond_referee['referral_place_admission'] != -1, np.nan).astype('Int64')

In [63]:
china_rem_cond_referee['age_difference'] = abs(
    china_rem_cond_referee['referee_age'] - china_rem_cond_referee['referral_age']).astype('Int64')
china_rem_cond_referee['gender_difference'] = abs(
    china_rem_cond_referee['referee_gender'] - china_rem_cond_referee['referral_gender']).astype('Int64')
china_rem_cond_referee['residency_difference'] = abs(
    china_rem_cond_referee['referee_residency'] - china_rem_cond_referee['referral_residency']).astype('Int64')
china_rem_cond_referee['place_event_difference'] = abs(
    china_rem_cond_referee['referee_place_event'] - china_rem_cond_referee['referral_place_event']).astype('Int64')
china_rem_cond_referee['symptom_difference'] = abs(
    china_rem_cond_referee['referee_symptom'] - china_rem_cond_referee['referral_symptom']).astype('Int64')
china_rem_cond_referee['symptom_severity_difference'] = abs(
    china_rem_cond_referee['referee_symptom_severity'] - china_rem_cond_referee['referral_symptom_severity']).astype('Int64')
china_rem_cond_referee['place_admission_difference'] = abs(
    china_rem_cond_referee['referee_place_admission'] - china_rem_cond_referee['referral_place_admission']).astype('Int64')
china_rem_cond_referee

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referral_symptom_severity,referee_place_admission,referral_place_admission,age_difference,gender_difference,residency_difference,place_event_difference,symptom_difference,symptom_severity_difference,place_admission_difference
0,1,shijiazhuang-155,shijiazhuang-176,200109,contact_nomination,1.0,0.0,207017,1578524400000,2,...,4,172,172,32,1,0,617,41,0,0
1,1,shijiazhuang-155,shijiazhuang-156,200109,contact_nomination,1.0,0.0,207018,1578524400000,2,...,4,172,172,6,0,0,0,0,0,0
2,1,shijiazhuang-150,shijiazhuang-38,200109,contact_nomination,1.0,1.0,207019,1578524400000,2,...,4,172,172,52,0,0,44,0,0,0
3,1,shijiazhuang-150,shijiazhuang-151,200109,contact_nomination,1.0,1.0,207020,1578524400000,2,...,4,172,172,30,0,0,246,0,0,0
4,1,shijiazhuang-145,shijiazhuang-146,200109,contact_nomination,1.0,2.0,207021,1578524400000,2,...,4,172,172,37,0,0,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971994,0,yangzhou-68,shanghai-438,220208,NaN,0.0,NaN,218452,1644274800000,254,...,4,256,339,<NA>,2,204,697,0,4,83
971995,0,yangzhou-68,mudanjiang-135,220208,NaN,0.0,NaN,218452,1644274800000,254,...,4,256,185,55,1,300,0,0,4,71
971996,0,yangzhou-68,xinyu-5,220208,NaN,0.0,NaN,218452,1644274800000,254,...,3,256,263,32,1,162,764,0,3,7
971997,0,yangzhou-68,changzhou-31,220208,NaN,0.0,NaN,218452,1644274800000,254,...,3,256,245,26,0,105,0,0,3,11
971998,0,yangzhou-68,beijing-3,220208,NaN,0.0,NaN,218452,1644274800000,254,...,4,256,18,23,1,443,760,38,4,238

In [64]:
china_rem_cond_referee['residency_difference'] = china_rem_cond_referee['residency_difference'].where(china_rem_cond_referee['residency_difference'] == 0, 1)
china_rem_cond_referee['place_event_difference'] = china_rem_cond_referee['place_event_difference'].where(china_rem_cond_referee['place_event_difference'] == 0, 1)
china_rem_cond_referee['symptom_difference'] = china_rem_cond_referee['symptom_difference'].where(china_rem_cond_referee['symptom_difference'] == 0, 1)
china_rem_cond_referee['symptom_severity_difference'] = china_rem_cond_referee['symptom_severity_difference'].where(china_rem_cond_referee['symptom_severity_difference'] == 0, 1)
china_rem_cond_referee['place_admission_difference'] = china_rem_cond_referee['place_admission_difference'].where(china_rem_cond_referee['place_admission_difference'] == 0, 1)

In [65]:
china_rem_cond_referee.to_csv('../Data/Tables/rem/china_eventlist_nomination_cond_referee.csv')

## Cond referral

In [66]:
china_rem_cond_referral = pd.read_csv('../Data/Tables/rem/china_eventlist_nomination_cond_referral.csv',
                                          low_memory=False)

In [67]:
china_rem_cond_referral['referee_age'] = china_rem_cond_referral['referee_age'].where(
    china_rem_cond_referral['referee_age'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_age'] = china_rem_cond_referral['referral_age'].where(
    china_rem_cond_referral['referral_age'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_gender'] = china_rem_cond_referral['referee_gender'].where(
    china_rem_cond_referral['referee_gender'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_gender'] = china_rem_cond_referral['referral_gender'].where(
    china_rem_cond_referral['referral_gender'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_residency'] = china_rem_cond_referral['referee_residency'].where(
    china_rem_cond_referral['referee_residency'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_residency'] = china_rem_cond_referral['referral_residency'].where(
    china_rem_cond_referral['referral_residency'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_place_event'] = china_rem_cond_referral['referee_place_event'].where(
    china_rem_cond_referral['referee_place_event'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_place_event'] = china_rem_cond_referral['referral_place_event'].where(
    china_rem_cond_referral['referral_place_event'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_symptom'] = china_rem_cond_referral['referee_symptom'].where(
    china_rem_cond_referral['referee_symptom'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_symptom'] = china_rem_cond_referral['referral_symptom'].where(
    china_rem_cond_referral['referral_symptom'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_symptom_severity'] = china_rem_cond_referral['referee_symptom_severity'].where(
    china_rem_cond_referral['referee_symptom_severity'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_symptom_severity'] = china_rem_cond_referral['referral_symptom_severity'].where(
    china_rem_cond_referral['referral_symptom_severity'] != -1, np.nan).astype('Int64')

china_rem_cond_referral['referee_place_admission'] = china_rem_cond_referral['referee_place_admission'].where(
    china_rem_cond_referral['referee_place_admission'] != -1, np.nan).astype('Int64')
china_rem_cond_referral['referral_place_admission'] = china_rem_cond_referral['referral_place_admission'].where(
    china_rem_cond_referral['referral_place_admission'] != -1, np.nan).astype('Int64')

In [68]:
china_rem_cond_referral['age_difference'] = abs(
    china_rem_cond_referral['referee_age'] - china_rem_cond_referral['referral_age']).astype('Int64')
china_rem_cond_referral['gender_difference'] = abs(
    china_rem_cond_referral['referee_gender'] - china_rem_cond_referral['referral_gender']).astype('Int64')
china_rem_cond_referral['residency_difference'] = abs(
    china_rem_cond_referral['referee_residency'] - china_rem_cond_referral['referral_residency']).astype('Int64')
china_rem_cond_referral['place_event_difference'] = abs(
    china_rem_cond_referral['referee_place_event'] - china_rem_cond_referral['referral_place_event']).astype('Int64')
china_rem_cond_referral['symptom_difference'] = abs(
    china_rem_cond_referral['referee_symptom'] - china_rem_cond_referral['referral_symptom']).astype('Int64')
china_rem_cond_referral['symptom_severity_difference'] = abs(
    china_rem_cond_referral['referee_symptom_severity'] - china_rem_cond_referral['referral_symptom_severity']).astype('Int64')
china_rem_cond_referral['place_admission_difference'] = abs(
    china_rem_cond_referral['referee_place_admission'] - china_rem_cond_referral['referral_place_admission']).astype('Int64')
china_rem_cond_referral

,IS_OBSERVED,SOURCE,TARGET,TIME,TYPE,WEIGHT,EVENT_INTERVAL_ID,EVENT,INTEGER_TIME,TIME_POINT,...,referral_symptom_severity,referee_place_admission,referral_place_admission,age_difference,gender_difference,residency_difference,place_event_difference,symptom_difference,symptom_severity_difference,place_admission_difference
0,1,shijiazhuang-155,shijiazhuang-176,200109,contact_nomination,1.0,0.0,207017,1578524400000,2,...,4,172,172,32,1,0,617,41,0,0
1,1,shijiazhuang-155,shijiazhuang-156,200109,contact_nomination,1.0,0.0,207018,1578524400000,2,...,4,172,172,6,0,0,0,0,0,0
2,1,shijiazhuang-150,shijiazhuang-38,200109,contact_nomination,1.0,1.0,207019,1578524400000,2,...,4,172,172,52,0,0,44,0,0,0
3,1,shijiazhuang-150,shijiazhuang-151,200109,contact_nomination,1.0,1.0,207020,1578524400000,2,...,4,172,172,30,0,0,246,0,0,0
4,1,shijiazhuang-145,shijiazhuang-146,200109,contact_nomination,1.0,2.0,207021,1578524400000,2,...,4,172,172,37,0,0,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971988,0,luohe-28,yangzhou-76,220208,NaN,0.0,NaN,218452,1644274800000,254,...,0,198,256,56,0,202,0,0,4,58
971989,0,zhengzhou-165,yangzhou-76,220208,NaN,0.0,NaN,218452,1644274800000,254,...,0,472,256,<NA>,1,283,1108,0,4,216
971990,0,kunming-164,yangzhou-76,220208,NaN,0.0,NaN,218452,1644274800000,254,...,0,450,256,29,0,0,519,0,4,194
971991,0,xuchang-148,yangzhou-76,220208,NaN,0.0,NaN,218452,1644274800000,254,...,0,207,256,18,1,192,357,0,4,49
971992,0,alxa-152,yangzhou-76,220208,NaN,0.0,NaN,218452,1644274800000,254,...,0,231,256,3,0,126,0,0,4,25

In [69]:
china_rem_cond_referral['residency_difference'] = china_rem_cond_referral['residency_difference'].where(china_rem_cond_referral['residency_difference'] == 0, 1)
china_rem_cond_referral['place_event_difference'] = china_rem_cond_referral['place_event_difference'].where(china_rem_cond_referral['place_event_difference'] == 0, 1)
china_rem_cond_referral['symptom_difference'] = china_rem_cond_referral['symptom_difference'].where(china_rem_cond_referral['symptom_difference'] == 0, 1)
china_rem_cond_referral['symptom_severity_difference'] = china_rem_cond_referral['symptom_severity_difference'].where(china_rem_cond_referral['symptom_severity_difference'] == 0, 1)
china_rem_cond_referral['place_admission_difference'] = china_rem_cond_referral['place_admission_difference'].where(china_rem_cond_referral['place_admission_difference'] == 0, 1)

In [70]:
china_rem_cond_referral.to_csv('../Data/Tables/rem/china_eventlist_nomination_cond_referral.csv')