In [1]:
import pandas as pd

# Case contact networks

In [2]:
yunnan_hainan = pd.read_stata('./Data/Yunnan & Hainan/Contact Network of Hainan and Yunnan.dta')
yunnan_hainan

,Date,No,Noingroup,Gender,Age,Arrivedate,Feverdate,Diagnosedate,Strangers,weakties,...,arrivediagtime,source,mage,mfever,mdiag,WeightedDegree,clustering,triangles,eigencentrality,Province
0,20200117,1,1,1.0,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
1,20200122,2,1,1.0,53.0,20200116.0,20200116.0,20200122.0,NaN,NaN,...,NaN,1.0,53.000000,NaN,6.0,NaN,NaN,NaN,NaN,Yunnan
2,20200124,3,1,0.0,39.0,20200115.0,NaN,20200122.0,1.0,1.0,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
3,20200124,4,2,0.0,34.0,20200120.0,NaN,20200123.0,NaN,NaN,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
4,20200124,5,3,1.0,49.0,20200121.0,NaN,20200123.0,NaN,NaN,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,20200214,161,4,0.0,58.0,20200125.0,NaN,20200125.0,1.0,1.0,...,0.0,1.0,49.000000,66.0,12.0,3.0,1.0,3.0,0.056348,Hainan
329,20200214,158,1,1.0,62.0,NaN,NaN,20200208.0,0.0,0.0,...,NaN,0.0,49.000000,66.0,12.0,6.0,1.0,15.0,1.000000,Hainan
330,20200214,160,3,0.0,25.0,NaN,NaN,20200208.0,0.0,0.0,...,NaN,0.0,49.000000,66.0,12.0,6.0,1.0,15.0,1.000000,Hainan
331,20200214,159,2,0.0,27.0,20200125.0,NaN,20200125.0,1.0,1.0,...,0.0,1.0,49.000000,66.0,12.0,3.0,1.0,3.0,0.056348,Hainan
332,20200214,162,5,1.0,73.0,20191124.0,20200129.0,20200210.0,1.0,1.0,...,78.0,0.0,49.000000,66.0,12.0,0.0,0.0,0.0,0.000000,Hainan

In [3]:
yunnan = yunnan_hainan.loc[yunnan_hainan['Province'] == 'Yunnan']
hainan = yunnan_hainan.loc[yunnan_hainan['Province'] == 'Hainan']

## Yunnan Dataset

In [4]:
yunnan.columns

Index(['Date', 'No', 'Noingroup', 'Gender', 'Age', 'Arrivedate', 'Feverdate',
       'Diagnosedate', 'Strangers', 'weakties', 'strongties', 'relatives',
       'ties1', 'ties2', 'ties3', 'ties4', 'ties5', 'ties6', 'ties7', 'ties8',
       'ties9', 'Degree', 'Weighteddegree', 'modularity_class', 'pageranks',
       'componentnumber', 'Eccentricity', 'closnesscentrality',
       'harmonicclosnesscentrality', 'betweenesscentrality', 'year0', 'month0',
       'day0', 'date1', 'year', 'month', 'day', 'feverdate1', 'year1',
       'month1', 'day1', 'arrivedate1', 'year2', 'month2', 'day2', 'diagdate',
       'fevertime', 'diagtime', 'arrivediagtime', 'source', 'mage', 'mfever',
       'mdiag', 'WeightedDegree', 'clustering', 'triangles', 'eigencentrality',
       'Province'],
      dtype='object')

In [5]:
yunnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        171 non-null    int32
 1   No                          171 non-null    int16
 2   Noingroup                   171 non-null    int8
 3   Gender                      120 non-null    float64
 4   Age                         119 non-null    float64
 5   Arrivedate                  90 non-null     float64
 6   Feverdate                   31 non-null     float64
 7   Diagnosedate                119 non-null    float64
 8   Strangers                   60 non-null     float64
 9   weakties                    60 non-null     float64
 10  strongties                  60 non-null     float64
 11  relatives                   60 non-null     float64
 12  ties1                       39 non-null     float64
 13  ties2                       19 non-null     float64
 14  ties3                       12 non-null     float64
 15  ties4                       9 non-null      float64
 16  ties5                       7 non-null      float64
 17  ties6                       6 non-null      float64
 18  ties7                       5 non-null      float64
 19  ties8                       4 non-null      float64
 20  ties9                       3 non-null      float64
 21  Degree                      171 non-null    int8
 22  Weighteddegree              171 non-null    float64
 23  modularity_class            171 non-null    int16
 24  pageranks                   171 non-null    float64
 25  componentnumber             171 non-null    int16
 26  Eccentricity                171 non-null    int8
 27  closnesscentrality          171 non-null    float64
 28  harmonicclosnesscentrality  171 non-null    float64
 29  betweenesscentrality        171 non-null    float64
 30  year0                       171 non-null    float32
 31  month0                      171 non-null    float32
 32  day0                        171 non-null    float32
 33  date1                       171 non-null    datetime64[ns]
 34  year                        31 non-null     float32
 35  month                       31 non-null     float32
 36  day                         31 non-null     float32
 37  feverdate1                  31 non-null     datetime64[ns]
 38  year1                       40 non-null     float32
 39  month1                      40 non-null     float32
 40  day1                        40 non-null     float32
 41  arrivedate1                 40 non-null     datetime64[ns]
 42  year2                       119 non-null    float32
 43  month2                      119 non-null    float32
 44  day2                        119 non-null    float32
 45  diagdate                    119 non-null    datetime64[ns]
 46  fevertime                   6 non-null      float32
 47  diagtime                    31 non-null     float32
 48  arrivediagtime              40 non-null     float32
 49  source                      132 non-null    float32
 50  mage                        119 non-null    float32
 51  mfever                      35 non-null     float32
 52  mdiag                       83 non-null     float32
 53  WeightedDegree              0 non-null      float64
 54  clustering                  0 non-null      float64
 55  triangles                   0 non-null      float64
 56  eigencentrality             0 non-null      float64
 57  Province                    171 non-null    category
dtypes: category(1), datetime64[ns](4), float32(19), float64(27), int16(3), int32(1), int8(3)
memory usage: 57.9 KB

In [6]:
yunnan['Date'].min(), yunnan['Date'].max()

(20200117, 20200216)

In [7]:
yunnan['Degree'].value_counts(), yunnan['Degree'].describe()

(0     114
 1      25
 12     13
 2      11
 3       6
 5       1
 4       1
 Name: Degree, dtype: int64,
 count    171.000000
 mean       1.345029
 std        3.186962
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        1.000000
 max       12.000000
 Name: Degree, dtype: float64)

In [8]:
yunnan['modularity_class'].value_counts().loc[yunnan['modularity_class'].value_counts() > 1]

125    13
86      6
131     4
115     3
129     3
109     3
80      3
13      2
103     2
113     2
107     2
110     2
78      2
0       2
72      2
127     2
73      2
120     2
Name: modularity_class, dtype: int64

In [14]:
yunnan[~yunnan['relatives'].isnull()]['relatives'].value_counts()

1.0    31
0.0    29
Name: relatives, dtype: int64

In [19]:
yunnan[~yunnan['Strangers'].isnull()][['relatives', 'Strangers', 'Degree']]

     relatives  Strangers  Degree
0          1.0        0.0       1
2          0.0        1.0       0
14         1.0        1.0       1
15         1.0        1.0       1
70         0.0        1.0       0
75         0.0        1.0       1
81         1.0        1.0       1
82         1.0        1.0       1
84         0.0        1.0       2
85         0.0        1.0       2
89         1.0        0.0       1
90         1.0        0.0       5
94         1.0        1.0       4
95         1.0        1.0       2
97         1.0        1.0       3
98         1.0        1.0       3
101        0.0        1.0       0
102        1.0        1.0       1
105        0.0        1.0       1
119        1.0        1.0       1
120        1.0        1.0       1
122        0.0        1.0       0
123        0.0        1.0       0
124        0.0        1.0       1
125        1.0        1.0       1
127        1.0        1.0       2
128        1.0        1.0       1
129        1.0        1.0       1
131        1.0        1.0       2
132        0.0        1.0       0
133        1.0        0.0       1
134        1.0        1.0       0
135        0.0        1.0       2
137        0.0        1.0       1
138        0.0        1.0      12
140        1.0        1.0       1
143        0.0        1.0       1
144        1.0        1.0       1
145        1.0        1.0       0
147        1.0        1.0       0
149        0.0        0.0      12
150        0.0        0.0      12
151        0.0        1.0       2
153        1.0        0.0       1
154        1.0        0.0       3
155        1.0        0.0       3
156        0.0        0.0      12
157        0.0        0.0      12
158        0.0        0.0      12
159        0.0        0.0      12
160        0.0        0.0      12
162        0.0        0.0      12
163        0.0        0.0      12
164        0.0        0.0      12
165        0.0        0.0      12
166        0.0        0.0      12
167        0.0        1.0       1
168        1.0        0.0       0
169        1.0        0.0       3
170        1.0        0.0       3

In [10]:
yunnan['Gender'].value_counts()

1.0    62
0.0    58
Name: Gender, dtype: int64

In [11]:
yunnan['Age'].describe()

count    119.000000
mean      41.092437
std       18.316424
min        3.000000
25%       26.000000
50%       40.000000
75%       54.000000
max       79.000000
Name: Age, dtype: float64

In [23]:
yunnan['Feverdate'].value_counts()

20200205.0    3
20200130.0    3
20200131.0    2
20200204.0    2
20200127.0    2
20200126.0    2
20200215.0    2
20200129.0    2
20200128.0    2
20200125.0    2
20200201.0    1
20200117.0    1
20200121.0    1
20200206.0    1
20200209.0    1
20200210.0    1
20200208.0    1
20200211.0    1
20200116.0    1
Name: Feverdate, dtype: int64

## Hainan Dataset

In [34]:
hainan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 171 to 332
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        162 non-null    int32
 1   No                          162 non-null    int16
 2   Noingroup                   162 non-null    int8
 3   Gender                      162 non-null    float64
 4   Age                         162 non-null    float64
 5   Arrivedate                  135 non-null    float64
 6   Feverdate                   32 non-null     float64
 7   Diagnosedate                147 non-null    float64
 8   Strangers                   162 non-null    float64
 9   weakties                    162 non-null    float64
 10  strongties                  162 non-null    float64
 11  relatives                   162 non-null    float64
 12  ties1                       60 non-null     float64
 13  ties2                       31 non-null     float64
 14  ties3                       16 non-null     float64
 15  ties4                       9 non-null      float64
 16  ties5                       5 non-null      float64
 17  ties6                       1 non-null      float64
 18  ties7                       0 non-null      float64
 19  ties8                       0 non-null      float64
 20  ties9                       0 non-null      float64
 21  Degree                      162 non-null    int8
 22  Weighteddegree              0 non-null      float64
 23  modularity_class            162 non-null    int16
 24  pageranks                   162 non-null    float64
 25  componentnumber             162 non-null    int16
 26  Eccentricity                162 non-null    int8
 27  closnesscentrality          162 non-null    float64
 28  harmonicclosnesscentrality  162 non-null    float64
 29  betweenesscentrality        162 non-null    float64
 30  year0                       162 non-null    float32
 31  month0                      162 non-null    float32
 32  day0                        162 non-null    float32
 33  date1                       162 non-null    datetime64[ns]
 34  year                        32 non-null     float32
 35  month                       32 non-null     float32
 36  day                         32 non-null     float32
 37  feverdate1                  32 non-null     datetime64[ns]
 38  year1                       135 non-null    float32
 39  month1                      135 non-null    float32
 40  day1                        135 non-null    float32
 41  arrivedate1                 133 non-null    datetime64[ns]
 42  year2                       147 non-null    float32
 43  month2                      147 non-null    float32
 44  day2                        147 non-null    float32
 45  diagdate                    147 non-null    datetime64[ns]
 46  fevertime                   23 non-null     float32
 47  diagtime                    31 non-null     float32
 48  arrivediagtime              118 non-null    float32
 49  source                      162 non-null    float32
 50  mage                        162 non-null    float32
 51  mfever                      63 non-null     float32
 52  mdiag                       78 non-null     float32
 53  WeightedDegree              162 non-null    float64
 54  clustering                  162 non-null    float64
 55  triangles                   162 non-null    float64
 56  eigencentrality             162 non-null    float64
 57  Province                    162 non-null    category
dtypes: category(1), datetime64[ns](4), float32(19), float64(27), int16(3), int32(1), int8(3)
memory usage: 54.9 KB

In [24]:
hainan['Date'].min(), hainan['Date'].max()

(20200122, 20200214)

In [25]:
hainan['Degree'].value_counts(), hainan['Degree'].describe()

(0    71
 1    27
 2    21
 3    21
 5     8
 6     8
 4     6
 Name: Degree, dtype: int64,
 count    162.000000
 mean       1.506173
 std        1.791099
 min        0.000000
 25%        0.000000
 50%        1.000000
 75%        3.000000
 max        6.000000
 Name: Degree, dtype: float64)

In [32]:
114/171, 71/162

(0.6666666666666666, 0.4382716049382716)

In [26]:
hainan['modularity_class'].value_counts().loc[hainan['modularity_class'].value_counts() > 1]

43    9
83    7
48    6
96    6
61    4
31    4
75    4
47    4
53    4
76    4
52    3
46    3
28    3
45    3
68    3
27    2
37    2
38    2
51    2
58    2
65    2
24    2
72    2
63    2
3     2
69    2
8     2
Name: modularity_class, dtype: int64

In [27]:
hainan[~hainan['relatives'].isnull()]['relatives'].value_counts()

0.0    87
1.0    75
Name: relatives, dtype: int64

In [28]:
hainan['Gender'].value_counts()

0.0    84
1.0    78
Name: Gender, dtype: int64

In [29]:
hainan['Age'].describe()

count    162.000000
mean      48.442901
std       17.268708
min        0.250000
25%       36.000000
50%       51.000000
75%       62.000000
max       79.000000
Name: Age, dtype: float64

In [30]:
hainan['Feverdate'].value_counts()

20200130.0    5
20200129.0    3
20200126.0    3
20200119.0    2
20200118.0    2
20200121.0    2
20200203.0    2
20200206.0    1
20200125.0    1
20200202.0    1
20200207.0    1
20200205.0    1
20200117.0    1
20200131.0    1
20200116.0    1
20200113.0    1
20200124.0    1
20200123.0    1
20200122.0    1
20200201.0    1
Name: Feverdate, dtype: int64

## Shanxi Dataset

In [33]:
shanxi = pd.read_stata('./Data/Shanxi/shannxi.dta')
shanxi

,Date,No,Noingroup,Gender,Age,Hukou,Source,Arrivedate,Feverdate,Diagnosedate,...,year2,month2,day2,diagdate,feverdate1,fevertime,diagtime,arrivediagtime,mfever,mdiag
0,20200123,1,1,1,42,xianyang,hubei,20200115.0,20200120.0,20200120.0,...,2020.0,1.0,20.0,2020-01-20,2020-01-20,5.0,0.0,5.0,3.333333,1.666667
1,20200123,2,2,0,32,xian,hangzhou,20200114.0,20200116.0,20200120.0,...,2020.0,1.0,20.0,2020-01-20,2020-01-16,2.0,4.0,6.0,3.333333,1.666667
2,20200123,3,3,1,22,xian,hubei,20200117.0,20200120.0,20200121.0,...,2020.0,1.0,21.0,2020-01-21,2020-01-20,3.0,1.0,4.0,3.333333,1.666667
3,20200124,4,1,1,49,ankang,hubei,20200119.0,20200119.0,20200121.0,...,2020.0,1.0,21.0,2020-01-21,2020-01-19,0.0,2.0,2.0,0.000000,1.000000
4,20200124,5,2,1,23,yanan,hubei,20200122.0,20200122.0,20200122.0,...,2020.0,1.0,22.0,2020-01-22,2020-01-22,0.0,0.0,0.0,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,20200215,233,2,0,67,weinan,weinan,NaN,20200203.0,20200203.0,...,2020.0,2.0,3.0,2020-02-03,2020-02-03,NaN,0.0,NaN,NaN,1.500000
233,20200216,234,1,1,46,hanzhong,ningbo,20200118.0,20200126.0,20200126.0,...,2020.0,1.0,26.0,2020-01-26,2020-01-26,8.0,0.0,8.0,8.000000,2.000000
234,20200216,235,2,1,71,hanzhong,hanzhong,NaN,20200131.0,20200204.0,...,2020.0,2.0,4.0,2020-02-04,2020-01-31,NaN,4.0,NaN,8.000000,2.000000
235,20200216,236,3,0,66,hanzhong,hanzhong,NaN,NaN,20200214.0,...,2020.0,2.0,14.0,2020-02-14,NaT,NaN,NaN,NaN,8.000000,2.000000
236,20200216,237,4,0,65,hanzhong,hanzhong,NaN,NaN,20200215.0,...,2020.0,2.0,15.0,2020-02-15,NaT,NaN,NaN,NaN,8.000000,2.000000

In [34]:
shanxi.columns

Index(['Date', 'No', 'Noingroup', 'Gender', 'Age', 'Hukou', 'Source',
       'Arrivedate', 'Feverdate', 'Diagnosedate', 'Strangers', 'weakties',
       'strongties', 'relatives', 'ties1', 'ties2', 'ties3', 'ties4', 'age2',
       'source', 'mage', 'tstrangers', 'tweakties', 'tstrongties',
       'trelatives', 'Label', 'timeset', 'Degree', 'WeightedDegree',
       'Eccentricity', 'closnesscentrality', 'harmonicclosnesscentrality',
       'betweenesscentrality', 'Authority', 'Hub', 'modularity_class',
       'pageranks', 'componentnumber', 'clustering', 'triangles',
       'eigencentrality', '_merge', 'year0', 'month0', 'day0', 'date1', 'year',
       'month', 'day', 'year1', 'month1', 'day1', 'arrivedate1', 'year2',
       'month2', 'day2', 'diagdate', 'feverdate1', 'fevertime', 'diagtime',
       'arrivediagtime', 'mfever', 'mdiag'],
      dtype='object')

In [29]:
shanxi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237 entries, 0 to 236
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        237 non-null    int32
 1   No                          237 non-null    int16
 2   Noingroup                   237 non-null    int8
 3   Gender                      237 non-null    int8
 4   Age                         237 non-null    int8
 5   Hukou                       237 non-null    object
 6   Source                      237 non-null    object
 7   Arrivedate                  112 non-null    float64
 8   Feverdate                   211 non-null    float64
 9   Diagnosedate                236 non-null    float64
 10  Strangers                   237 non-null    int8
 11  weakties                    237 non-null    int8
 12  strongties                  237 non-null    int8
 13  relatives                   237 non-null    int8
 14  ties1                       95 non-null     float64
 15  ties2                       25 non-null     float64
 16  ties3                       4 non-null      float64
 17  ties4                       1 non-null      float64
 18  age2                        237 non-null    float32
 19  source                      237 non-null    float32
 20  mage                        237 non-null    float32
 21  tstrangers                  237 non-null    float32
 22  tweakties                   237 non-null    float32
 23  tstrongties                 237 non-null    float32
 24  trelatives                  237 non-null    float32
 25  Label                       237 non-null    int16
 26  timeset                     0 non-null      float64
 27  Degree                      237 non-null    int8
 28  WeightedDegree              237 non-null    int8
 29  Eccentricity                237 non-null    int8
 30  closnesscentrality          237 non-null    float64
 31  harmonicclosnesscentrality  237 non-null    float64
 32  betweenesscentrality        237 non-null    float64
 33  Authority                   237 non-null    float64
 34  Hub                         237 non-null    float64
 35  modularity_class            237 non-null    int16
 36  pageranks                   237 non-null    float64
 37  componentnumber             237 non-null    int16
 38  clustering                  237 non-null    float64
 39  triangles                   237 non-null    int8
 40  eigencentrality             237 non-null    float64
 41  _merge                      237 non-null    category
 42  year0                       237 non-null    float32
 43  month0                      237 non-null    float32
 44  day0                        237 non-null    float32
 45  date1                       237 non-null    datetime64[ns]
 46  year                        211 non-null    float32
 47  month                       211 non-null    float32
 48  day                         211 non-null    float32
 49  year1                       112 non-null    float32
 50  month1                      112 non-null    float32
 51  day1                        112 non-null    float32
 52  arrivedate1                 112 non-null    datetime64[ns]
 53  year2                       236 non-null    float32
 54  month2                      236 non-null    float32
 55  day2                        236 non-null    float32
 56  diagdate                    236 non-null    datetime64[ns]
 57  feverdate1                  211 non-null    datetime64[ns]
 58  fevertime                   102 non-null    float32
 59  diagtime                    210 non-null    float32
 60  arrivediagtime              111 non-null    float32
 61  mfever                      215 non-null    float32
 62  mdiag                       236 non-null    float32
dtypes: category(1), datetime64[ns](4), float32(24), float64(16), int16(4), int32(1), int8(11), object(2)
memory usage: 70.5+ KB

In [35]:
shanxi['Date'].min(), shanxi['Date'].max()

(20200123, 20200216)

In [36]:
shanxi['Degree'].value_counts(), shanxi['Degree'].describe()

(0     108
 1      68
 2      36
 3      20
 4       2
 6       1
 9       1
 11      1
 Name: Degree, dtype: int64,
 count    237.000000
 mean       0.987342
 std        1.351336
 min        0.000000
 25%        0.000000
 50%        1.000000
 75%        2.000000
 max       11.000000
 Name: Degree, dtype: float64)

In [42]:
108/237

0.45569620253164556

In [37]:
shanxi['modularity_class'].value_counts().loc[shanxi['modularity_class'].value_counts() > 1]

19     12
7       7
38      6
109     5
37      5
12      4
91      4
103     4
96      4
124     4
77      4
147     4
13      3
129     3
97      3
102     3
49      3
46      3
72      3
50      3
101     3
114     3
116     2
132     2
136     2
111     2
89      2
44      2
108     2
48      2
53      2
131     2
128     2
123     2
144     2
143     2
110     2
138     2
134     2
70      2
Name: modularity_class, dtype: int64

In [38]:
shanxi[~shanxi['relatives'].isnull()]['relatives'].value_counts()

0    150
1     87
Name: relatives, dtype: int64

In [39]:
shanxi['Gender'].value_counts()

1    129
0    108
Name: Gender, dtype: int64

In [44]:
108/(129+108)

0.45569620253164556

In [40]:
shanxi['Age'].describe()

count    237.000000
mean      45.898734
std       16.581025
min        3.000000
25%       35.000000
50%       45.000000
75%       59.000000
max       89.000000
Name: Age, dtype: float64

In [41]:
shanxi['Hukou'].value_counts()

xian            97
ankang          25
hanzhong        23
wuhan           21
baoji           14
xianyang        13
weinan          11
shangluo         6
yanan            5
tongchuan        4
yulin            3
suizhou          2
tianmen          1
yingcheng        1
pingdingshan     1
yichang          1
nanjing          1
xiaogan          1
lingbao          1
shanghai         1
lantian          1
hancheng         1
henan            1
dazhi            1
yanglin          1
Name: Hukou, dtype: int64

## Big China Dataset

In [45]:
big_dataset = pd.read_csv('./Data/dataset_EN.csv', encoding_errors='replace')

In [46]:
big_dataset

,ID,Virus type,Age,Gender,Occupation,Place of Residency,Place of Departure,Place of Transit,Place of Destination,Arrival Date,...,Date_Symptom_Onset,Date_Hospitalisation,Place_Hospitalisation,Date_Confirmation,Date_Disclose,Symptom,Symptom_Severity,Original_Text_CN,Original_Text_EN,Unnamed: 29
0,Anhui_Anqing-1,NaN,49,Male,NaN,NaN,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/19,...,NaN,NaN,NaN,2020/1/26,2020/1/27,NaN,NaN,ï¿½ï¿½ï¿½ï¿½1ï¿½ï¿½ï¿½ï¿½/49ï¿½ï¿½/ï¿½ï¿½×¡ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½/1ï¿½ï¿½19ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ù³ï¿½Õ¾ï¿½Ë³ï¿½...,"Case 1: Male, 49 years old, currently living i...",NaN
1,Anhui_Anqing-10,NaN,54,Male,Architect,NaN,InnerMongolia_Wuhai,NaN,Anhui_Anqing,2020/1/9,...,2020/1/21,2020/1/25,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Somatosensory Related-Sign Description,Stable,ï¿½ï¿½ï¿½ï¿½10ï¿½ï¿½ï¿½ï¿½/54ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½/ï¿½Úºï¿½ï¿½ï¿½Ê¡ï¿½ï¿½ï¿½Â½ï¿½ï¿½ï¿½ï¿½ï¿½Òµï¿½ï¿½ï¿½ï¿½ï¿½ï¿½1...,"Case 10: Male, 54 years old, Susong, working i...",NaN
2,Anhui_Anqing-11,NaN,50,Female,NaN,Hubei_Wuhan,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/17,...,2020/1/18,2020/1/25,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Respiratory System Related-Symptom Description,Stable,ï¿½ï¿½ï¿½ï¿½11ï¿½ï¿½Å®/50ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½äººï¿½~ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½×¡ï¿½ï¿½1ï¿½ï¿½17...,"Case 11: female, 50 years old, Susong, living ...",NaN
3,Anhui_Anqing-12,NaN,46,Male,Worker,NaN,Hubei_Huangshi,NaN,Anhui_Anqing,2020/1/21,...,2020/1/21,2020/1/22,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Somatosensory Related-Sign Description,Stable,"ï¿½ï¿½ï¿½ï¿½12ï¿½ï¿½ï¿½ï¿½/46ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½/ï¿½à¹¤,2019ï¿½ï¿½11ï¿½Âµï¿½ï¿½ï¿½ï¿½ï¿½Ê¡ï¿½ï¿½Ê¯ï¿½...","Case 12: Male, 46 years old, Susong, mason, wo...",NaN
4,Anhui_Anqing-13,NaN,58,Male,Worker,Hubei_Wuhan,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/17,...,2020/1/21,2020/1/27,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,NaN,Stable,ï¿½ï¿½ï¿½ï¿½13ï¿½ï¿½ï¿½ï¿½/58ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½/ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½äººï¿½Ð»ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Â¸Ö²Ä¼Ó¹ï¿½...,"Case 13: Male, 58 years old, from Susong, enga...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27199,Zhejiang_Ningbo-256,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,ï¿½ï¿½ï¿½ï¿½31ï¿½ï¿½Ð¤Ä³Ä³ï¿½ï¿½Å®ï¿½ï¿½È·ï¿½ï²¡ï¿½ï¿½ï¿½ï¿½2022ï¿½ï¿½1ï¿½ï¿½1-2ï¿½Õ£ï¿½ï¿½ï¿½Òªï¿½î¶¯ï¿½ì¼£ï¿½...,"Case 31: Xiao Moumou, female, confirmed case. ...",NaN
27200,Zhejiang_Ningbo-257,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,ï¿½ï¿½ï¿½ï¿½32ï¿½ï¿½ï¿½ï¿½Ä³Ä³ï¿½ï¿½Å®ï¿½ï¿½È·ï¿½ï²¡ï¿½ï¿½ï¿½ï¿½2022ï¿½ï¿½1ï¿½ï¿½1-2ï¿½Õ£ï¿½ï¿½ï¿½Òªï¿½î¶¯ï¿½ì¼£...,"Case 32: Song Moumou, female, confirmed case. ...",NaN
27201,Zhejiang_Ningbo-258,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,ï¿½ï¿½ï¿½ï¿½33ï¿½ï¿½ï¿½ï¿½Ä³Ä³ï¿½ï¿½Å®ï¿½ï¿½È·ï¿½ï²¡ï¿½ï¿½ï¿½ï¿½2022ï¿½ï¿½1ï¿½ï¿½1-3ï¿½Õ£ï¿½ï¿½ï¿½Òªï¿½î¶¯ï¿½ì¼£...,"Case 33: Fu Moumou, female, confirmed case. Fr...",NaN
27202,Chongqing-22,NaN,NaN,NaN,NaN,NaN,Singapore,NaN,Chongqing,NaN,...,NaN,NaN,NaN,1/7/2022,1/8/2022,NaN,NaN,1ï¿½ï¿½7ï¿½ï¿½0ï¿½ï¿½24Ê±ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ö¢×´ï¿½ï¿½È¾ï¿½ï¿½1ï¿½ï¿½ï¿½ï¿½ï¿½Â¼...,"From 0 to 24:00 on January 7, 1 new case of as...",NaN
27203,Chongqing-23,NaN,NaN,NaN,NaN,NaN,Singapore,NaN,Chongqing,NaN,...,NaN,NaN,NaN,1/10/2022,1/11/2022,NaN,NaN,1ï¿½ï¿½10ï¿½ï¿½0ï¿½ï¿½24Ê±ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½È·ï¿½ï²¡ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½...,"From 0 to 24:00 on January 10, there were no n...",NaN

In [47]:
big_dataset.columns

Index(['ID', 'Virus type', 'Age', 'Gender', 'Occupation', 'Place of Residency',
       'Place of Departure', 'Place of Transit', 'Place of Destination',
       'Arrival Date', 'Earliest Possible Date', 'Latest Possible Date',
       'Place and Event', 'Venue', 'With Whom', 'Contact_ID_Relationship',
       'Place_Admission', 'Method_Discovery', 'Date_Quarantine',
       'Place_Quarantine', 'Date_Symptom_Onset', 'Date_Hospitalisation',
       'Place_Hospitalisation', 'Date_Confirmation', 'Date_Disclose',
       'Symptom', 'Symptom_Severity', 'Original_Text_CN', 'Original_Text_EN',
       'Unnamed: 29'],
      dtype='object')

### Filter for entries with contact information

In [49]:
cases_with_contact_info = big_dataset[~big_dataset['Contact_ID_Relationship'].isnull()]
cases_with_contact_info.describe()

,ID,Virus type,Age,Gender,Occupation,Place of Residency,Place of Departure,Place of Transit,Place of Destination,Arrival Date,...,Date_Symptom_Onset,Date_Hospitalisation,Place_Hospitalisation,Date_Confirmation,Date_Disclose,Symptom,Symptom_Severity,Original_Text_CN,Original_Text_EN,Unnamed: 29
count,5716,230,5374,5600,969,4370,2058,769,2178,2219,...,2354,3184,4160,4820,5715,1402,2397,5708,5480,8
unique,5714,2,107,12,100,311,168,129,216,108,...,108,158,894,309,325,93,13,5625,5394,8
top,Liaoning_Shenyang-30,Delta,31,Female,NA,Shaanxi_Xi'an,Hubei_Wuhan,NA,NA,NA,...,NA,NA,Designated medical institutions,2020/2/3,2020/2/6,Somatosensory Related-Sign Description,Stable,ï¿½ï¿½ï¿½ï¿½È·ï¿½ï²¡ï¿½ï¿½63ï¿½ï¿½ï¿½Ð£ï¿½52ï¿½ê£¬ï¿½Ö¾ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ïµ1ï¿½ï¿½4ï¿½Õ·...,"Local confirmed case 63, male, 52 years old, n...","New asymptomatic infection 1: Female, 51 years..."
freq,2,222,133,2801,419,819,835,358,350,758,...,422,422,750,165,223,447,1268,47,47,1

In [50]:
cases_with_contact_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5716 entries, 1 to 27016
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       5716 non-null   object
 1   Virus type               230 non-null    object
 2   Age                      5374 non-null   object
 3   Gender                   5600 non-null   object
 4   Occupation               969 non-null    object
 5   Place of Residency       4370 non-null   object
 6   Place of Departure       2058 non-null   object
 7   Place of Transit         769 non-null    object
 8   Place of Destination     2178 non-null   object
 9   Arrival Date             2219 non-null   object
 10  Earliest Possible Date   1749 non-null   object
 11  Latest Possible Date     2538 non-null   object
 12  Place and Event          2572 non-null   object
 13  Venue                    2802 non-null   object
 14  With Whom                3909 non-null   object
 15  Contact_ID_Relationship  5716 non-null   object
 16  Place_Admission          5706 non-null   object
 17  Method_Discovery         4428 non-null   object
 18  Date_Quarantine          2540 non-null   object
 19  Place_Quarantine         2649 non-null   object
 20  Date_Symptom_Onset       2354 non-null   object
 21  Date_Hospitalisation     3184 non-null   object
 22  Place_Hospitalisation    4160 non-null   object
 23  Date_Confirmation        4820 non-null   object
 24  Date_Disclose            5715 non-null   object
 25  Symptom                  1402 non-null   object
 26  Symptom_Severity         2397 non-null   object
 27  Original_Text_CN         5708 non-null   object
 28  Original_Text_EN         5480 non-null   object
 29  Unnamed: 29              8 non-null      object
dtypes: object(30)
memory usage: 1.4+ MB

In [52]:
cases_with_contact_info[['Contact_ID_Relationship', 'Virus type', 'Occupation', 'Place of Residency', 'Place and Event', 'Venue', 'With Whom', 'Symptom', 'Symptom_Severity']]

,Contact_ID_Relationship,Virus type,Occupation,Place of Residency,Place and Event,Venue,With Whom,Symptom,Symptom_Severity
1,anqing-14 (wife) anqing-10 (husband),NaN,Architect,NaN,Hainan Work,NaN,NaN,Somatosensory Related-Sign Description,Stable
5,anqing-14 (wife) anqing-10 (husband),NaN,NaN,NaN,NaN,NaN,NaN,Respiratory System Related-Symptom Description,Stable
11,anqing-2 (father) & anqing-9 (son),NaN,NaN,NaN,Wuhan Travel,NaN,NaN,NaN,NaN
13,anqing-21 (son) & anqing-22 (mother) & anqing-...,NaN,Seller,Hubei_Wuhan,Work In Wuhan,NaN,NaN,Somatosensory Related-Sign Description,Stable
14,anqing-21 (son) & anqing-22 (mother) & anqing-...,NaN,NaN,NaN,NaN,Family,Family member,Somatosensory Related-Symptom Description/Soma...,Stable
...,...,...,...,...,...,...,...,...,...
27012,Tianjin-833 (confirmed cases) & Tianjin-854 (c...,NaN,Ñ§ï¿½ï¿½,NaN,NaN,NaN,confirmed cases,NaN,NaN
27013,Tianjin-833 (confirmed cases) & Tianjin-855 (c...,NaN,Ñ§ï¿½ï¿½,NaN,NaN,NaN,confirmed cases,NaN,NaN
27014,Tianjin-833 (confirmed cases) & Tianjin-856 (c...,NaN,Ñ§ï¿½ï¿½,NaN,NaN,NaN,confirmed cases,NaN,NaN
27015,Tianjin-833 (confirmed cases) & Tianjin-857 (c...,NaN,Ñ§ï¿½ï¿½,NaN,NaN,NaN,confirmed cases,NaN,NaN
27016,Tianjin-833 (confirmed cases) & Tianjin-858 (c...,NaN,Ñ§ï¿½ï¿½,NaN,NaN,NaN,confirmed cases,NaN,NaN

In [53]:
cases_with_contact_info['Date_Disclose']

1        2020/1/29
5        2020/1/30
11       2020/1/27
13        2020/2/1
14        2020/2/1
           ...
27012    1/10/2022
27013    1/10/2022
27014    1/10/2022
27015    1/10/2022
27016    1/10/2022
Name: Date_Disclose, Length: 5716, dtype: object

# Covid cases without contact information

In [7]:
covid_covariates = pd.read_csv('./Data/latestdata.csv')

C:\Users\simon\AppData\Local\Temp\ipykernel_15384\3487171269.py:1: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  covid_covariates = pd.read_csv('./Data/latestdata.csv')

In [8]:
covid_covariates.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude',
       'longitude', 'geo_resolution', 'date_onset_symptoms',
       'date_admission_hospital', 'date_confirmation', 'symptoms',
       'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location',
       'reported_market_exposure', 'additional_information',
       'chronic_disease_binary', 'chronic_disease', 'source',
       'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials',
       'travel_history_binary'],
      dtype='object')

In [13]:
covid_covariates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       object
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  float64
 7   longitude                 float64
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    bool
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  float64
 31  data_moderator_initials   object
 32  travel_history_binary     object
dtypes: bool(1), float64(3), object(29)
memory usage: 655.9+ MB

In [10]:
covid_covariates[['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude', 'longitude', 'symptoms', 'chronic_disease_binary', 'chronic_disease', 'date_confirmation', 'additional_information']]

,ID,age,sex,city,province,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,date_confirmation,additional_information
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,NaN,False,NaN,14.02.2020,Case 55; mainland China travel via the Lok Ma ...
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,NaN,False,NaN,21.02.2020,Hospitalized on 12.02.2020 for other reasons
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,NaN,False,NaN,14.02.2020,"Case 65; family member of Case 50, a DBS emplo..."
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,NaN,False,NaN,26.01.2020,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,NaN,False,NaN,14.02.2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52.0,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,NaN,False,NaN,17.05.2020,NaN
2676307,010-99996,52.0,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,NaN,False,NaN,17.05.2020,NaN
2676308,010-99997,52.0,female,Comas,Lima,Peru,-11.932980,-77.040850,NaN,False,NaN,17.05.2020,NaN
2676309,010-99998,52.0,male,Callao,Callao,Peru,-12.000740,-77.118240,NaN,False,NaN,17.05.2020,NaN
2676310,010-99999,52.0,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,NaN,False,NaN,17.05.2020,NaN

### Might be possible to identify contact information from ```additional_information``` column; would probably need some kind of text mining approach

In [11]:
tmp = covid_covariates[~covid_covariates['additional_information'].isnull()]

In [12]:
with pd.option_context('display.max_colwidth', None):
    print(tmp[tmp['additional_information'].str.contains('Case')]['additional_information'])

0                                           Case 55; mainland China travel via the Lok Ma Chau border crossing
2                                             Case 65; family member of Case 50, a DBS employee, as is Case 55
113                                                        Case 66; linked to the Grace Assembly of God church
224                              Case 67; linked to the Grace Assembly of God church; family member of Case 61
335       Case 68; Singapore Citizen with no recent travel history to China. She is a family member of Case 66
                                                          ...
650422                                                                     Close Contact of New Brunswick Case
658592                                                                                 British Columbia Case 1
658593                                                                                          Spouse of Case
672419                                                  British Columbia Case 6 Recent return travel from Iran
672540                British Columbia Case 2 woman had been in contact with family visitors from Wuhan, China
Name: additional_information, Length: 1282, dtype: object