In [20]:
import pandas as pd
import networkx as nx
import numpy as np
from difflib import SequenceMatcher
from collections import Counter
import json
import re
import network_analysis.basic_framework as baf
from collections import OrderedDict

# Case contact networks

## Bucharest Dataset

In [2]:
bucharest = pd.read_excel('../Data/Raw/replication_data_clean_version.xlsx')
bucharest

,NR,REFERRAL_CODE,REFERRAL_CODE_HARVARD,Broker,REFERRAL_sector_private_public,REFERRAL_medical_yes_no_not_active,REFERRAL_ISCO08_1_digit_code,REFERRAL_ISCO08_1_digit_label,REFERRAL_ISCO08_2_digit_code,REFERRAL_ISCO08_2_digit_label,...,REFEREE_ISCO08_2_digit_code,REFEREE_ISCO08_2_digit_label,REFEREE_ISCO08_3_digit_code,REFEREE_ISCO08_3_digit_label,REFEREE_AGE,REFEREE_SEX_MALE_1,REFEREE_Active_Yes_No,REFEREE_Age_classes,REFEREE_CONFIRMATION_MONTH,REFEREE_CONFIRMATION_DAY
0,1,1731S179373609,1S179373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NAP,Not Active - pensioner,NAP,Not Active - pensioner,65.0,1,No,Pensioner,OCTOBER,2020-10-16
1,2,173235990609,235990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EMP,Employee - unknown group,EMP,Employee - unknown group,40.0,1,Yes,Adult,OCTOBER,2020-10-07
2,3,1733S146179609,3S146179,NaN,NAC,NAC,NAC,Not Active - Child,NAC,Not Active - Child,...,EMP,Employee - unknown group,EMP,Employee - unknown group,40.0,1,Yes,Adult,OCTOBER,2020-10-07
3,4,1734S146179609,4S146179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EMP,Employee - unknown group,EMP,Employee - unknown group,40.0,1,Yes,Adult,OCTOBER,2020-10-07
4,5,1735S146179609,5S146179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EMP,Employee - unknown group,EMP,Employee - unknown group,40.0,1,Yes,Adult,OCTOBER,2020-10-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13372,14590,17314590S146986609,14590S146986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,38.0,1,Yes,Adult,OCTOBER,2020-10-07
13373,14591,17314591S146986609,14591S146986,NaN,NASS,NASS,NASS,Not Active - school student,NASS,Not Active - school student,...,NaN,NaN,NaN,NaN,38.0,1,Yes,Adult,OCTOBER,2020-10-07
13374,14595,17314595S179121609,14595S179121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.0,1,Yes,Adult,OCTOBER,2020-10-16
13375,14596,17314596S179121609,14596S179121,NaN,NAP,NAP,NAP,Not Active - pensioner,NAP,Not Active - pensioner,...,NaN,NaN,NaN,NaN,24.0,1,Yes,Adult,OCTOBER,2020-10-16
13376,14597,17314597S179121609,14597S179121,NaN,NASS,NASS,NASS,Not Active - school student,NASS,Not Active - school student,...,NaN,NaN,NaN,NaN,24.0,1,Yes,Adult,OCTOBER,2020-10-16

In [3]:
bucharest[['NR', 'REFERRAL_CODE', 'REFEREE_CODE', 'REFERRAL_CODE_HARVARD', 'REFEREE_CODE_HARVARD']]

,NR,REFERRAL_CODE,REFEREE_CODE,REFERRAL_CODE_HARVARD,REFEREE_CODE_HARVARD
0,1,1731S179373609,173179373609,1S179373,179373
1,2,173235990609,173146179609,235990,146179
2,3,1733S146179609,173146179609,3S146179,146179
3,4,1734S146179609,173146179609,4S146179,146179
4,5,1735S146179609,173146179609,5S146179,146179
...,...,...,...,...,...
13372,14590,17314590S146986609,173146986609,14590S146986,146986
13373,14591,17314591S146986609,173146986609,14591S146986,146986
13374,14595,17314595S179121609,173179121609,14595S179121,179121
13375,14596,17314596S179121609,173179121609,14596S179121,179121
13376,14597,17314597S179121609,173179121609,14597S179121,179121

In [15]:
bucharest_big = pd.read_excel('../Data/Raw/short database COVID_20.09.21_v3.xlsx')
bucharest_big

,nr,covid_patient,testing_date,confirmation_date,macro_phases,stringency_index,stringency_index_classes,stages_by_stringency_categories,stages_by_stringency_categories_macro,stages_by_stringency,...,active_yes_no,age_classes,SOC18_Major_Group,SOC18_Major_Group_label,SOC18_Minor_Group,SOC18_Minor_Group_label,SOC18_Broad_Group,SOC18_Broad_Group_label,SOC18_Detailed_Occupation,SOC18_Detailed_Occupation_label
0,1,327931.0,2020-11-11,2020-11-11,3,66.67,60 - 70 class,strong,strong_and_very_strong,stage_25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,327926.0,2020-11-11,2020-11-11,3,66.67,60 - 70 class,strong,strong_and_very_strong,stage_25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,327925.0,2020-11-11,2020-11-11,3,66.67,60 - 70 class,strong,strong_and_very_strong,stage_25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,327861.0,2020-11-11,2020-11-11,3,66.67,60 - 70 class,strong,strong_and_very_strong,stage_25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,327835.0,2020-11-10,2020-11-11,3,66.67,60 - 70 class,strong,strong_and_very_strong,stage_25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46435,46555,NaN,NaT,NaT,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46436,46556,NaN,NaT,NaT,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46437,46557,NaN,NaT,NaT,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46438,46558,NaN,NaT,NaT,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46439,46559,NaN,NaT,NaT,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bucharest['REFEREE_CODE_HARVARD'].nunique(), bucharest['REFERRAL_CODE_HARVARD'].nunique(), bucharest_big['covid_patient'].nunique()

(6895, 13272, 46269)

In [6]:
from collections import Counter
refs = [key for key, value in Counter(bucharest['REFERRAL_CODE_HARVARD']).items() if value > 1]

In [7]:
in_big = 0
for ref in refs:
    if bucharest_big.loc[bucharest_big['covid_patient'] == int(ref)].shape[0] > 0:
        in_big += 1

print(len(refs), in_big)

95 95

In [8]:
in_big = 0
for ref in bucharest['REFERRAL_CODE_HARVARD']:
    try:
        if bucharest_big.loc[bucharest_big['covid_patient'] == int(ref)].shape[0] > 0:
            in_big += 1
    except ValueError:
        continue

print(in_big)

1811

In [9]:
in_big = 0
for ref in bucharest['REFEREE_CODE_HARVARD'].unique():
    try:
        if bucharest_big.loc[bucharest_big['covid_patient'] == int(ref)].shape[0] > 0:
            in_big += 1
    except ValueError:
        continue

print(in_big, bucharest['REFEREE_CODE_HARVARD'].nunique())

6895 6895

**Conclusion: majority of referrals have never been recorded as patients**

-> bucharest_big contains all recorded patients
-> bucharest contains entries where
- referees are recorded patients and present in bucharest_big
- referrals can either be recorded patients and present in bucharest_big, or no recorded patient and therefore not present in bucharest_big

In [10]:
bucharest['REFEREE_CODE_HARVARD'].sort_values(ascending=True)

344       5423
7711     22644
7710     22644
8098     24110
1997     38303
         ...
4727    280321
4725    280321
4839    280321
4726    280321
990     296609
Name: REFEREE_CODE_HARVARD, Length: 13377, dtype: int64

In [11]:
bucharest_big['covid_patient'].min(), bucharest_big['covid_patient'].max()

(12.0, 327931.0)

In [12]:
bucharest_big.loc[bucharest_big['covid_patient'] == 14590]

Empty DataFrame
Columns: [nr, covid_patient, testing_date, confirmation_date, macro_phases, stringency_index, stringency_index_classes, stages_by_stringency_categories, stages_by_stringency_categories_macro, stages_by_stringency, days_difference, sex, age, age_groups, periods, periods_CODE, sector, confirmation_month, new_periods, occupation, ISCO08_1_digit_code, ISCO08_1_digit_label, ISCO08_2_digit_code, ISCO08_2_digit_label, ISCO08_3_digit_code, ISCO08_3_digit_label, ISCO08_4_digit_code, ISCO08_4_digit_label, proximity_score, exposure_score, active_yes_no, age_classes, SOC18_Major_Group, SOC18_Major_Group_label, SOC18_Minor_Group, SOC18_Minor_Group_label, SOC18_Broad_Group, SOC18_Broad_Group_label, SOC18_Detailed_Occupation, SOC18_Detailed_Occupation_label]
Index: []

[0 rows x 40 columns]

In [13]:
22644 in bucharest['REFEREE_CODE_HARVARD']

False

In [14]:
bucharest.loc[bucharest['REFEREE_CODE_HARVARD'] == 22644.0].shape[0]

2

In [15]:
i = 0
for index, row in bucharest_big.iterrows():
    if bucharest.loc[bucharest['REFEREE_CODE_HARVARD'] == row['covid_patient']].shape[0] == 0:
        i += 1

i

39545

In [16]:
i = 0
for index, row in bucharest.iterrows():
    if bucharest_big.loc[bucharest_big['covid_patient'] == row['REFEREE_CODE_HARVARD']].shape[0] == 0:
        i += 1

i

0

In [17]:
bucharest.columns

Index(['NR', 'REFERRAL_CODE', 'REFERRAL_CODE_HARVARD', 'Broker',
       'REFERRAL_sector_private_public', 'REFERRAL_medical_yes_no_not_active',
       'REFERRAL_ISCO08_1_digit_code', 'REFERRAL_ISCO08_1_digit_label',
       'REFERRAL_ISCO08_2_digit_code', 'REFERRAL_ISCO08_2_digit_label',
       'REFERRAL_ISCO08_3_digit_code', 'REFERRAL_ISCO08_3_digit_label',
       'REFERRAL_AGE', 'REFERRAL_SEX_1_MALE', 'REFERRAL_Active_Yes_No',
       'REFERRAL_Age_classes', 'REFEREE_CODE', 'REFEREE_CODE_HARVARD',
       'Brokers', 'REFEREE_sector_private_public',
       'REFEREE_medical_yes_no_not_active', 'REFEREE_ISCO08_1_digit_code',
       'REFEREE_ISCO08_1_digit_label', 'REFEREE_ISCO08_2_digit_code',
       'REFEREE_ISCO08_2_digit_label', 'REFEREE_ISCO08_3_digit_code',
       'REFEREE_ISCO08_3_digit_label', 'REFEREE_AGE', 'REFEREE_SEX_MALE_1',
       'REFEREE_Active_Yes_No', 'REFEREE_Age_classes',
       'REFEREE_CONFIRMATION_MONTH', 'REFEREE_CONFIRMATION_DAY'],
      dtype='object')

- referral_code: to_id
- referee: from_id
- isco08: occupation
- sector
- medical
- age
- sex
- active: employability
- confirmation_day: date of confirmation

In [18]:
bucharest_big.columns

Index(['nr', 'covid_patient', 'testing_date', 'confirmation_date',
       'macro_phases', 'stringency_index', 'stringency_index_classes',
       'stages_by_stringency_categories',
       'stages_by_stringency_categories_macro', 'stages_by_stringency',
       'days_difference', 'sex', 'age', 'age_groups', 'periods',
       'periods_CODE', 'sector', 'confirmation_month', 'new_periods',
       'occupation', 'ISCO08_1_digit_code', 'ISCO08_1_digit_label',
       'ISCO08_2_digit_code', 'ISCO08_2_digit_label', 'ISCO08_3_digit_code',
       'ISCO08_3_digit_label', 'ISCO08_4_digit_code', 'ISCO08_4_digit_label',
       'proximity_score', 'exposure_score', 'active_yes_no', 'age_classes',
       'SOC18_Major_Group', 'SOC18_Major_Group_label', 'SOC18_Minor_Group',
       'SOC18_Minor_Group_label', 'SOC18_Broad_Group',
       'SOC18_Broad_Group_label', 'SOC18_Detailed_Occupation',
       'SOC18_Detailed_Occupation_label'],
      dtype='object')

In [44]:
bucharest_nodelist = pd.read_csv('../Data/Preprocessed/bucharest_nodelist.csv')

In [41]:
bucharest_edgelist = pd.read_csv('../Data/Preprocessed/bucharest_edgelist.csv')

In [5]:
bucharest_eventlist = pd.read_csv('../Data/Preprocessed/bucharest_eventlist.csv')

C:\Users\simon\AppData\Local\Temp\ipykernel_5896\1904430900.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  bucharest_eventlist = pd.read_csv('../Data/Preprocessed/bucharest_eventlist.csv')

In [39]:
bucharest_network = baf.BasicAnalysisFramework()
bucharest_network.load_edgelist('../Data/Preprocessed/bucharest_edgelist.csv')

E:\Data\masterarbeit\network_analysis\basic_framework.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_contact['Referee'] = rows_with_contact['Referee'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_contact['Referral'] = rows_with_contact['Referral'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_without_contact['Referee'] = rows_without_contact['Referee'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_without_contact['Referral'] = rows_without_contact['Referral'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])

In [40]:
array = np.array(nx.degree_histogram(bucharest_network._network))
d = dict()
for i, degree in enumerate(np.argsort(array)):
    count = np.sort(array)[i]
    if count > 0:
        d[degree] = count
OrderedDict(sorted(d.items()))

OrderedDict([(0, 38122),
             (1, 15856),
             (2, 2130),
             (3, 1083),
             (4, 364),
             (5, 139),
             (6, 68),
             (7, 32),
             (8, 18),
             (9, 8),
             (10, 8),
             (11, 4),
             (12, 1),
             (15, 1),
             (19, 1)])

In [42]:
bucharest_edgelist['Referral'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 51499 entries, 0 to 51498
Series name: Referral
Non-Null Count  Dtype
--------------  -----
13377 non-null  object
dtypes: object(1)
memory usage: 402.5+ KB

In [46]:
bucharest_nodelist['node_id'].nunique()

57835

In [7]:
degrees = [x[1] for x in bucharest_network._network.degree]

In [10]:
Counter(degrees).items()

dict_items([(2, 2130), (1, 15856), (3, 1083), (4, 364), (5, 139), (15, 1), (7, 32), (10, 8), (6, 68), (11, 4), (9, 8), (8, 18), (12, 1), (19, 1), (0, 38122)])

In [23]:
1083 + 364 + 139 + 1 + 32 + 8 + 68 + 4 + 8 + 18 + 1 + 1, 1727 + 2130 + 15856 + 38122, bucharest_nodelist.shape[0]

(1727, 57835, 57835)

In [20]:
bucharest.shape[0], bucharest.shape[0] + 38122, bucharest_nodelist.shape[0]

(13377, 51499, 57835)

In [11]:
bucharest_nodelist.shape[0], bucharest_edgelist.shape[0]

(57835, 51499)

In [21]:
bucharest_big.shape[0]

46440

In [12]:
bucharest_nodelist['age'].describe()

count    57725.000000
mean        41.299091
std         18.941530
min          0.000000
25%         29.000000
50%         41.000000
75%         53.000000
max        101.000000
Name: age, dtype: float64

In [29]:
bucharest_nodelist['gender'].value_counts()

female    20267
male      17855
2          3512
1          3145
2.0         825
1.0         665
Name: gender, dtype: int64

In [30]:
17855 + 3145 + 665, 20267 + 3512 + 825, bucharest_nodelist['gender'].value_counts().sum()

(21665, 24604, 46269)

In [13]:
bucharest_eventlist.query('type == "contact_nomination"')['date'].describe()

count     13377.000000
mean     200975.814981
std          60.566352
min      200801.000000
25%      200926.000000
50%      201009.000000
75%      201017.000000
max      201031.000000
Name: date, dtype: float64

In [17]:
bucharest_big['confirmation_date'].min(), bucharest_big['confirmation_date'].max()

(Timestamp('2020-03-07 00:00:00'), Timestamp('2020-11-11 00:00:00'))

In [43]:
bucharest_nodelist

,Unnamed: 0,node_id,age,gender,medical,isco08_code,isco08_label
0,0,179373,65.0,1,NAP,NAP,Not Active - pensioner
1,1,1S179373,63.0,NaN,NaN,NaN,NaN
2,2,146179,40.0,1,No,EMP,Employee - unknown group
3,3,235990,32.0,2.0,NaN,NaN,NaN
4,4,3S146179,3.0,NaN,NAC,NAC,Not Active - Child
...,...,...,...,...,...,...,...
57830,57830,19,32.0,male,NaN,NaN,NaN
57831,57831,18,30.0,female,NaN,NaN,NaN
57832,57832,16,60.0,male,NaN,NaN,NaN
57833,57833,14,42.0,female,NaN,NaN,NaN
57834,57834,12,49.0,male,NaN,NaN,NaN

In [24]:
bucharest_nodelist['medical'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [25]:
bucharest_nodelist['medical'].value_counts()

No     6778
Yes     186
Name: medical, dtype: int64

In [26]:
bucharest_nodelist['isco08_label'].value_counts()

Not Active - school student                    2691
Not Active - pensioner                         2058
Employee - unknown group                       1870
Not Active - Child                             1492
Professionals                                   950
Service and sales workers                       194
Active - unemployed                             100
Technicians and associate professionals          69
Clerical support workers                         64
Managers                                         61
Not Active - student                             56
Armed forces occupations                         54
Plant and machine operators, and assemblers      40
Active - maternity leave                         38
Craft and related trades workers                 37
Active - household (not formally working)        24
Elementary occupations                            5
Active - medical leave                            1
Elementary Occupations                            1
Not Active - person with disability               1
Name: isco08_label, dtype: int64

In [28]:
bucharest_nodelist['isco08_label'].value_counts().sum(), 2691 + 2058 + 1492 + 56 + 1

(9806, 6298)

In [2]:
yunnan_hainan = pd.read_stata('./Data/Yunnan & Hainan/Contact Network of Hainan and Yunnan.dta')
yunnan_hainan

,Date,No,Noingroup,Gender,Age,Arrivedate,Feverdate,Diagnosedate,Strangers,weakties,...,arrivediagtime,source,mage,mfever,mdiag,WeightedDegree,clustering,triangles,eigencentrality,Province
0,20200117,1,1,1.0,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
1,20200122,2,1,1.0,53.0,20200116.0,20200116.0,20200122.0,NaN,NaN,...,NaN,1.0,53.000000,NaN,6.0,NaN,NaN,NaN,NaN,Yunnan
2,20200124,3,1,0.0,39.0,20200115.0,NaN,20200122.0,1.0,1.0,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
3,20200124,4,2,0.0,34.0,20200120.0,NaN,20200123.0,NaN,NaN,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
4,20200124,5,3,1.0,49.0,20200121.0,NaN,20200123.0,NaN,NaN,...,NaN,1.0,40.666668,NaN,NaN,NaN,NaN,NaN,NaN,Yunnan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,20200214,161,4,0.0,58.0,20200125.0,NaN,20200125.0,1.0,1.0,...,0.0,1.0,49.000000,66.0,12.0,3.0,1.0,3.0,0.056348,Hainan
329,20200214,158,1,1.0,62.0,NaN,NaN,20200208.0,0.0,0.0,...,NaN,0.0,49.000000,66.0,12.0,6.0,1.0,15.0,1.000000,Hainan
330,20200214,160,3,0.0,25.0,NaN,NaN,20200208.0,0.0,0.0,...,NaN,0.0,49.000000,66.0,12.0,6.0,1.0,15.0,1.000000,Hainan
331,20200214,159,2,0.0,27.0,20200125.0,NaN,20200125.0,1.0,1.0,...,0.0,1.0,49.000000,66.0,12.0,3.0,1.0,3.0,0.056348,Hainan
332,20200214,162,5,1.0,73.0,20191124.0,20200129.0,20200210.0,1.0,1.0,...,78.0,0.0,49.000000,66.0,12.0,0.0,0.0,0.0,0.000000,Hainan

In [3]:
yunnan = yunnan_hainan.loc[yunnan_hainan['Province'] == 'Yunnan']
hainan = yunnan_hainan.loc[yunnan_hainan['Province'] == 'Hainan']

## Yunnan Dataset

In [4]:
yunnan.columns

Index(['Date', 'No', 'Noingroup', 'Gender', 'Age', 'Arrivedate', 'Feverdate',
       'Diagnosedate', 'Strangers', 'weakties', 'strongties', 'relatives',
       'ties1', 'ties2', 'ties3', 'ties4', 'ties5', 'ties6', 'ties7', 'ties8',
       'ties9', 'Degree', 'Weighteddegree', 'modularity_class', 'pageranks',
       'componentnumber', 'Eccentricity', 'closnesscentrality',
       'harmonicclosnesscentrality', 'betweenesscentrality', 'year0', 'month0',
       'day0', 'date1', 'year', 'month', 'day', 'feverdate1', 'year1',
       'month1', 'day1', 'arrivedate1', 'year2', 'month2', 'day2', 'diagdate',
       'fevertime', 'diagtime', 'arrivediagtime', 'source', 'mage', 'mfever',
       'mdiag', 'WeightedDegree', 'clustering', 'triangles', 'eigencentrality',
       'Province'],
      dtype='object')

In [5]:
yunnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        171 non-null    int32
 1   No                          171 non-null    int16
 2   Noingroup                   171 non-null    int8
 3   Gender                      120 non-null    float64
 4   Age                         119 non-null    float64
 5   Arrivedate                  90 non-null     float64
 6   Feverdate                   31 non-null     float64
 7   Diagnosedate                119 non-null    float64
 8   Strangers                   60 non-null     float64
 9   weakties                    60 non-null     float64
 10  strongties                  60 non-null     float64
 11  relatives                   60 non-null     float64
 12  ties1                       39 non-null     float64
 13  ties2                       19 non-null     float64
 14  ties3                       12 non-null     float64
 15  ties4                       9 non-null      float64
 16  ties5                       7 non-null      float64
 17  ties6                       6 non-null      float64
 18  ties7                       5 non-null      float64
 19  ties8                       4 non-null      float64
 20  ties9                       3 non-null      float64
 21  Degree                      171 non-null    int8
 22  Weighteddegree              171 non-null    float64
 23  modularity_class            171 non-null    int16
 24  pageranks                   171 non-null    float64
 25  componentnumber             171 non-null    int16
 26  Eccentricity                171 non-null    int8
 27  closnesscentrality          171 non-null    float64
 28  harmonicclosnesscentrality  171 non-null    float64
 29  betweenesscentrality        171 non-null    float64
 30  year0                       171 non-null    float32
 31  month0                      171 non-null    float32
 32  day0                        171 non-null    float32
 33  date1                       171 non-null    datetime64[ns]
 34  year                        31 non-null     float32
 35  month                       31 non-null     float32
 36  day                         31 non-null     float32
 37  feverdate1                  31 non-null     datetime64[ns]
 38  year1                       40 non-null     float32
 39  month1                      40 non-null     float32
 40  day1                        40 non-null     float32
 41  arrivedate1                 40 non-null     datetime64[ns]
 42  year2                       119 non-null    float32
 43  month2                      119 non-null    float32
 44  day2                        119 non-null    float32
 45  diagdate                    119 non-null    datetime64[ns]
 46  fevertime                   6 non-null      float32
 47  diagtime                    31 non-null     float32
 48  arrivediagtime              40 non-null     float32
 49  source                      132 non-null    float32
 50  mage                        119 non-null    float32
 51  mfever                      35 non-null     float32
 52  mdiag                       83 non-null     float32
 53  WeightedDegree              0 non-null      float64
 54  clustering                  0 non-null      float64
 55  triangles                   0 non-null      float64
 56  eigencentrality             0 non-null      float64
 57  Province                    171 non-null    category
dtypes: category(1), datetime64[ns](4), float32(19), float64(27), int16(3), int32(1), int8(3)
memory usage: 57.9 KB

In [6]:
yunnan['Date'].min(), yunnan['Date'].max()

(20200117, 20200216)

In [7]:
yunnan['Degree'].value_counts(), yunnan['Degree'].describe()

(0     114
 1      25
 12     13
 2      11
 3       6
 5       1
 4       1
 Name: Degree, dtype: int64,
 count    171.000000
 mean       1.345029
 std        3.186962
 min        0.000000
 25%        0.000000
 50%        0.000000
 75%        1.000000
 max       12.000000
 Name: Degree, dtype: float64)

In [8]:
yunnan['modularity_class'].value_counts().loc[yunnan['modularity_class'].value_counts() > 1]

125    13
86      6
131     4
115     3
129     3
109     3
80      3
13      2
103     2
113     2
107     2
110     2
78      2
0       2
72      2
127     2
73      2
120     2
Name: modularity_class, dtype: int64

In [14]:
yunnan[~yunnan['relatives'].isnull()]['relatives'].value_counts()

1.0    31
0.0    29
Name: relatives, dtype: int64

In [19]:
yunnan[~yunnan['Strangers'].isnull()][['relatives', 'Strangers', 'Degree']]

     relatives  Strangers  Degree
0          1.0        0.0       1
2          0.0        1.0       0
14         1.0        1.0       1
15         1.0        1.0       1
70         0.0        1.0       0
75         0.0        1.0       1
81         1.0        1.0       1
82         1.0        1.0       1
84         0.0        1.0       2
85         0.0        1.0       2
89         1.0        0.0       1
90         1.0        0.0       5
94         1.0        1.0       4
95         1.0        1.0       2
97         1.0        1.0       3
98         1.0        1.0       3
101        0.0        1.0       0
102        1.0        1.0       1
105        0.0        1.0       1
119        1.0        1.0       1
120        1.0        1.0       1
122        0.0        1.0       0
123        0.0        1.0       0
124        0.0        1.0       1
125        1.0        1.0       1
127        1.0        1.0       2
128        1.0        1.0       1
129        1.0        1.0       1
131        1.0        1.0       2
132        0.0        1.0       0
133        1.0        0.0       1
134        1.0        1.0       0
135        0.0        1.0       2
137        0.0        1.0       1
138        0.0        1.0      12
140        1.0        1.0       1
143        0.0        1.0       1
144        1.0        1.0       1
145        1.0        1.0       0
147        1.0        1.0       0
149        0.0        0.0      12
150        0.0        0.0      12
151        0.0        1.0       2
153        1.0        0.0       1
154        1.0        0.0       3
155        1.0        0.0       3
156        0.0        0.0      12
157        0.0        0.0      12
158        0.0        0.0      12
159        0.0        0.0      12
160        0.0        0.0      12
162        0.0        0.0      12
163        0.0        0.0      12
164        0.0        0.0      12
165        0.0        0.0      12
166        0.0        0.0      12
167        0.0        1.0       1
168        1.0        0.0       0
169        1.0        0.0       3
170        1.0        0.0       3

In [10]:
yunnan['Gender'].value_counts()

1.0    62
0.0    58
Name: Gender, dtype: int64

In [11]:
yunnan['Age'].describe()

count    119.000000
mean      41.092437
std       18.316424
min        3.000000
25%       26.000000
50%       40.000000
75%       54.000000
max       79.000000
Name: Age, dtype: float64

In [23]:
yunnan['Feverdate'].value_counts()

20200205.0    3
20200130.0    3
20200131.0    2
20200204.0    2
20200127.0    2
20200126.0    2
20200215.0    2
20200129.0    2
20200128.0    2
20200125.0    2
20200201.0    1
20200117.0    1
20200121.0    1
20200206.0    1
20200209.0    1
20200210.0    1
20200208.0    1
20200211.0    1
20200116.0    1
Name: Feverdate, dtype: int64

## Hainan Dataset

In [34]:
hainan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 171 to 332
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        162 non-null    int32
 1   No                          162 non-null    int16
 2   Noingroup                   162 non-null    int8
 3   Gender                      162 non-null    float64
 4   Age                         162 non-null    float64
 5   Arrivedate                  135 non-null    float64
 6   Feverdate                   32 non-null     float64
 7   Diagnosedate                147 non-null    float64
 8   Strangers                   162 non-null    float64
 9   weakties                    162 non-null    float64
 10  strongties                  162 non-null    float64
 11  relatives                   162 non-null    float64
 12  ties1                       60 non-null     float64
 13  ties2                       31 non-null     float64
 14  ties3                       16 non-null     float64
 15  ties4                       9 non-null      float64
 16  ties5                       5 non-null      float64
 17  ties6                       1 non-null      float64
 18  ties7                       0 non-null      float64
 19  ties8                       0 non-null      float64
 20  ties9                       0 non-null      float64
 21  Degree                      162 non-null    int8
 22  Weighteddegree              0 non-null      float64
 23  modularity_class            162 non-null    int16
 24  pageranks                   162 non-null    float64
 25  componentnumber             162 non-null    int16
 26  Eccentricity                162 non-null    int8
 27  closnesscentrality          162 non-null    float64
 28  harmonicclosnesscentrality  162 non-null    float64
 29  betweenesscentrality        162 non-null    float64
 30  year0                       162 non-null    float32
 31  month0                      162 non-null    float32
 32  day0                        162 non-null    float32
 33  date1                       162 non-null    datetime64[ns]
 34  year                        32 non-null     float32
 35  month                       32 non-null     float32
 36  day                         32 non-null     float32
 37  feverdate1                  32 non-null     datetime64[ns]
 38  year1                       135 non-null    float32
 39  month1                      135 non-null    float32
 40  day1                        135 non-null    float32
 41  arrivedate1                 133 non-null    datetime64[ns]
 42  year2                       147 non-null    float32
 43  month2                      147 non-null    float32
 44  day2                        147 non-null    float32
 45  diagdate                    147 non-null    datetime64[ns]
 46  fevertime                   23 non-null     float32
 47  diagtime                    31 non-null     float32
 48  arrivediagtime              118 non-null    float32
 49  source                      162 non-null    float32
 50  mage                        162 non-null    float32
 51  mfever                      63 non-null     float32
 52  mdiag                       78 non-null     float32
 53  WeightedDegree              162 non-null    float64
 54  clustering                  162 non-null    float64
 55  triangles                   162 non-null    float64
 56  eigencentrality             162 non-null    float64
 57  Province                    162 non-null    category
dtypes: category(1), datetime64[ns](4), float32(19), float64(27), int16(3), int32(1), int8(3)
memory usage: 54.9 KB

In [24]:
hainan['Date'].min(), hainan['Date'].max()

(20200122, 20200214)

In [25]:
hainan['Degree'].value_counts(), hainan['Degree'].describe()

(0    71
 1    27
 2    21
 3    21
 5     8
 6     8
 4     6
 Name: Degree, dtype: int64,
 count    162.000000
 mean       1.506173
 std        1.791099
 min        0.000000
 25%        0.000000
 50%        1.000000
 75%        3.000000
 max        6.000000
 Name: Degree, dtype: float64)

In [32]:
114/171, 71/162

(0.6666666666666666, 0.4382716049382716)

In [26]:
hainan['modularity_class'].value_counts().loc[hainan['modularity_class'].value_counts() > 1]

43    9
83    7
48    6
96    6
61    4
31    4
75    4
47    4
53    4
76    4
52    3
46    3
28    3
45    3
68    3
27    2
37    2
38    2
51    2
58    2
65    2
24    2
72    2
63    2
3     2
69    2
8     2
Name: modularity_class, dtype: int64

In [27]:
hainan[~hainan['relatives'].isnull()]['relatives'].value_counts()

0.0    87
1.0    75
Name: relatives, dtype: int64

In [28]:
hainan['Gender'].value_counts()

0.0    84
1.0    78
Name: Gender, dtype: int64

In [29]:
hainan['Age'].describe()

count    162.000000
mean      48.442901
std       17.268708
min        0.250000
25%       36.000000
50%       51.000000
75%       62.000000
max       79.000000
Name: Age, dtype: float64

In [30]:
hainan['Feverdate'].value_counts()

20200130.0    5
20200129.0    3
20200126.0    3
20200119.0    2
20200118.0    2
20200121.0    2
20200203.0    2
20200206.0    1
20200125.0    1
20200202.0    1
20200207.0    1
20200205.0    1
20200117.0    1
20200131.0    1
20200116.0    1
20200113.0    1
20200124.0    1
20200123.0    1
20200122.0    1
20200201.0    1
Name: Feverdate, dtype: int64

## Shanxi Dataset

In [33]:
shanxi = pd.read_stata('./Data/Shanxi/shannxi.dta')
shanxi

,Date,No,Noingroup,Gender,Age,Hukou,Source,Arrivedate,Feverdate,Diagnosedate,...,year2,month2,day2,diagdate,feverdate1,fevertime,diagtime,arrivediagtime,mfever,mdiag
0,20200123,1,1,1,42,xianyang,hubei,20200115.0,20200120.0,20200120.0,...,2020.0,1.0,20.0,2020-01-20,2020-01-20,5.0,0.0,5.0,3.333333,1.666667
1,20200123,2,2,0,32,xian,hangzhou,20200114.0,20200116.0,20200120.0,...,2020.0,1.0,20.0,2020-01-20,2020-01-16,2.0,4.0,6.0,3.333333,1.666667
2,20200123,3,3,1,22,xian,hubei,20200117.0,20200120.0,20200121.0,...,2020.0,1.0,21.0,2020-01-21,2020-01-20,3.0,1.0,4.0,3.333333,1.666667
3,20200124,4,1,1,49,ankang,hubei,20200119.0,20200119.0,20200121.0,...,2020.0,1.0,21.0,2020-01-21,2020-01-19,0.0,2.0,2.0,0.000000,1.000000
4,20200124,5,2,1,23,yanan,hubei,20200122.0,20200122.0,20200122.0,...,2020.0,1.0,22.0,2020-01-22,2020-01-22,0.0,0.0,0.0,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,20200215,233,2,0,67,weinan,weinan,NaN,20200203.0,20200203.0,...,2020.0,2.0,3.0,2020-02-03,2020-02-03,NaN,0.0,NaN,NaN,1.500000
233,20200216,234,1,1,46,hanzhong,ningbo,20200118.0,20200126.0,20200126.0,...,2020.0,1.0,26.0,2020-01-26,2020-01-26,8.0,0.0,8.0,8.000000,2.000000
234,20200216,235,2,1,71,hanzhong,hanzhong,NaN,20200131.0,20200204.0,...,2020.0,2.0,4.0,2020-02-04,2020-01-31,NaN,4.0,NaN,8.000000,2.000000
235,20200216,236,3,0,66,hanzhong,hanzhong,NaN,NaN,20200214.0,...,2020.0,2.0,14.0,2020-02-14,NaT,NaN,NaN,NaN,8.000000,2.000000
236,20200216,237,4,0,65,hanzhong,hanzhong,NaN,NaN,20200215.0,...,2020.0,2.0,15.0,2020-02-15,NaT,NaN,NaN,NaN,8.000000,2.000000

In [34]:
shanxi.columns

Index(['Date', 'No', 'Noingroup', 'Gender', 'Age', 'Hukou', 'Source',
       'Arrivedate', 'Feverdate', 'Diagnosedate', 'Strangers', 'weakties',
       'strongties', 'relatives', 'ties1', 'ties2', 'ties3', 'ties4', 'age2',
       'source', 'mage', 'tstrangers', 'tweakties', 'tstrongties',
       'trelatives', 'Label', 'timeset', 'Degree', 'WeightedDegree',
       'Eccentricity', 'closnesscentrality', 'harmonicclosnesscentrality',
       'betweenesscentrality', 'Authority', 'Hub', 'modularity_class',
       'pageranks', 'componentnumber', 'clustering', 'triangles',
       'eigencentrality', '_merge', 'year0', 'month0', 'day0', 'date1', 'year',
       'month', 'day', 'year1', 'month1', 'day1', 'arrivedate1', 'year2',
       'month2', 'day2', 'diagdate', 'feverdate1', 'fevertime', 'diagtime',
       'arrivediagtime', 'mfever', 'mdiag'],
      dtype='object')

In [29]:
shanxi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237 entries, 0 to 236
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        237 non-null    int32
 1   No                          237 non-null    int16
 2   Noingroup                   237 non-null    int8
 3   Gender                      237 non-null    int8
 4   Age                         237 non-null    int8
 5   Hukou                       237 non-null    object
 6   Source                      237 non-null    object
 7   Arrivedate                  112 non-null    float64
 8   Feverdate                   211 non-null    float64
 9   Diagnosedate                236 non-null    float64
 10  Strangers                   237 non-null    int8
 11  weakties                    237 non-null    int8
 12  strongties                  237 non-null    int8
 13  relatives                   237 non-null    int8
 14  ties1                       95 non-null     float64
 15  ties2                       25 non-null     float64
 16  ties3                       4 non-null      float64
 17  ties4                       1 non-null      float64
 18  age2                        237 non-null    float32
 19  source                      237 non-null    float32
 20  mage                        237 non-null    float32
 21  tstrangers                  237 non-null    float32
 22  tweakties                   237 non-null    float32
 23  tstrongties                 237 non-null    float32
 24  trelatives                  237 non-null    float32
 25  Label                       237 non-null    int16
 26  timeset                     0 non-null      float64
 27  Degree                      237 non-null    int8
 28  WeightedDegree              237 non-null    int8
 29  Eccentricity                237 non-null    int8
 30  closnesscentrality          237 non-null    float64
 31  harmonicclosnesscentrality  237 non-null    float64
 32  betweenesscentrality        237 non-null    float64
 33  Authority                   237 non-null    float64
 34  Hub                         237 non-null    float64
 35  modularity_class            237 non-null    int16
 36  pageranks                   237 non-null    float64
 37  componentnumber             237 non-null    int16
 38  clustering                  237 non-null    float64
 39  triangles                   237 non-null    int8
 40  eigencentrality             237 non-null    float64
 41  _merge                      237 non-null    category
 42  year0                       237 non-null    float32
 43  month0                      237 non-null    float32
 44  day0                        237 non-null    float32
 45  date1                       237 non-null    datetime64[ns]
 46  year                        211 non-null    float32
 47  month                       211 non-null    float32
 48  day                         211 non-null    float32
 49  year1                       112 non-null    float32
 50  month1                      112 non-null    float32
 51  day1                        112 non-null    float32
 52  arrivedate1                 112 non-null    datetime64[ns]
 53  year2                       236 non-null    float32
 54  month2                      236 non-null    float32
 55  day2                        236 non-null    float32
 56  diagdate                    236 non-null    datetime64[ns]
 57  feverdate1                  211 non-null    datetime64[ns]
 58  fevertime                   102 non-null    float32
 59  diagtime                    210 non-null    float32
 60  arrivediagtime              111 non-null    float32
 61  mfever                      215 non-null    float32
 62  mdiag                       236 non-null    float32
dtypes: category(1), datetime64[ns](4), float32(24), float64(16), int16(4), int32(1), int8(11), object(2)
memory usage: 70.5+ KB

In [35]:
shanxi['Date'].min(), shanxi['Date'].max()

(20200123, 20200216)

In [36]:
shanxi['Degree'].value_counts(), shanxi['Degree'].describe()

(0     108
 1      68
 2      36
 3      20
 4       2
 6       1
 9       1
 11      1
 Name: Degree, dtype: int64,
 count    237.000000
 mean       0.987342
 std        1.351336
 min        0.000000
 25%        0.000000
 50%        1.000000
 75%        2.000000
 max       11.000000
 Name: Degree, dtype: float64)

In [42]:
108/237

0.45569620253164556

In [37]:
shanxi['modularity_class'].value_counts().loc[shanxi['modularity_class'].value_counts() > 1]

19     12
7       7
38      6
109     5
37      5
12      4
91      4
103     4
96      4
124     4
77      4
147     4
13      3
129     3
97      3
102     3
49      3
46      3
72      3
50      3
101     3
114     3
116     2
132     2
136     2
111     2
89      2
44      2
108     2
48      2
53      2
131     2
128     2
123     2
144     2
143     2
110     2
138     2
134     2
70      2
Name: modularity_class, dtype: int64

In [38]:
shanxi[~shanxi['relatives'].isnull()]['relatives'].value_counts()

0    150
1     87
Name: relatives, dtype: int64

In [39]:
shanxi['Gender'].value_counts()

1    129
0    108
Name: Gender, dtype: int64

In [44]:
108/(129+108)

0.45569620253164556

In [40]:
shanxi['Age'].describe()

count    237.000000
mean      45.898734
std       16.581025
min        3.000000
25%       35.000000
50%       45.000000
75%       59.000000
max       89.000000
Name: Age, dtype: float64

In [41]:
shanxi['Hukou'].value_counts()

xian            97
ankang          25
hanzhong        23
wuhan           21
baoji           14
xianyang        13
weinan          11
shangluo         6
yanan            5
tongchuan        4
yulin            3
suizhou          2
tianmen          1
yingcheng        1
pingdingshan     1
yichang          1
nanjing          1
xiaogan          1
lingbao          1
shanghai         1
lantian          1
hancheng         1
henan            1
dazhi            1
yanglin          1
Name: Hukou, dtype: int64

## Big China Dataset

In [2]:
big_dataset = pd.read_csv('../Data/Raw/dataset_EN.csv', encoding_errors='replace')

In [3]:
big_dataset

,ID,Virus type,Age,Gender,Occupation,Place of Residency,Place of Departure,Place of Transit,Place of Destination,Arrival Date,...,Date_Symptom_Onset,Date_Hospitalisation,Place_Hospitalisation,Date_Confirmation,Date_Disclose,Symptom,Symptom_Severity,Original_Text_CN,Original_Text_EN,Unnamed: 29
0,Anhui_Anqing-1,NaN,49,Male,NaN,NaN,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/19,...,NaN,NaN,NaN,2020/1/26,2020/1/27,NaN,NaN,����1����/49��/��ס������/1��19����������ٳ�վ�˳�...,"Case 1: Male, 49 years old, currently living i...",NaN
1,Anhui_Anqing-10,NaN,54,Male,Architect,NaN,InnerMongolia_Wuhai,NaN,Anhui_Anqing,2020/1/9,...,2020/1/21,2020/1/25,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Somatosensory Related-Sign Description,Stable,����10����/54��/������/�ں���ʡ���½�����ҵ������1...,"Case 10: Male, 54 years old, Susong, working i...",NaN
2,Anhui_Anqing-11,NaN,50,Female,NaN,Hubei_Wuhan,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/17,...,2020/1/18,2020/1/25,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Respiratory System Related-Symptom Description,Stable,����11��Ů/50��/������/�������人�~������ס��1��17...,"Case 11: female, 50 years old, Susong, living ...",NaN
3,Anhui_Anqing-12,NaN,46,Male,Worker,NaN,Hubei_Huangshi,NaN,Anhui_Anqing,2020/1/21,...,2020/1/21,2020/1/22,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,Somatosensory Related-Sign Description,Stable,"����12����/46��/������/�๤,2019��11�µ�����ʡ��ʯ�...","Case 12: Male, 46 years old, Susong, mason, wo...",NaN
4,Anhui_Anqing-13,NaN,58,Male,Worker,Hubei_Wuhan,Hubei_Wuhan,NaN,Anhui_Anqing,2020/1/17,...,2020/1/21,2020/1/27,Susong County People's Hospital-Municipal Hosp...,2020/1/28,2020/1/29,NaN,Stable,����13����/58��/������/�������人�л��������¸ֲļӹ�...,"Case 13: Male, 58 years old, from Susong, enga...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27199,Zhejiang_Ningbo-256,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,����31��Фĳĳ��Ů��ȷ�ﲡ����2022��1��1-2�գ���Ҫ��켣�...,"Case 31: Xiao Moumou, female, confirmed case. ...",NaN
27200,Zhejiang_Ningbo-257,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,����32����ĳĳ��Ů��ȷ�ﲡ����2022��1��1-2�գ���Ҫ��켣...,"Case 32: Song Moumou, female, confirmed case. ...",NaN
27201,Zhejiang_Ningbo-258,NaN,NaN,Female,NaN,Zhejiang-Ningbo,NaN,NaN,NaN,NaN,...,NaN,NaN,Designated hospital,NaN,1/7/2022,NaN,NaN,����33����ĳĳ��Ů��ȷ�ﲡ����2022��1��1-3�գ���Ҫ��켣...,"Case 33: Fu Moumou, female, confirmed case. Fr...",NaN
27202,Chongqing-22,NaN,NaN,NaN,NaN,NaN,Singapore,NaN,Chongqing,NaN,...,NaN,NaN,NaN,1/7/2022,1/8/2022,NaN,NaN,1��7��0��24ʱ��������������������֢״��Ⱦ��1�����¼...,"From 0 to 24:00 on January 7, 1 new case of as...",NaN
27203,Chongqing-23,NaN,NaN,NaN,NaN,NaN,Singapore,NaN,Chongqing,NaN,...,NaN,NaN,NaN,1/10/2022,1/11/2022,NaN,NaN,1��10��0��24ʱ����������������������ȷ�ﲡ��������...,"From 0 to 24:00 on January 10, there were no n...",NaN

In [4]:
big_dataset.columns

Index(['ID', 'Virus type', 'Age', 'Gender', 'Occupation', 'Place of Residency',
       'Place of Departure', 'Place of Transit', 'Place of Destination',
       'Arrival Date', 'Earliest Possible Date', 'Latest Possible Date',
       'Place and Event', 'Venue', 'With Whom', 'Contact_ID_Relationship',
       'Place_Admission', 'Method_Discovery', 'Date_Quarantine',
       'Place_Quarantine', 'Date_Symptom_Onset', 'Date_Hospitalisation',
       'Place_Hospitalisation', 'Date_Confirmation', 'Date_Disclose',
       'Symptom', 'Symptom_Severity', 'Original_Text_CN', 'Original_Text_EN',
       'Unnamed: 29'],
      dtype='object')

### Filter for entries with contact information (actually, this is stupid)

In [5]:
#cases_with_contact_info = big_dataset[~big_dataset['Contact_ID_Relationship'].isnull()]
#cases_with_contact_info.describe()
cases_with_contact_info = big_dataset

In [6]:
cases_with_contact_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27204 entries, 0 to 27203
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       27204 non-null  object
 1   Virus type               601 non-null    object
 2   Age                      20306 non-null  object
 3   Gender                   20894 non-null  object
 4   Occupation               4129 non-null   object
 5   Place of Residency       17557 non-null  object
 6   Place of Departure       14177 non-null  object
 7   Place of Transit         3950 non-null   object
 8   Place of Destination     14329 non-null  object
 9   Arrival Date             13239 non-null  object
 10  Earliest Possible Date   3432 non-null   object
 11  Latest Possible Date     7654 non-null   object
 12  Place and Event          8697 non-null   object
 13  Venue                    5156 non-null   object
 14  With Whom                6370 non-null   object
 15  Contact_ID_Relationship  5716 non-null   object
 16  Place_Admission          27057 non-null  object
 17  Method_Discovery         21353 non-null  object
 18  Date_Quarantine          14205 non-null  object
 19  Place_Quarantine         15739 non-null  object
 20  Date_Symptom_Onset       7881 non-null   object
 21  Date_Hospitalisation     8974 non-null   object
 22  Place_Hospitalisation    15925 non-null  object
 23  Date_Confirmation        23144 non-null  object
 24  Date_Disclose            27203 non-null  object
 25  Symptom                  6237 non-null   object
 26  Symptom_Severity         7565 non-null   object
 27  Original_Text_CN         26641 non-null  object
 28  Original_Text_EN         24764 non-null  object
 29  Unnamed: 29              193 non-null    object
dtypes: object(30)
memory usage: 6.2+ MB

In [7]:
cases_with_contact_info[['Contact_ID_Relationship', 'Virus type', 'Occupation', 'Place of Residency', 'Place and Event', 'Venue', 'With Whom', 'Symptom', 'Symptom_Severity']]

,Contact_ID_Relationship,Virus type,Occupation,Place of Residency,Place and Event,Venue,With Whom,Symptom,Symptom_Severity
1,anqing-14 (wife) anqing-10 (husband),NaN,Architect,NaN,Hainan Work,NaN,NaN,Somatosensory Related-Sign Description,Stable
5,anqing-14 (wife) anqing-10 (husband),NaN,NaN,NaN,NaN,NaN,NaN,Respiratory System Related-Symptom Description,Stable
11,anqing-2 (father) & anqing-9 (son),NaN,NaN,NaN,Wuhan Travel,NaN,NaN,NaN,NaN
13,anqing-21 (son) & anqing-22 (mother) & anqing-...,NaN,Seller,Hubei_Wuhan,Work In Wuhan,NaN,NaN,Somatosensory Related-Sign Description,Stable
14,anqing-21 (son) & anqing-22 (mother) & anqing-...,NaN,NaN,NaN,NaN,Family,Family member,Somatosensory Related-Symptom Description/Soma...,Stable
...,...,...,...,...,...,...,...,...,...
27012,Tianjin-833 (confirmed cases) & Tianjin-854 (c...,NaN,ѧ��,NaN,NaN,NaN,confirmed cases,NaN,NaN
27013,Tianjin-833 (confirmed cases) & Tianjin-855 (c...,NaN,ѧ��,NaN,NaN,NaN,confirmed cases,NaN,NaN
27014,Tianjin-833 (confirmed cases) & Tianjin-856 (c...,NaN,ѧ��,NaN,NaN,NaN,confirmed cases,NaN,NaN
27015,Tianjin-833 (confirmed cases) & Tianjin-857 (c...,NaN,ѧ��,NaN,NaN,NaN,confirmed cases,NaN,NaN
27016,Tianjin-833 (confirmed cases) & Tianjin-858 (c...,NaN,ѧ��,NaN,NaN,NaN,confirmed cases,NaN,NaN

In [54]:
cases_with_contact_info['Date_Disclose'] = pd.to_datetime(cases_with_contact_info['Date_Disclose'], infer_datetime_format=True, errors='coerce')
print(cases_with_contact_info.shape[0])
cases_with_contact_info = cases_with_contact_info[~cases_with_contact_info['Date_Disclose'].isnull()]
print(cases_with_contact_info.shape[0])

27204
27198

In [55]:
cases_with_contact_info.drop(cases_with_contact_info['Date_Disclose'][cases_with_contact_info['Date_Disclose'] > pd.to_datetime('2022/12/01')].index, inplace=True)
print(cases_with_contact_info.shape[0])

26961

C:\Users\simon\AppData\Local\Temp\ipykernel_11220\4274336409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_with_contact_info.drop(cases_with_contact_info['Date_Disclose'][cases_with_contact_info['Date_Disclose'] > pd.to_datetime('2022/12/01')].index, inplace=True)

In [56]:
cases_with_contact_info['Date_Disclose'].max(), cases_with_contact_info['Date_Disclose'].min()

(Timestamp('2022-08-14 00:00:00'), Timestamp('2020-01-01 00:00:00'))

In [57]:
pd.to_numeric(cases_with_contact_info['Age'], errors='coerce').dropna().describe()

count    20046.000000
mean        41.745560
std         18.026487
min          0.000000
25%         30.000000
50%         41.000000
75%         54.000000
max        644.000000
Name: Age, dtype: float64

In [58]:
cases_with_contact_info['Gender'].value_counts()

Male       9581
Female     9108
male       1515
Man         277
Female       59
female       46
Male         33
NA           17
Man           6
 Female       5
��            4
Ů             1
56            1
 Male         1
 male         1
student       1
Name: Gender, dtype: int64

In [59]:
cases_with_contact_info['Occupation'].value_counts()

Student                  970
Worker                   548
NA                       471
Employee                 326
Unemployed               126
                        ...
Fenggang Office Staff      1
Clinic To Work             1
Kindergarten Teacher       1
welders                    1
Barber                     1
Name: Occupation, Length: 361, dtype: int64

In [60]:
cases_with_contact_info['Place of Residency'].value_counts()

Shaanxi_Xi'an               1984
Hubei_Wuhan                 1715
Hebei_Shijiazhuang           888
Inner Mongolia_Hulunbuir     547
Henan_Xuchang                367
                            ...
Hubei_Chibi                    1
Fiji                           1
Inner Mongolia-Ordos           1
Hubei_Zaoyang                  1
Shenzhen_Futian                1
Name: Place of Residency, Length: 812, dtype: int64

In [61]:
cases_with_contact_info['Virus type'].value_counts()

Delta      462
Omicron    139
Name: Virus type, dtype: int64

In [62]:
cases_with_contact_info['Place and Event'].value_counts()

NA                                                                       754
Wuhan Travel                                                             635
Dinner                                                                   359
Wuhan Residence                                                          337
Work In Wuhan                                                            266
                                                                        ...
Zhengzhou play/school                                                      1
Zhengzhou shopping/dining/seeing a doctor/refueling/exercise/tutoring      1
Zhengzhou play/school/dining/seeing                                        1
Zhengzhou on duty                                                          1
shopping/travel/dining                                                     1
Name: Place and Event, Length: 1958, dtype: int64

In [63]:
cases_with_contact_info['Venue'].value_counts()

NA                                                   940
Family                                               938
Outdoor                                              791
Social place                                         503
Indoor                                               382
                                                    ...
restaurant/factory                                     1
Hotel/chess room                                       1
Sanitary / Bath Center / Supermarket / Restaurant      1
Public places/shopping malls/hospitals                 1
market                                                 1
Name: Venue, Length: 110, dtype: int64

In [64]:
cases_with_contact_info['With Whom'].value_counts()

Confirmed case                                                                                         2266
Family member                                                                                          2060
confirmed cases                                                                                         780
NA                                                                                                      297
Confirmed cases                                                                                         172
Wuhan personnel                                                                                         107
family                                                                                                   95
Colleague                                                                                                94
Returnee from Wuhan                                                                                      78
Family                                                                                                   68
Confirmed case                                                                                           38
Friend                                                                                                   37
Hubei personnel                                                                                          25
Suspected case                                                                                           21
confirmed case                                                                                           18
Close contacts                                                                                           11
Jiangxi_Jiujiang-101                                                                                     11
����                                                                                                      9
colleague                                                                                                 8
classmate                                                                                                 7
Returnee from other place                                                                                 6
Tourist                                                                                                   6
Classmate                                                                                                 6
Jiangxi_Jiujiang-120                                                                                      4
Jiangxi_Jiujiang-104                                                                                      4
Returnee from Hubei                                                                                       4
Field personnel                                                                                           4
Fellow passengers                                                                                         4
Jiangxi_Jiujiang-113                                                                                      3
Relative                                                                                                  3
ĸ��                                                                                                       3
Returnee from abroad                                                                                      2
Jiangxi_Jiujiang-102                                                                                      2
Jiangxi_Jiujiang-114                                                                                      2
Fellow villagers                                                                                          2
Customer                                                                                                  2
Guangdong_Guangzhou-1435 (mother) & Guangdong_Guangzhou-1444 (daughter)                                   2
�ɷ�                                                                                                       2
Neighbor                                                                                                  1
Yichang personnel                                                                                         1
Patient                                                                                                   1
Traveler                                                                                                  1
wife                                                                                                      1
husband                                                                                                   1
Fujian_Xiamen-143 (father) & Fujian_Xiamen-146 (son)                                                      1
Fujian_Xiamen-143 (husband) & Fujian_Xiamen-149 (wife)                                                    1
Fujian_Xiamen-149(wife)&Fujian_Xiamen-144(father)&Fujian_Xiamen-146((son)&Fujian_Xiamen-145(mother)       1
Returnee from Wuhan                                                                                       1
ĸ��/����                                                                                                  1
Fujian_Xiamen-143 (son) & Fujian_Xiamen-144 (father)                                                      1
Confirmed Case                                                                                            1
Fujian_Xiamen-143 (son) & Fujian_Xiamen-145 (mother)                                                      1
Returnee from Chengdu                                                                                     1
 Confirmed case                                                                                           1
student                                                                                                   1
Name: With Whom, dtype: int64

In [10]:
cases_with_contact_info['Symptom'].value_counts()

Somatosensory Related-Sign Description                                                                                                                                          447
Respiratory System Related-Symptom Description/Somatosensory Related-Sign Description                                                                                           144
NA                                                                                                                                                                              141
Respiratory System Related-Symptom Description                                                                                                                                  122
Somatosensory Related-Symptom Description/Somatosensory Related-Sign Description                                                                                                 76
                                                                                                                                                                               ...
Respiratory System Related-Sign Description/Somatosensory Related-Symptom Description/Respiratory System Related-Symptom Description/Somatosensory Related-Sign Description       1
Respiratory System Related-Sign Description/Respiratory System Related-Symptom Description/Somatosensory Related-Symptom Description/Somatosensory Related-Sign Description       1
Somatosensory Related-Symptom Description/\nRespiratory System Related-Symptom Description/Somatosensory Related-Sign Description                                                 1
Somatosensory Related-Symptom Description/Respiratory System Related-Symptom Description/Somatosensory Related-Sign Description/Respiratory System Related-Sign Description/      1
Respiratory System Related-Symptom Description/Somatosensory Related-Symptom Description                                                                                          1
Name: Symptom, Length: 93, dtype: int64

### Build network

In [6]:
cases_with_contact_info[['Date_Disclose', 'Contact_ID_Relationship', 'ID']]

,Date_Disclose,Contact_ID_Relationship,ID
1,2020-01-29,anqing-14 (wife) anqing-10 (husband),Anhui_Anqing-10
5,2020-01-30,anqing-14 (wife) anqing-10 (husband),Anhui_Anqing-14
11,2020-01-27,anqing-2 (father) & anqing-9 (son),Anhui_Anqing-2
13,2020-02-01,anqing-21 (son) & anqing-22 (mother) & anqing-...,Anhui_Anqing-21
14,2020-02-01,anqing-21 (son) & anqing-22 (mother) & anqing-...,Anhui_Anqing-22
...,...,...,...
27012,2022-01-10,Tianjin-833 (confirmed cases) & Tianjin-854 (c...,Tianjin-854
27013,2022-01-10,Tianjin-833 (confirmed cases) & Tianjin-855 (c...,Tianjin-855
27014,2022-01-10,Tianjin-833 (confirmed cases) & Tianjin-856 (c...,Tianjin-856
27015,2022-01-10,Tianjin-833 (confirmed cases) & Tianjin-857 (c...,Tianjin-857
27016,2022-01-10,Tianjin-833 (confirmed cases) & Tianjin-858 (c...,Tianjin-858

In [7]:
import re

In [8]:
s = 'anqing-14 (wife) anqing-10 (husband)'
exp = re.compile('\w+-\d+', re.IGNORECASE)
exp.findall(s)

['anqing-14', 'anqing-10']

1. Replace whitespace with _
2. Split on _
3. Extract contact with regex: search for either phrase in contact_id_relationship, e.g. search for anhui and anqing
4. Do the same for id
5. match

In [9]:
places = set()
for place in cases_with_contact_info['Place_Admission'].unique():
    try:
        string = place.replace(' ', '_')
    except AttributeError:
        continue

    string = re.sub('_+', '_', string)
    string = re.sub('^_', '', string)
    string = re.sub('_$', '', string)
    string = re.sub(',', '', string)
    try:
        a, b = string.split('_')
        places.add(a)
        places.add(b)
    except ValueError:
        places.add(string)

In [44]:
rexp = re.compile('(?:\w+\_)?(\w+[-|_]\d+)')
rexp.findall('Anhui_Hefei-175'), rexp.findall('Beijing_432'), rexp.findall('Guangdong_Shenzhen_670')

(['Hefei-175'], ['Beijing_432'], ['Shenzhen_670'])

In [41]:
rexp.findall('henan_xuchang-303')

['xuchang-303']

In [66]:
exp = re.compile('(?:\w+\_)?(\w+[-|_]\d+)', re.IGNORECASE)
edge_list = list()
node_list = set()
failed = set()
for index, row in cases_with_contact_info.iterrows():
    try:
        row_id = exp.findall(row['ID'])[0].lower().replace('_', '-')
    except IndexError:
        print(row['ID'])
        continue
    try:
        contacts = exp.findall(row['Contact_ID_Relationship'])
    except TypeError:
        node_list.add(row_id)
    for contact in contacts:
        try:
            match = next(s for s in cases_with_contact_info['ID'].apply(lambda x: x.lower()) if contact.lower().replace('_', '-') in s)
            if row_id != match:
                edge_list.append((row_id, match))
        except StopIteration:
            failed.add((row_id, contact.lower()))

Guangdong_Shenzhen
Shandong_Rizhao - 100
Shandong_Rizhao - 101
Shandong_Wingdao - 100

In [67]:
failed

{('an-68', 'xian-67'),
 ('an-88', 'xian-117'),
 ('huaian-74', 'huaian-8'),
 ('beijing-585', 'zhuhai-126'),
 ('harbin-35', 'haerbin-50'),
 ('liangjiangnewdistrict-5', 'liangjiangxinqu-15'),
 ('yancheng-6', 'yangcheng-5'),
 ('an-87', 'xian-87'),
 ('an-405', 'xian-42'),
 ('garz-76', 'ganzi-8'),
 ('an-83', 'xian-90'),
 ('jiangsu-26', 'yangcheng-26'),
 ('shanghai-1666', 'zhuhai-126'),
 ('beijing-557', 'beijing_548'),
 ('beijing-564', 'beijing_548'),
 ('beijing-554', 'beijing_554'),
 ('wuhu-12', 'toling-25'),
 ('an-352', 'xian-74'),
 ('beijing-526', 'beijing_513'),
 ('beijing-504', 'beijing_500'),
 ('xuzhoujiangsu-58', 'xuzhou-5'),
 ('xiamen-533', 'zhuhai-126'),
 ('shanghai-1580', 'zhuhai-126'),
 ('an-878', 'xian-117'),
 ('shanghai-1600', 'zhuhai-126'),
 ('liangjiangnewdistrict-15', 'liangjiangxinqu-15'),
 ('shanghai-1658', 'zhuhai-126'),
 ('shanghai-1794', 'zhuhai-126'),
 ('xuzhoujiangsu-63', 'xuzhou-1'),
 ('harbin-47', 'haerbin-49'),
 ('xuzhoujiangsu-19', 'xuzhou-5'),
 ('liangjiangnewdistrict-14', 'liangjiangxinqu-15'),
 ('an-27', 'huaian-2'),
 ('an-404', 'xian-40'),
 ('shanghai-1753', 'zhuhai-126'),
 ('foshan-151', 'foahan-38'),
 ('an-2182', 'zhuhai-126'),
 ('xinxiang-15', 'nanyang-118'),
 ('an-456', 'xian-44'),
 ('an-378', 'xian-64'),
 ('xuzhoujiangsu-22', 'xuzhou-21'),
 ('liangjiangnewdistrict-17', 'liangjiangxinqu-15'),
 ('an-370', 'xian-37'),
 ('wuhu-11', 'toling-25'),
 ('wanzhou-60', 'wanzhouqu-26'),
 ('wangkui-6', 'qiqihaer-12'),
 ('an-28', 'huaian-10'),
 ('garz-5', 'ganzi-8'),
 ('baoshan-3', 'xuzhou-42'),
 ('harbin-7', 'haerbin-69'),
 ('shanghai-1761', 'zhuhai-126'),
 ('foshan-35', 'foahan-15'),
 ('chengdu-407', 'chengdu_405'),
 ('foshan-198', 'foahan-38'),
 ('beijing-493', 'beijing_492'),
 ('shanghai-1550', 'zhuhai-126'),
 ('foshan-60', 'foahan-58'),
 ('an-1402', 'xian-49'),
 ('beihai-24', 'beiihai-24'),
 ('harbin-38', 'haerbin-50'),
 ('an-140', 'xian-49'),
 ('shanghai-1865', 'zhuhai-126'),
 ('shanghai-1557', 'zhuhai-126'),
 ('baoshan-4', 'xuzhou-41'),
 ('shanghai-1721', 'zhuhai-126'),
 ('xuzhoujiangsu-32', 'xuzhou-26'),
 ('pingdingshan-50', 'nanyang-116'),
 ('tongling-4', 'toling-25'),
 ('shanghai-1771', 'zhuhai-126'),
 ('liangjiangnewdistrict-9', 'liangjiangxinqu-15'),
 ('an-379', 'xian-84'),
 ('beijing-103', 'beijing_549'),
 ('beijing-455', 'beijing_454'),
 ('southbank-4', 'nanan-4'),
 ('harbin-65', 'haerbin-50'),
 ('foshan-360', 'foahan-15'),
 ('an-443', 'xian-111'),
 ('xuzhoujiangsu-70', 'xuzhou-4'),
 ('liangping-3', 'liangjiangxinqu-11'),
 ('an-1066', 'xian-70'),
 ('an-870', 'xian-112'),
 ('an-240', 'xian-24'),
 ('foshan-19', 'foahan-38'),
 ('shanghai-1650', 'zhuhai-126'),
 ('shanghai-1560', 'zhuhai-126'),
 ('pingdingshan-15', 'nanyang-116'),
 ('xuzhoujiangsu-55', 'xuzhou-1'),
 ('shanghai-1730', 'zhuhai-126'),
 ('beijing-569', 'beijing_549'),
 ('an-1300', 'xian-91'),
 ('beijing-514', 'beijing_513'),
 ('xiamen-573', 'zhuhai-126'),
 ('an-26', 'huaian-15'),
 ('an-454', 'xian-111'),
 ('an-20', 'huaian-2'),
 ('beihai-21', 'beiihai-26'),
 ('beijing-476', 'beijing_463'),
 ('ordos-1', 'eerduosi-2'),
 ('an-9', 'guangan-21'),
 ('shanghai-1706', 'zhuhai-126'),
 ('an-1115', 'xian-44'),
 ('an-38', 'huaian-11'),
 ('xuzhoujiangsu-61', 'xuzhou-4'),
 ('lingaocounty-6', 'lingao-5'),
 ('xuzhoujiangsu-54', 'xuzhou-5'),
 ('beijing-535', 'beijing_535'),
 ('xiamen-584', 'zhuhai-126'),
 ('bozhou-70', 'fouzhou-96'),
 ('beijing-453', 'beijing_453'),
 ('pingxiang-28', 'pingxiang-326'),
 ('garz-75', 'ganzi-8'),
 ('tech-2', 'gaoxin-2'),
 ('an-706', 'xian-105'),
 ('beijing-452', 'beijing_450'),
 ('an-258', 'xian-24'),
 ('an-357', 'xian-36'),
 ('shanghai-1616', 'zhuhai-126'),
 ('an-40', 'xian-42'),
 ('xuzhoujiangsu-76', 'xuzhou-4'),
 ('harbin-37', 'haerbin-33'),
 ('yancheng-15', 'yangcheng-6'),
 ('pingdingshan-51', 'nanyang-116'),
 ('an-210', 'xian-62'),
 ('yancheng-16', 'yangcheng-6'),
 ('beijing-587', 'zhuhai-126'),
 ('xuzhoujiangsu-4', 'xuzhou-1'),
 ('beijing-584', 'zhuhai-126'),
 ('shanghai-1850', 'zhuhai-126'),
 ('beijing-513', 'beijing_513'),
 ('hefei-8', 'heifei-16'),
 ('an-243', 'yanan-4'),
 ('chengdu-424', 'chengdu_406'),
 ('maanshan-20', 'manashan-33'),
 ('an-23', 'huaian-10'),
 ('xuzhoujiangsu-34', 'xuzhou-26'),
 ('wanzhou-26', 'wanzhouqu-60'),
 ('xuzhoujiangsu-7', 'xuzhou-6'),
 ('an-443', 'xian-44'),
 ('an-372', 'xian-64'),
 ('xuzhoujiangsu-21', 'xuzhou-17'),
 ('beijing-580', 'beijing_557'),
 ('an-453', 'xian-111'),
 ('foshan-339', 'foahan-15'),
 ('an-44', 'xian-102'),
 ('an-706', 'xian-70'),
 ('garz-57', 'ganzi-8'),
 ('wuzhong-2', 'wuhzong-1'),
 ('an-2030', 'an-1971'),
 ('an-46', 'huaian-11'),
 ('garz-64', 'ganzi-8'),
 ('bayannaoer-2', 'huhehaote-1'),
 ('an-66', 'huaian-8'),
 ('xiamen-590', 'zhuhai-126'),
 ('beijing-566', 'beijing_549'),
 ('an-1055', 'xian-70'),
 ('an-63', 'xian-80'),
 ('beijing-465', 'beijing_462'),
 ('an-32', 'huaian-3'),
 ('beijing-575', 'beijing_549'),
 ('garz-70', 'ganzi-8'),
 ('garz-60', 'ganzi-8'),
 ('garz-61', 'ganzi-8'),
 ('foshan-184', 'foahan-38'),
 ('an-1407', 'xian-27'),
 ('shenzhen-278', 'shenzhne-278'),
 ('shanghai-1763', 'zhuhai-126'),
 ('an-1072', 'xian-95'),
 ('an-5', 'suiining-8'),
 ('xuzhoujiangsu-9', 'xuzhou-41'),
 ('shanghai-1911', 'zhuhai-126'),
 ('beijing-560', 'beijing_548'),
 ('an-2155', 'zhuhai-126'),
 ('an-782', 'xian-99'),
 ('an-2184', 'zhuhai-126'),
 ('fuzhou-149', 'zhuhai-126'),
 ('beijing-559', 'beijing_557'),
 ('beijing-450', 'beijing_451'),
 ('tech-2', 'gaoxin-1'),
 ('beijing-498', 'beijing_497'),
 ('xuzhoujiangsu-40', 'xuzhou-4'),
 ('huaian-71', 'huaian-8'),
 ('an-1054', 'xian-70'),
 ('xuzhoujiangsu-10', 'xuzhou-6'),
 ('xuzhoujiangsu-12', 'xuzhou-1'),
 ('yangzhou-238', 'yangzhou-2205'),
 ('chengdu-414', 'chengdu_411'),
 ('an-2149', 'zhuhai-126'),
 ('beijing-545', 'beijing_539'),
 ('beijing-539', 'beijing_536'),
 ('hefei-82', 'heifei-16'),
 ('beijing-500', 'beijing_495'),
 ('shanghai-1832', 'zhuhai-126'),
 ('dali-2', 'xuzhou-8'),
 ('beijing-526', 'beijing_514'),
 ('dali-11', 'xuzhou-42'),
 ('an-806', 'xian-63'),
 ('an-29', 'huaian-9'),
 ('an-1030', 'xian-35'),
 ('foshan-382', 'foahan-15'),
 ('ordos-3', 'eerduosi-1'),
 ('baoshan-3', 'xuzhou-8'),
 ('hefei-5', 'heifei-16'),
 ('shanghai-1802', 'zhuhai-126'),
 ('pingdingshan-37', 'nanyang-116'),
 ('wanzhou-29', 'wanzhouqu-60'),
 ('shanghai-1747', 'zhuhai-126'),
 ('xuzhoujiangsu-77', 'xuzhou-5'),
 ('beijing-509', 'beijing_502'),
 ('an-245', 'xian-25'),
 ('beijing-465', 'beijing_461'),
 ('harbin-85', 'haerbin-83'),
 ('beihai-19', 'beiihai-26'),
 ('shanghai-1631', 'zhuhai-126'),
 ('harbin-85', 'haerbin-80'),
 ('an-1052', 'xian-70'),
 ('harbin-98', 'haerbin-81'),
 ('beijing-550', 'beijing_551'),
 ('shanghai-1868', 'zhuhai-126'),
 ('xuzhoujiangsu-56', 'xuzhou-6'),
 ('fuzhou-156', 'zhuhai-126'),
 ('an-384', 'xian-64'),
 ('qingdao-250', 'zhuhai-126'),
 ('beijing-106', 'beijing_548'),
 ('shanghai-1862', 'zhuhai-126'),
 ('xiamen-585', 'zhuhai-126'),
 ('an-1407', 'xian-49'),
 ('beijing-562', 'beijing_549'),
 ('beijing-540', 'beijing_535'),
 ('xuzhoujiangsu-67', 'xuzhou-4'),
 ('shanghai-1858', 'zhuhai-126'),
 ('beijing-463', 'beijing_462'),
 ('tongling-27', 'tonling-24'),
 ('an-1037', 'xian-35'),
 ('xuzhoujiangsu-68', 'xuzhou-4'),
 ('heihe-1', 'haerbin-82'),
 ('beijing-583', 'beijing_548'),
 ('shanghai-1896', 'zhuhai-126'),
 ('an-2192', 'zhuhai-126'),
 ('an-879', 'xian-112'),
 ('xinxiang-16', 'nanyang-118'),
 ('nanyang-37', 'nanyang-117'),
 ('an-400', 'xian-40'),
 ('fuzhou-158', 'zhuhai-126'),
 ('shanghai-1680', 'zhuhai-126'),
 ('xiamen-587', 'zhuhai-126'),
 ('shanghai-1918', 'zhuhai-126'),
 ('xuzhoujiangsu-59', 'xuzhou-5'),
 ('an-2120', 'zhuhai-126'),
 ('an-375', 'xian-84'),
 ('an-2111', 'an-1927'),
 ('xiamen-548', 'zhuhai-126'),
 ('an-243', 'xian-24'),
 ('an-1410', 'xian-27'),
 ('shanghai-1592', 'zhuhai-126'),
 ('an-64', 'huaian-8'),
 ('an-407', 'xian-40'),
 ('shanghai-1601', 'zhuhai-126'),
 ('an-2193', 'zhuhai-126'),
 ('shanghai-1815', 'zhuhai-126'),
 ('ancounty-4', 'dingan-3'),
 ('shanghai-1776', 'zhuhai-126'),
 ('beijing-514', 'beijing_514'),
 ('an-850', 'xian-95'),
 ('an-395', 'xian-84'),
 ('beijing-460', 'beijing_456'),
 ('foshan-52', 'foahan-15'),
 ('an-23', 'huaian-15'),
 ('southbank-10', 'nanan-4'),
 ('pingdingshan-33', 'nanyang-116'),
 ('beijing-512', 'beijing_500'),
 ('an-28', 'huaian-9'),
 ('an-2187', 'zhuhai-126'),
 ('an-48', 'huaian-3'),
 ('putian-222', 'zhuhai-126'),
 ('foshan-172', 'foahan-38'),
 ('shanghai-1715', 'zhuhai-126'),
 ('shanghai-1899', 'zhuhai-126'),
 ('beijing-490', 'beijing_461'),
 ('beijing-463', 'beijing_461'),
 ('shanghai-1677', 'zhuhai-126'),
 ('xuzhoujiangsu-32', 'xuzhou-18'),
 ('an-702', 'xian-105'),
 ('liangjiangnewdistrict-8', 'liangjiangxinqu-11'),
 ('beijing-576', 'beijing_549'),
 ('harbin-52', 'haerbin-33'),
 ('foshan-373', 'foahan-15'),
 ('lingaocounty-4', 'lingao-4'),
 ('harbin-60', 'haerbin-33'),
 ('beijing-476', 'beijing_462'),
 ('beijing-500', 'beijing_500'),
 ('beijing-101', 'beijing_548'),
 ('harbin-49', 'haerbin-49'),
 ('garz-55', 'ganzi-8'),
 ('an-445', 'xian-44'),
 ('an-14', 'huaian-8'),
 ('an-371', 'xian-37'),
 ('beijing-513', 'beijing_514'),
 ('southbank-10', 'nanan-5'),
 ('an-2132', 'zhuhai-126'),
 ('beijing-523', 'beijing_513'),
 ('harbin-29', 'haerbin-27'),
 ('an-451', 'xian-44'),
 ('pingdingshan-40', 'nanyang-116'),
 ('liangping-3', 'liangjiangxinqu-15'),
 ('foshan-344', 'foahan-15'),
 ('an-1032', 'xian-35'),
 ('an-409', 'xian-42'),
 ('foshan-342', 'foahan-15'),
 ('pingdingshan-25', 'nanyang-116'),
 ('shanghai-1681', 'zhuhai-126'),
 ('beijing-568', 'beijing_557'),
 ('ordos-4', 'eerduosi-1'),
 ('an-1410', 'xian-49'),
 ('harbin-59', 'haerbin-50'),
 ('bazhong-10', 'shanxi-1'),
 ('xuzhoujiangsu-53', 'xuzhou-5'),
 ('an-691', 'xian-67'),
 ('an-702', 'xian-70'),
 ('xuzhoujiangsu-8', 'xuzhou-8'),
 ('an-883', 'xian-117'),
 ('heihe-10', 'haerbin-83'),
 ('an-1033', 'xian-35'),
 ('xuzhoujiangsu-71', 'xuzhou-6'),
 ('shanghai-1555', 'zhuhai-126'),
 ('beijing-506', 'beijing_500'),
 ('heihe-10', 'haerbin-80'),
 ('beijing-535', 'beijing_538'),
 ('bozhou-85', 'fouzhou-96'),
 ('pingdingshan-38', 'nanyang-116'),
 ('beijing-473', 'beijing_463'),
 ('an-2113', 'an-1927'),
 ('dali-11', 'xuzhou-8'),
 ('baoshan-4', 'xuzhou-42'),
 ('an-352', 'xian-36'),
 ('wanzhou-3', 'wanzhouqu-26'),
 ('beijing-547', 'beijing_536'),
 ('harbin-83', 'haerbin-81'),
 ('xiamen-542', 'zhuhai-126'),
 ('an-877', 'xian-117'),
 ('hefei-84', 'heifei-16'),
 ('an-901', 'xian-83'),
 ('xuzhoujiangsu-15', 'xuzhou-1'),
 ('xuzhoujiangsu-52', 'xuzhou-1'),
 ('beijing-476', 'beijing_461'),
 ('an-1142', 'xian-87'),
 ('shanghai-1788', 'zhuhai-126'),
 ('nanchong-9', 'nancong-36'),
 ('xuzhoujiangsu-50', 'xuzhou-1'),
 ('an-449', 'xian-102'),
 ('foshan-153', 'foahan-38'),
 ('xuzhoujiangsu-34', 'xuzhou-18'),
 ('shanghai-1657', 'zhuhai-126'),
 ('hefei-54', 'heifei-16'),
 ('garz-71', 'ganzi-8'),
 ('shanghai-1661', 'zhuhai-126'),
 ('an-37', 'xian-64'),
 ('an-6', 'xian-24'),
 ('an-1112', 'xian-44'),
 ('beijing-543', 'beijing_537'),
 ('xuzhoujiangsu-62', 'xuzhou-6'),
 ('beijing-582', 'beijing_557'),
 ('beijing-454', 'beijing_454'),
 ('liangjiangnewdistrict-2', 'liangjiangxinqu-11'),
 ('an-1011', 'xian-77'),
 ('an-803', 'xian-63'),
 ('an-703', 'xian-105'),
 ('an-880', 'xian-87'),
 ('baoshan-1', 'xuzhou-41'),
 ('beijing-546', 'beijing_535'),
 ('an-392', 'xian-37'),
 ('tongling-8', 'tonling-24'),
 ('an-248', 'yanan-2'),
 ('an-24', 'huaian-2'),
 ('pingdingshan-35', 'nanyang-116'),
 ('jiangsu-25', 'yangcheng-25'),
 ('fuzhou-155', 'zhuhai-126'),
 ('garz-7', 'ganzi-8'),
 ('foshan-171', 'foahan-38'),
 ('xuzhoujiangsu-14', 'xuzhou-4'),
 ('harbin-82', 'haerbin-83'),
 ('harbin-82', 'haerbin-80'),
 ('an-354', 'xian-74'),
 ('an-26', 'guangan-21'),
 ('an-408', 'xian-40'),
 ('xuzhoujiangsu-70', 'xuzhou-5'),
 ('harbin-80', 'haerbin-83'),
 ('hohhot-2', 'huhehaote-1'),
 ('harbin-80', 'haerbin-80'),
 ('garz-72', 'ganzi-8'),
 ('beijing-502', 'beijing_502'),
 ('an-86', 'xian-86'),
 ('shanghai-1574', 'zhuhai-126'),
 ('an-703', 'xian-70'),
 ('shanghai-1684', 'zhuhai-126'),
 ('an-852', 'xian-95'),
 ('an-2', 'ganzi-5'),
 ('xuzhoujiangsu-5', 'xuzhou-5'),
 ('tanghecounty-119', 'nanyang-118'),
 ('an-374', 'xian-37'),
 ('shanghai-1757', 'zhuhai-126'),
 ('an-7', 'guangan-21'),
 ('an-249', 'xian-24'),
 ('shanghai-1613', 'zhuhai-126'),
 ('harbin-81', 'haerbin-83'),
 ('harbin-81', 'haerbin-80'),
 ('qiqihar-12', 'qiqihaer-12'),
 ('nanyang-34', 'nanyang-117'),
 ('pingdingshan-11', 'nanyang-116'),
 ('an-88', 'xian-112'),
 ('hefei-72', 'heifei-16'),
 ('an-24', 'xian-24'),
 ('wanzhou-28', 'wanzhouqu-60'),
 ('foshan-186', 'foahan-38'),
 ('xuzhoujiangsu-61', 'xuzhou-5'),
 ('ulanchabu-1', 'eerduosi-1'),
 ('shanghai-1823', 'zhuhai-126'),
 ('an-42', 'huaian-11'),
 ('xuzhoujiangsu-75', 'xuzhou-4'),
 ('xuzhoujiangsu-16', 'xuzhou-6'),
 ('suihua-1', 'qiqihaer-12'),
 ('an-381', 'xian-64'),
 ('shanghai-1919', 'zhuhai-126'),
 ('an-10', 'huaian-10'),
 ('xuzhoujiangsu-20', 'xuzhou-6'),
 ('jiangsu-26', 'yangcheng-25'),
 ('an-878', 'xian-112'),
 ('xuzhoujiangsu-47', 'xuzhou-45'),
 ('liangjiangnewdistrict-11', 'liangjiangxinqu-11'),
 ('southbank-14', 'nanan-12'),
 ('qiqihar-7', 'qiqihaer-12'),
 ('an-351', 'xian-36'),
 ('xuzhoujiangsu-26', 'xuzhou-26'),
 ('taizhou-34', 'taihou-35'),
 ('suzhou-2', 'zuzhou-26'),
 ('an-403', 'xian-41'),
 ('xuzhoujiangsu-72', 'xuzhou-4'),
 ('xuzhoujiangsu-9', 'xuzhou-42'),
 ('beijing-557', 'beijing_557'),
 ('beijing-564', 'beijing_557'),
 ('xiamen-541', 'zhuhai-126'),
 ('foshan-18', 'foahan-38'),
 ('an-746', 'xian-35'),
 ('beijing-536', 'beijing_535'),
 ('an-4', 'xian-37'),
 ('liangjiangnewdistrict-4', 'liangjiangxinqu-11'),
 ('an-52', 'huaian-11'),
 ('an-12', 'ganzi-5'),
 ('foshan-385', 'foahan-15'),
 ('an-378', 'xian-37'),
 ('chengdu-429', 'chengdu_411'),
 ('xuzhoujiangsu-17', 'xuzhou-4'),
 ('xuzhoujiangsu-58', 'xuzhou-1'),
 ('shanghai-1773', 'zhuhai-126'),
 ('xuzhoujiangsu-45', 'xuzhou-39'),
 ('shanghai-1766', 'zhuhai-126'),
 ('beijing-588', 'zhuhai-126'),
 ('an-1031', 'xian-35'),
 ('an-353', 'xian-36'),
 ('beijing-572', 'beijing_557'),
 ('lingshuicounty-6', 'lingshui-1'),
 ('shanghai-1754', 'zhuhai-126'),
 ('shenzhen-667', 'shenzhen_667'),
 ('beijing-455', 'beijing_455'),
 ('shanghai-1775', 'zhuhai-126'),
 ('an-651', 'xian-37'),
 ('pingdingshan-41', 'nanyang-116'),
 ('beijing-581', 'beijing_549'),
 ('changjiang-2', 'wanchang-2'),
 ('an-240', 'xian-25'),
 ('xuzhoujiangsu-19', 'xuzhou-1'),
 ('xuzhoujiangsu-73', 'xuzhou-6'),
 ('an-747', 'xian-35'),
 ('an-876', 'xian-114'),
 ('ordos-2', 'eerduosi-1'),
 ('beijing-518', 'beijing_513'),
 ('beijing-523', 'beijing_514'),
 ('harbin-39', 'haerbin-33'),
 ('harbin-92', 'haerbin-82'),
 ('baoshan-4', 'xuzhou-8'),
 ('xiamen-527', 'zhuhai-126'),
 ('an-680', 'xian-67'),
 ('beijing-573', 'beijing_548'),
 ('yancheng-18', 'yangcheng-5'),
 ('shenzhen-663', 'shenzhen_657'),
 ('beijing-480', 'beijing_463'),
 ('xuzhoujiangsu-7', 'xuzhou-4'),
 ('wanzhou-26', 'wanzhouqu-27'),
 ('chengdu-416', 'chengdu_406'),
 ('tongling-8', 'toling-25'),
 ('dali-1', 'xuzhou-41'),
 ('an-97', 'xian-83'),
 ('an-243', 'yanan-5'),
 ('an-358', 'xian-103'),
 ('an-49', 'huaian-11'),
 ('shanghai-1914', 'zhuhai-126'),
 ('shanghai-1905', 'zhuhai-126'),
 ('an-872', 'xian-117'),
 ('pingdingshan-43', 'nanyang-116'),
 ('an-14', 'ganzi-5'),
 ('shanghai-1811', 'zhuhai-126'),
 ('xiamen-560', 'zhuhai-126'),
 ('xiamen-554', 'zhuhai-126'),
 ('an-380', 'xian-84'),
 ('yancheng-21', 'yangcheng-6'),
 ('an-2128', 'zhuhai-126'),
 ('bazhong-1', 'shanxi-1'),
 ('beijing-450', 'beijing_450'),
 ('an-357', 'xian-35'),
 ('an-180', 'xian-54'),
 ('nanyang-84', 'nanyang-116'),
 ('beijing-460', 'beijing_458'),
 ('pingdingshan-36', 'nanyang-116'),
 ('harbin-27', 'haerbin-40'),
 ('dali-4', 'xuzhou-41'),
 ('an-13', 'xian-55'),
 ('an-455', 'xian-111'),
 ('harbin-96', 'haerbin-82'),
 ('harbin-93', 'haerbin-82'),
 ('xiamen-528', 'zhuhai-126'),
 ('shanghai-1607', 'zhuhai-126'),
 ('an-356', 'xian-103'),
 ('lingshuicounty-2', 'lingshui-1'),
 ('yancheng-11', 'yangcheng-8'),
 ('beijing-456', 'beijing_457'),
 ('an-22', 'guangan-21'),
 ('shenzhen-661', 'shenzhen_657'),
 ('beijing-473', 'beijing_462'),
 ('suzhou-28', 'zuzhou-26'),
 ('shanghai-1828', 'zhuhai-126'),
 ('hefei-73', 'heifei-16'),
 ('an-57', 'huaian-3'),
 ('xuzhoujiangsu-54', 'xuzhou-1'),
 ('harbin-3', 'haerbin-26'),
 ('an-1036', 'xian-35'),
 ('an-1169', 'xian-83'),
 ('an-394', 'xian-84'),
 ('nanchong-6', 'nancong-36'),
 ('an-398', 'xian-64'),
 ('shanghai-1837', 'zhuhai-126'),
 ('beijing-592', 'zhuhai-126'),
 ('foshan-389', 'foahan-15'),
 ('an-36', 'huaian-3'),
 ('an-372', 'xian-37'),
 ('suihua-2', 'qiqihaer-11'),
 ('xuzhoujiangsu-68', 'xuzhou-5'),
 ('lingaocounty-6', 'lingao-2'),
 ('harbin-54', 'haerbin-33'),
 ('an-457', 'xian-102'),
 ('wanzhou-29', 'wanzhouqu-27'),
 ('liangping-2', 'liangjiangxinqu-15'),
 ('shanghai-1826', 'zhuhai-126'),
 ('shanghai-1579', 'zhuhai-126'),
 ('xiamen-575', 'zhuhai-126'),
 ('an-47', 'huaian-3'),
 ('harbin-5', 'haerbin-46'),
 ('an-881', 'xian-117'),
 ('an-36', 'xian-35'),
 ('an-25', 'huaian-9'),
 ('an-689', 'xian-67'),
 ('xuzhoujiangsu-56', 'xuzhou-4'),
 ('bayannaoer-2', 'huhehaote-2'),
 ('shenzhen-677', 'shenzhen_677'),
 ('beijing-538', 'beijing_538'),
 ('xuzhoujiangsu-9', 'xuzhou-8'),
 ('beijing-473', 'beijing_461'),
 ('an-45', 'xian-44'),
 ('beijing-457', 'beijing_456'),
 ('harbin-87', 'haerbin-82'),
 ('beijing-525', 'beijing_515'),
 ('lingshuicounty-5', 'lingshui-1'),
 ('yancheng-17', 'yangcheng-6'),
 ('shanghai-1827', 'zhuhai-126'),
 ('beijing-560', 'beijing_557'),
 ('beijing-563', 'beijing_557'),
 ('shanghai-1729', 'zhuhai-126'),
 ('foshan-194', 'foahan-38'),
 ('yangzhou-234', 'yangzhou-2210'),
 ('beijing-579', 'beijing_548'),
 ('beijing-553', 'beijing_553'),
 ('wangkui-5', 'qiqihaer-12'),
 ('beijing-569', 'beijing_557'),
 ('beijing-543', 'beijing_535'),
 ('beijing-105', 'beijing_549'),
 ('tech-4', 'gaoxin-2'),
 ('foshan-368', 'foahan-15'),
 ('baotou-2', 'huhehaote-1'),
 ('xuzhoujiangsu-30', 'xuzhou-26'),
 ('an-20', 'huaian-10'),
 ('an-1038', 'xian-35'),
 ('shanghai-1659', 'zhuhai-126'),
 ('an-87', 'xian-114'),
 ('foshan-169', 'foahan-38'),
 ('qiqihar-11', 'qiqihaer-9'),
 ('an-874', 'xian-112'),
 ('liangjiangnewdistrict-12', 'liangjiangxinqu-11'),
 ('an-3', 'huaian-3'),
 ('an-15', 'ganzi-5'),
 ('beihai-26', 'beiihai-24'),
 ('pingdingshan-18', 'nanyang-116'),
 ('qingdao-253', 'zhuhai-126'),
 ('shanghai-1908', 'zhuhai-126'),
 ('beijing-464', 'beijing_462'),
 ('liangjiangnewdistrict-16', 'liangjiangxinqu-15'),
 ('beihai-20', 'beiihai-26'),
 ('beijing-521', 'beijing_513'),
 ('an-2189', 'zhuhai-126'),
 ('an-2173', 'zhuhai-126'),
 ('harbin-80', 'haerbin-81'),
 ('pingxiang-27', 'pingxiang-326'),
 ('an-384', 'xian-37'),
 ('beijing-520', 'beijing_513'),
 ('an-130', 'xian-52'),
 ('an-452', 'xian-111'),
 ('shanghai-1810', 'zhuhai-126'),
 ('an-882', 'xian-87'),
 ('an-59', 'huaian-3'),
 ('shanghai-1878', 'zhuhai-126'),
 ('baoshan-1', 'xuzhou-42'),
 ('an-243', 'xian-25'),
 ('xuzhoujiangsu-77', 'xuzhou-1'),
 ('xiamen-569', 'zhuhai-126'),
 ('shanghai-1581', 'zhuhai-126'),
 ('beijing-479', 'beijing_461'),
 ('hohhot-1', 'huhehaote-2'),
 ('beijing-104', 'beijing_549'),
 ('harbin-81', 'haerbin-81'),
 ('shanghai-1782', 'zhuhai-126'),
 ('shanghai-1774', 'zhuhai-126'),
 ('an-62', 'huaian-8'),
 ('beijing-539', 'beijing_539'),
 ('hefei-50', 'heifei-16'),
 ('beijing-106', 'beijing_557'),
 ('beijing-518', 'beijing_514'),
 ('an-2015', 'an-1898'),
 ('an-800', 'xian-63'),
 ('liangjiangnewdistrict-11', 'liangjiangxinqu-15'),
 ('xuzhoujiangsu-26', 'xuzhou-18'),
 ('an-2118', 'zhuhai-126'),
 ('xuzhoujiangsu-66', 'xuzhou-5'),
 ('foshan-15', 'foahan-38'),
 ('ulanchabu-2', 'huhehaote-2'),
 ('shanghai-1615', 'zhuhai-126'),
 ('an-180', 'xian-26'),
 ('foshan-179', 'foahan-38'),
 ('beijing-475', 'beijing_463'),
 ('yancheng-7', 'yangcheng-5'),
 ('an-11', 'huaian-3'),
 ('beijing-593', 'zhuhai-126'),
 ('beijing-565', 'beijing_549'),
 ('an-2127', 'zhuhai-126'),
 ('beijing-583', 'beijing_557'),
 ('an-1018', 'xian-77'),
 ('chengdu-426', 'chengdu_406'),
 ('wuhai-1', 'wulanchabu-1'),
 ('tech-4', 'gaoxin-1'),
 ('shenzhen-279', 'shenzhne-278'),
 ('an-1111', 'xian-44'),

In [50]:
cases_with_contact_info['ID'].loc[cases_with_contact_info['ID'].str.contains('Beijing')].to_list()

['Beijing_432',
 'Beijing_433',
 'Beijing_448',
 'Beijing_449',
 'Beijing_450',
 'Beijing_451',
 'Beijing_452',
 'Beijing_453',
 'Beijing_454',
 'Beijing_455',
 'Beijing_456',
 'Beijing_457',
 'Beijing_458',
 'Beijing_461',
 'Beijing_462',
 'Beijing_463',
 'Beijing_492',
 'Beijing_493',
 'Beijing_494',
 'Beijing_495',
 'Beijing_496',
 'Beijing_497',
 'Beijing_498',
 'Beijing_500',
 'Beijing_501',
 'Beijing_502',
 'Beijing_513',
 'Beijing_514',
 'Beijing_515',
 'Beijing_535',
 'Beijing_536',
 'Beijing_537',
 'Beijing_538',
 'Beijing_539',
 'Beijing_550',
 'Beijing_551',
 'Beijing_552',
 'Beijing_553',
 'Beijing_554',
 'Beijing_557',
 'Beijing-11',
 'Beijing-12',
 'Beijing-13',
 'Beijing-14',
 'Beijing-144',
 'Beijing-146',
 'Beijing-17',
 'Beijing-173',
 'Beijing-174',
 'Beijing-175',
 'Beijing-18',
 'Beijing-19',
 'Beijing-199',
 'Beijing-200',
 'Beijing-201',
 'Beijing-203',
 'Beijing-207',
 'Beijing-208',
 'Beijing-211',
 'Beijing-212',
 'Beijing-213',
 'Beijing-214',
 'Beijing-215',
 'Beijing-216',
 'Beijing-23',
 'Beijing-24',
 'Beijing-29',
 'Beijing-30',
 'Beijing-373',
 'Beijing-374',
 'Beijing-385',
 'Beijing-386',
 'Beijing-388',
 'Beijing-67',
 'Beijing-68',
 'Beijing-69']

In [68]:
network = nx.Graph()
network.add_edges_from(edge_list)
network.add_nodes_from(node_list)

In [69]:
len(network.nodes)

29529

In [84]:

with open('network.json', mode='w') as of:
    json.dump(nx.node_link_data(network), of)

In [2]:
with open('network.json', mode='r') as f:
    network = nx.node_link_graph(json.load(f))

In [5]:
array = np.array(nx.degree_histogram(network))
np.argsort(array)

array([660, 810, 809, ...,   3,   1,   2], dtype=int64)

In [71]:
np.sort(array)

array([    0,     0,     0, ...,  3194,  6179, 12818])

In [12]:
pd.Series(dict(network.degree)).mean(), pd.Series(dict(network.degree)).std()

(3.600528294219242, 18.27318158555257)

In [17]:
tmp = pd.Series(dict(network.degree))
tmp.loc[tmp > 0].shape[0] / tmp.shape[0]

0.9318635917233906

In [18]:
tmp.median()

2.0

In [77]:
d = dict()
for i, degree in enumerate(np.argsort(array)):
    count = np.sort(array)[i]
    if count > 0:
        d[degree] = count

In [83]:
sum(d.values())

29529

In [82]:
OrderedDict(sorted(d.items()))

OrderedDict([(0, 2012),
             (1, 6179),
             (2, 12818),
             (3, 3194),
             (4, 1619),
             (5, 966),
             (6, 504),
             (7, 350),
             (8, 446),
             (9, 194),
             (10, 152),
             (11, 131),
             (12, 150),
             (13, 70),
             (14, 74),
             (15, 64),
             (16, 64),
             (17, 51),
             (18, 20),
             (19, 24),
             (20, 23),
             (21, 11),
             (22, 35),
             (23, 33),
             (24, 20),
             (25, 32),
             (26, 9),
             (27, 14),
             (28, 15),
             (29, 8),
             (30, 4),
             (31, 13),
             (32, 3),
             (33, 11),
             (34, 7),
             (35, 7),
             (37, 9),
             (38, 6),
             (39, 4),
             (40, 2),
             (41, 6),
             (42, 4),
             (43, 2),
             (44, 12),
             (45, 4),
             (46, 1),
             (47, 2),
             (50, 5),
             (51, 4),
             (53, 1),
             (54, 8),
             (55, 7),
             (56, 1),
             (57, 1),
             (59, 1),
             (60, 2),
             (61, 2),
             (64, 1),
             (65, 3),
             (66, 1),
             (67, 1),
             (69, 1),
             (71, 1),
             (75, 1),
             (76, 3),
             (77, 4),
             (78, 5),
             (79, 4),
             (82, 1),
             (87, 1),
             (88, 2),
             (89, 2),
             (90, 3),
             (92, 3),
             (93, 5),
             (99, 1),
             (102, 4),
             (103, 3),
             (106, 2),
             (108, 3),
             (109, 2),
             (119, 5),
             (121, 2),
             (132, 2),
             (135, 8),
             (152, 3),
             (155, 1),
             (156, 2),
             (165, 9),
             (169, 1),
             (171, 1),
             (175, 1),
             (189, 1),
             (203, 1),
             (221, 2),
             (225, 1),
             (238, 2),
             (264, 2),
             (270, 1),
             (287, 2),
             (445, 1),
             (462, 1),
             (476, 1),
             (478, 1),
             (493, 2),
             (542, 2),
             (553, 2),
             (582, 1),
             (1123, 1),
             (1317, 1),
             (1320, 1)])

In [72]:
connected_components = nx.connected_components(network)
connected_components = np.array(list(connected_components))

In [73]:
len(connected_components)

3573

In [74]:
from collections import Counter
Counter(np.array([len(x) for x in connected_components]) > 3)

Counter({True: 1333, False: 2240})

In [7]:
china_nodelist = pd.read_csv('../Data/Preprocessed/china_nodelist.csv')

In [9]:
china_nodelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25877 entries, 0 to 25876
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        25877 non-null  int64
 1   node_id           25877 non-null  object
 2   age               19702 non-null  object
 3   gender            20275 non-null  object
 4   residency         16800 non-null  object
 5   place_event       8463 non-null   object
 6   possible_source   6200 non-null   object
 7   symptom           6002 non-null   object
 8   symptom_severity  7249 non-null   object
 9   place_admission   25730 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.0+ MB

In [24]:
china_nodelist['age'] = pd.to_numeric(china_nodelist['age'], errors='coerce')

0        49.0
1        54.0
2        50.0
3        46.0
4        58.0
         ...
25872     NaN
25873     NaN
25874     NaN
25875     NaN
25876     NaN
Name: age, Length: 25877, dtype: float64

In [26]:
china_nodelist['age'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25877 entries, 0 to 25876
Series name: age
Non-Null Count  Dtype
--------------  -----
19671 non-null  float64
dtypes: float64(1)
memory usage: 202.3 KB

In [25]:
china_nodelist['age'].describe()

count    19671.000000
mean        41.711682
std         18.058628
min          0.000000
25%         30.000000
50%         41.000000
75%         54.000000
max        644.000000
Name: age, dtype: float64

In [27]:
china_nodelist['gender'] = china_nodelist['gender'].apply(lambda x: str(x).lower())
china_nodelist['gender'] = china_nodelist['gender'].apply(lambda x: x.strip())
china_nodelist['gender'] = china_nodelist['gender'].apply(lambda x: 'male' if x in ('male', 'man') else x)
china_nodelist['gender'] = china_nodelist['gender'].apply(lambda x: np.nan if x not in ('male', 'female') else x)

In [28]:
china_nodelist['gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25877 entries, 0 to 25876
Series name: gender
Non-Null Count  Dtype
--------------  -----
20252 non-null  object
dtypes: object(1)
memory usage: 202.3+ KB

In [29]:
Counter(china_nodelist['gender']).items()

dict_items([('male', 11182), ('female', 9070), (nan, 5625)])

In [10]:
china_edgelist = pd.read_csv('../Data/Preprocessed/china_edgelist.csv')

In [30]:
china_nodelist['residency'] = china_nodelist['residency'].apply(lambda x: str(x).lower())
china_nodelist['residency'] = china_nodelist['residency'].apply(lambda x: x.strip())

china_nodelist['place_event'] = china_nodelist['place_event'].apply(lambda x: str(x).lower())
china_nodelist['place_event'] = china_nodelist['place_event'].apply(lambda x: x.strip())

china_nodelist['symptom'] = china_nodelist['symptom'].apply(lambda x: str(x).lower())
china_nodelist['symptom'] = china_nodelist['symptom'].apply(lambda x: x.strip())
most_common_symptoms = Counter(china_nodelist['symptom']).most_common()
symptom_keys = set([x[0] for x in most_common_symptoms])
china_nodelist['symptom'] = china_nodelist['symptom'].apply(lambda x: x if x in symptom_keys else np.nan)

china_nodelist['place_admission'] = china_nodelist['place_admission'].apply(lambda x: str(x).lower())
china_nodelist['place_admission'] = china_nodelist['place_admission'].apply(lambda x: x.strip())

china_nodelist['symptom_severity'] = china_nodelist['symptom_severity'].apply(lambda x: str(x).lower())
china_nodelist['symptom_severity'] = china_nodelist['symptom_severity'].apply(lambda x: x.strip())
china_nodelist['symptom_severity'] = china_nodelist['symptom_severity'].apply(lambda x: x if x in ('stable', 'mild', 'light', 'severe') else np.nan)

In [32]:
Counter(china_nodelist['residency']).most_common(10)

[('nan', 9077),
 ("shaanxi_xi'an", 1947),
 ('hubei_wuhan', 1671),
 ('hebei_shijiazhuang', 888),
 ('inner mongolia_hulunbuir', 547),
 ('henan_xuchang', 367),
 ('jilin_tonghua', 324),
 ('zhengzhou, henan', 304),
 ('guangdong_shenzhen', 269),
 ('henan_xinyang', 200)]

In [33]:
Counter(china_nodelist['place_event']).most_common(10)

[('nan', 17414),
 ('na', 753),
 ('wuhan travel', 596),
 ('dinner', 360),
 ('wuhan residence', 337),
 ('work in wuhan', 263),
 ('travel', 224),
 ('wuhan life', 212),
 ('tourism', 190),
 ('family contact', 149)]

In [35]:
Counter(china_nodelist['symptom']).most_common(10)

[('nan', 19875),
 ('somatosensory related-sign description', 1904),
 ('respiratory system related-symptom description/somatosensory related-sign description',
  640),
 ('respiratory system related-symptom description', 495),
 ('asymptomatic', 458),
 ('somatosensory related-symptom description/somatosensory related-sign description',
  371),
 ('na', 267),
 ('somatosensory related-symptom description', 226),
 ('somatosensory related-symptom description/respiratory system related-symptom description/somatosensory related-sign description',
  208),
 ('asymptomatic/na', 189)]

In [36]:
Counter(china_nodelist['symptom_severity']).most_common(10)

[(nan, 18816),
 ('stable', 3979),
 ('mild', 2545),
 ('light', 405),
 ('severe', 132)]

In [38]:
china_nodelist['place_admission'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25877 entries, 0 to 25876
Series name: place_admission
Non-Null Count  Dtype
--------------  -----
25877 non-null  object
dtypes: object(1)
memory usage: 202.3+ KB

In [37]:
Counter(china_nodelist['place_admission']).most_common(10)

[("shaanxi_xi'an", 2292),
 ('shanghai', 2079),
 ('guangzhou, guangdong', 1398),
 ('hebei_shijiazhuang', 920),
 ('sichuan_chengdu', 768),
 ('inner mongolia_hulunbuir', 548),
 ('jiangsu_yangzhou', 547),
 ('tianjin', 511),
 ('fujian xiamen', 506),
 ('zhejiang_wenzhou', 473)]

In [11]:
china_edgelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38393 non-null  int64
 1   Referee     38393 non-null  object
 2   Referral    11436 non-null  object
 3   Date        38393 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.2+ MB

In [12]:
china_edgelist['Date'].describe()

count     38393.000000
mean     205439.980127
std        6431.278786
min      200101.000000
25%      200206.000000
50%      200413.000000
75%      210814.000000
max      220814.000000
Name: Date, dtype: float64

In [17]:
from network_analysis.basic_framework import BasicAnalysisFramework
network = BasicAnalysisFramework()

In [18]:
network.load_edgelist('../Data/Preprocessed/china_edgelist.csv')

E:\Data\masterarbeit\network_analysis\basic_framework.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_contact['Referee'] = rows_with_contact['Referee'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_contact['Referral'] = rows_with_contact['Referral'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_without_contact['Referee'] = rows_without_contact['Referee'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])
E:\Data\masterarbeit\network_analysis\basic_framework.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_without_contact['Referral'] = rows_without_contact['Referral'].astype('str', errors='ignore').apply(lambda x: x.split('.')[0])

In [21]:
array = np.array(nx.degree_histogram(network._network))
d = dict()
for i, degree in enumerate(np.argsort(array)):
    count = np.sort(array)[i]
    if count > 0:
        d[degree] = count
OrderedDict(sorted(d.items()))

OrderedDict([(0, 20557),
             (1, 2995),
             (2, 1045),
             (3, 496),
             (4, 237),
             (5, 155),
             (6, 113),
             (7, 85),
             (8, 25),
             (9, 40),
             (10, 33),
             (11, 37),
             (12, 1),
             (13, 15),
             (15, 2),
             (16, 31),
             (18, 1),
             (22, 1),
             (24, 2),
             (44, 1),
             (47, 1),
             (56, 1),
             (63, 1),
             (64, 1),
             (135, 1)])

## Xi'an Dataset

In [2]:
xian = pd.read_csv('../Data/Raw/Xian/xian.csv')
xian

,Id,Label,timeset,Degree,componentnumber,pageranks,Eccentricity,closnesscentrality,harmonicclosnesscentrality,betweenesscentrality
0,1,1.0,NaN,1,0,0.000813,1,1.000000,1.000000,0
1,2,NaN,NaN,0,1,0.000122,0,0.000000,0.000000,0
2,3,3.0,NaN,1,0,0.000813,1,1.000000,1.000000,0
3,4,4.0,NaN,5,2,0.001976,4,0.357955,0.404762,242
4,5,5.0,NaN,12,2,0.004200,3,0.516393,0.574074,1675
...,...,...,...,...,...,...,...,...,...,...
2045,2046,NaN,NaN,0,1286,0.000122,0,0.000000,0.000000,0
2046,2047,NaN,NaN,0,1287,0.000122,0,0.000000,0.000000,0
2047,2048,NaN,NaN,0,1288,0.000122,0,0.000000,0.000000,0
2048,2049,NaN,NaN,0,1289,0.000122,0,0.000000,0.000000,0
2049,2050,NaN,NaN,0,1290,0.000122,0,0.000000,0.000000,0

In [13]:
xian['Degree'].describe()

count    2050.000000
mean        0.740488
std         1.379261
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max        43.000000
Name: Degree, dtype: float64

In [14]:
xian['pageranks'].describe()

count    2050.000000
mean        0.000488
std         0.000578
min         0.000122
25%         0.000122
50%         0.000448
75%         0.000813
max         0.016498
Name: pageranks, dtype: float64

In [16]:
xian['closnesscentrality'].describe()

count    2050.000000
mean        0.394488
std         0.410639
min         0.000000
25%         0.000000
50%         0.350044
75%         0.666667
max         1.000000
Name: closnesscentrality, dtype: float64

In [15]:
xian['betweenesscentrality'].describe()

count    2050.000000
mean        3.370244
std        50.579482
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1675.000000
Name: betweenesscentrality, dtype: float64

In [3]:
xian_edges = pd.read_csv('../Data/Raw/Xian/xian_edges.csv')
xian_edges

     Source  Target        Type    Id  Label  timeset  Weight
0         3       1  Undirected     2    NaN      NaN       1
1         5       4  Undirected     4    NaN      NaN       1
2         6       5  Undirected     5    NaN      NaN       1
3         7       5  Undirected     6    NaN      NaN       1
4         8       5  Undirected     7    NaN      NaN       1
..      ...     ...         ...   ...    ...      ...     ...
754    2027    1792  Undirected  2026    NaN      NaN       1
755    2028     172  Undirected  2027    NaN      NaN       1
756    2035    1792  Undirected  2034    NaN      NaN       1
757    2036    1792  Undirected  2035    NaN      NaN       1
758    2039    1833  Undirected  2038    NaN      NaN       1

[759 rows x 7 columns]

In [4]:
edge_list = list()
for index, row in xian_edges.iterrows():
    edge_list.append((row['Source'], row['Target']))

edge_list

[(3, 1),
 (5, 4),
 (6, 5),
 (7, 5),
 (8, 5),
 (9, 5),
 (10, 4),
 (12, 5),
 (13, 8),
 (15, 5),
 (16, 8),
 (17, 8),
 (18, 5),
 (22, 12),
 (24, 7),
 (26, 21),
 (29, 12),
 (31, 18),
 (32, 12),
 (33, 9),
 (36, 12),
 (37, 18),
 (39, 18),
 (40, 18),
 (43, 18),
 (45, 12),
 (46, 18),
 (47, 12),
 (48, 22),
 (49, 7),
 (50, 6),
 (51, 5),
 (52, 18),
 (56, 27),
 (57, 18),
 (58, 42),
 (68, 67),
 (70, 42),
 (74, 42),
 (79, 68),
 (80, 12),
 (81, 44),
 (89, 12),
 (92, 5),
 (94, 92),
 (100, 7),
 (105, 75),
 (107, 102),
 (109, 75),
 (110, 42),
 (112, 38),
 (116, 9),
 (118, 18),
 (121, 5),
 (122, 66),
 (128, 113),
 (130, 113),
 (143, 18),
 (144, 18),
 (145, 111),
 (146, 18),
 (147, 28),
 (148, 111),
 (149, 18),
 (150, 111),
 (153, 111),
 (155, 94),
 (156, 72),
 (157, 113),
 (158, 94),
 (160, 78),
 (162, 78),
 (165, 12),
 (166, 4),
 (168, 4),
 (178, 77),
 (179, 77),
 (184, 9),
 (185, 84),
 (189, 66),
 (190, 66),
 (198, 84),
 (200, 38),
 (202, 30),
 (204, 88),
 (212, 151),
 (215, 153),
 (217, 115),
 (229, 19),
 (234, 30),
 (241, 91),
 (242, 11),
 (245, 230),
 (248, 12),
 (249, 32),
 (250, 84),
 (253, 198),
 (255, 54),
 (256, 192),
 (259, 132),
 (262, 126),
 (263, 71),
 (269, 5),
 (270, 198),
 (271, 117),
 (273, 20),
 (274, 20),
 (275, 54),
 (277, 66),
 (278, 66),
 (280, 117),
 (289, 259),
 (290, 67),
 (293, 182),
 (295, 88),
 (296, 68),
 (297, 111),
 (298, 125),
 (299, 4),
 (303, 64),
 (304, 112),
 (306, 111),
 (312, 65),
 (315, 102),
 (318, 288),
 (324, 127),
 (325, 307),
 (326, 307),
 (336, 77),
 (338, 127),
 (340, 206),
 (344, 44),
 (345, 205),
 (347, 127),
 (348, 346),
 (365, 115),
 (367, 227),
 (368, 172),
 (369, 172),
 (376, 268),
 (379, 227),
 (384, 383),
 (386, 142),
 (387, 289),
 (393, 77),
 (401, 42),
 (411, 221),
 (413, 7),
 (416, 101),
 (430, 84),
 (431, 84),
 (432, 84),
 (435, 237),
 (436, 226),
 (437, 433),
 (441, 227),
 (442, 221),
 (443, 267),
 (444, 267),
 (449, 409),
 (456, 99),
 (457, 391),
 (465, 440),
 (472, 244),
 (491, 204),
 (495, 86),
 (496, 398),
 (497, 202),
 (498, 83),
 (499, 83),
 (500, 96),
 (501, 83),
 (502, 83),
 (504, 207),
 (505, 164),
 (515, 154),
 (516, 360),
 (519, 360),
 (545, 195),
 (559, 111),
 (573, 194),
 (574, 194),
 (576, 239),
 (577, 170),
 (578, 170),
 (579, 101),
 (583, 138),
 (584, 88),
 (591, 210),
 (592, 161),
 (594, 139),
 (595, 84),
 (596, 197),
 (597, 246),
 (598, 91),
 (599, 159),
 (600, 320),
 (602, 225),
 (605, 238),
 (606, 181),
 (609, 283),
 (612, 258),
 (622, 96),
 (623, 167),
 (624, 432),
 (625, 244),
 (648, 133),
 (651, 186),
 (652, 186),
 (665, 404),
 (672, 302),
 (693, 214),
 (700, 388),
 (701, 388),
 (714, 12),
 (715, 180),
 (720, 313),
 (721, 323),
 (722, 329),
 (725, 484),
 (731, 136),
 (735, 91),
 (753, 186),
 (754, 466),
 (768, 96),
 (775, 44),
 (776, 436),
 (794, 208),
 (803, 391),
 (814, 543),
 (815, 674),
 (816, 674),
 (817, 512),
 (821, 119),
 (835, 657),
 (847, 569),
 (848, 391),
 (849, 391),
 (852, 374),
 (853, 283),
 (857, 351),
 (865, 167),
 (869, 389),
 (871, 331),
 (878, 429),
 (879, 429),
 (880, 837),
 (881, 326),
 (887, 228),
 (891, 423),
 (893, 95),
 (894, 95),
 (895, 216),
 (896, 425),
 (897, 11),
 (898, 439),
 (899, 78),
 (900, 642),
 (906, 423),
 (907, 95),
 (911, 793),
 (912, 530),
 (918, 197),
 (919, 69),
 (922, 222),
 (924, 54),
 (925, 88),
 (930, 647),
 (934, 390),
 (935, 801),
 (939, 711),
 (942, 421),
 (943, 421),
 (944, 788),
 (945, 589),
 (946, 53),
 (952, 524),
 (956, 240),
 (959, 409),
 (961, 788),
 (962, 530),
 (969, 350),
 (975, 461),
 (978, 975),
 (980, 461),
 (981, 9),
 (982, 403),
 (986, 461),
 (987, 461),
 (994, 360),
 (995, 529),
 (999, 456),
 (1000, 834),
 (1004, 104),
 (1005, 200),
 (1007, 222),
 (1008, 239),
 (1011, 657),
 (1013, 662),
 (1016, 543),
 (1018, 181),
 (1020, 350),
 (1021, 757),
 (1023, 543),
 (1026, 108),
 (1027, 108),
 (1030, 238),
 (1032, 108),
 (1033, 321),
 (1035, 664),
 (1038, 349),
 (1041, 1040),
 (1045, 509),
 (1049, 428),
 (1050, 224),
 (1052, 224),
 (1055, 440),
 (1058, 399),
 (1059, 773),
 (1063, 404),
 (1074, 233),
 (1102, 227),
 (1106, 516),
 (1108, 742),
 (1115, 472),
 (1117, 78),
 (1118, 92),
 (1121, 115),
 (1122, 135),
 (1123, 161),
 (1127, 163),
 (1133, 199),
 (1149, 206),
 (1151, 231),
 (1152, 233),
 (1155, 308),
 (1156, 349),
 (1157, 379),
 (1158, 403),
 (1159, 419),
 (1160, 421),
 (1162, 428),
 (1164, 428),
 (1165, 438),
 (1166, 438),
 (1167, 438),
 (1168, 443),
 (1169, 477),
 (1171, 495),
 (1172, 524),
 (1173, 555),
 (1175, 556),
 (1176, 608),
 (1178, 615),
 (1182, 617),
 (1183, 621),
 (1184, 621),
 (1185, 621),
 (1189, 629),
 (1191, 629),
 (1193, 629),
 (1194, 645),
 (1196, 647),
 (1197, 662),
 (1198, 676),
 (1199, 678),
 (1201, 687),
 (1203, 687),
 (1204, 726),
 (1206, 731),
 (1208, 750),
 (1210, 750),
 (1211, 756),
 (1214, 756),
 (1215, 760),
 (1216, 760),
 (1219, 774),
 (1220, 789),
 (1221, 801),
 (1222, 812),
 (1223, 834),
 (1231, 874),
 (1234, 886),
 (1235, 901),
 (1236, 908),
 (1237, 921),
 (1238, 921),
 (1245, 923),
 (1247, 930),
 (1249, 932),
 (1253, 939),
 (1255, 949),
 (1256, 957),
 (1259, 959),
 (1261, 1000),
 (1265, 1037),
 (1267, 1049),
 (1269, 1061),
 (1270, 1061),
 (1273, 1061),
 (1274, 1198),
 (1278, 948),
 (1280, 691),
 (1281, 948),
 (1282, 948),
 (1283, 698),
 (1285, 153),
 (1288, 1171),
 (1289, 678),
 (1304, 170),
 (1305, 391),
 (1306, 617),
 (1309, 1119),
 (1310, 631),
 (1311, 970),
 (1312, 977),
 (1320, 902),
 (1321, 902),
 (1322, 1060),
 (1323, 923),
 (1324, 923),
 (1331, 970),
 (1332, 970),
 (1336, 244),
 (1339, 428),
 (1341, 940),
 (1342, 533),
 (1344, 970),
 (1355, 87),
 (1356, 217),
 (1359, 1192),
 (1368, 1174),
 (1369, 1107),
 (1372, 752),
 (1373, 732),
 (1374, 910),
 (1375, 459),
 (1377, 698),
 (1378, 698),
 (1379, 1110),
 (1381, 795),
 (1384, 752),
 (1385, 233),
 (1386, 752),
 (1388, 1244),
 (1390, 1036),
 (1391, 200),
 (1392, 653),
 (1395, 185),
 (1396, 185),
 (1402, 1316),
 (1403, 46),
 (1407, 932),
 (1410, 1088),
 (1411, 428),
 (1412, 1061),
 (1413, 1003),
 (1415, 1061),
 (1417, 1119),
 (1421, 332),
 (1427, 1047),
 (1428, 391),
 (1429, 154),
 (1430, 1047),
 (1434, 141),
 (1436, 141),
 (1437, 1254),
 (1439, 916),
 (1447, 283),
 (1448, 1412),
 (1450, 537),
 (1452, 936),
 (1453, 756),
 (1456, 611),
 (1458, 649),
 (1459, 263),
 (1462, 208),
 (1463, 698),
 (1466, 557),
 (1469, 1358),
 (1470, 608),
 (1471, 1346),
 (1472, 1346),
 (1473, 1358),
 (1476, 280),
 (1477, 1117),
 (1479, 752),
 (1489, 1431),
 (1491, 1358),
 (1492, 1358),
 (1493, 1047),
 (1494, 1290),
 (1495, 675),
 (1504, 1096),
 (1508, 973),
 (1509, 1338),
 (1510, 1096),
 (1516, 1096),
 (1519, 1226),
 (1521, 683),
 (1522, 321),
 (1526, 1119),
 (1527, 988),
 (1528, 1155),
 (1529, 1155),
 (1531, 1155),
 (1532, 989),
 (1534, 1073),
 (1535, 1107),
 (1536, 429),
 (1538, 912),
 (1539, 1060),
 (1544, 1205),
 (1546, 1272),
 (1548, 1017),
 (1549, 1071),
 (1550, 1071),
 (1553, 1070),
 (1554, 1070),
 (1558, 1213),
 (1559, 1442),
 (1560, 47),
 (1567, 339),
 (1569, 1387),
 (1570, 1387),
 (1571, 1387),
 (1572, 1387),
 (1574, 1226),
 (1575, 1119),
 (1576, 1316),
 (1577, 1390),
 (1578, 883),
 (1581, 1017),
 (1583, 970),
 (1585, 1159),
 (1587, 185),
 (1588, 181),
 (1592, 1431),
 (1593, 1431),
 (1601, 1272),
 (1602, 920),
 (1603, 734),
 (1605, 571),
 (1606, 1387),
 (1607, 691),
 (1612, 1088),
 (1613, 1502),
 (1614, 300),
 (1627, 1061),
 (1628, 1003),
 (1631, 916),
 (1639, 967),
 (1641, 645),
 (1643, 75),
 (1648, 1012),
 (1650, 1012),
 (1651, 1468),
 (1653, 294),
 (1654, 773),
 (1656, 1226),
 (1657, 1118),
 (1658, 42),
 (1659, 1399),
 (1661, 1277),
 (1662, 233),
 (1666, 1629),
 (1667, 1308),
 (1671, 1281),
 (1681, 1301),
 (1684, 1629),
 (1685, 1457),
 (1686, 1337),
 (1688, 1213),
 (1689, 1357),
 (1691, 1276),
 (1692, 1276),
 (1695, 86),
 (1696, 909),
 (1698, 428),
 (1699, 1298),
 (1701, 1213),
 (1704, 1096),
 (1707, 1298),
 (1708, 750),
 (1710, 1257),
 (1712, 1502),
 (1714, 51),
 (1715, 1556),
 (1716, 1128),
 (1719, 1037),
 (1720, 1153),
 (1722, 1099),
 (1726, 141),
 (1730, 912),
 (1731, 1056),
 (1732, 161),
 (1733, 185),
 (1734, 186),
 (1746, 399),
 (1747, 1464),
 (1750, 28),
 (1751, 1321),
 (1760, 973),
 (1762, 1346),
 (1764, 1188),
 (1769, 698),
 (1770, 1610),
 (1772, 1533),
 (1773, 1533),
 (1774, 1533),
 (1775, 1447),
 (1778, 539),
 (1779, 136),
 (1782, 181),
 (1784, 1781),
 (1790, 127),
 (1793, 809),
 (1795, 970),
 (1796, 970),
 (1797, 1031),
 (1798, 970),
 (1801, 433),
 (1802, 181),
 (1804, 1589),
 (1805, 1608),
 (1807, 1037),
 (1808, 1651),
 (1810, 1738),
 (1811, 1169),
 (1813, 570),
 (1814, 1137),
 (1816, 46),
 (1817, 940),
 (1818, 1321),
 (1821, 231),
 (1823, 1676),
 (1826, 1637),
 (1827, 1677),
 (1830, 328),
 (1834, 1739),
 (1835, 1344),
 (1836, 1465),
 (1839, 1637),
 (1841, 649),
 (1845, 1036),
 (1846, 1572),
 (1847, 1272),
 (1848, 1723),
 (1849, 1723),
 (1850, 1723),
 (1851, 1723),
 (1852, 1723),
 (1853, 1723),
 (1855, 1723),
 (1856, 1723),
 (1858, 1589),
 (1859, 1723),
 (1860, 1723),
 (1861, 1723),
 (1862, 1723),
 (1863, 1723),
 (1864, 1723),
 (1865, 902),
 (1866, 1723),
 (1867, 1480),
 (1870, 1723),
 (1873, 1723),
 (1874, 1723),
 (1880, 1226),
 (1882, 1723),
 (1883, 1723),
 (1884, 1723),
 (1892, 1723),
 (1893, 1723),
 (1894, 1723),
 (1895, 1723),
 (1896, 1723),
 (1897, 1723),
 (1898, 1723),
 (1899, 1723),
 (1900, 1723),
 (1901, 1723),
 (1902, 1723),
 (1903, 1723),
 (1904, 1723),
 (1905, 1723),
 (1906, 1723),
 (1907, 1723),
 (1908, 1723),
 (1909, 1723),
 (1914, 226),
 (1915, 181),
 (1916, 1673),
 (1917, 1505),
 (1918, 1675),
 (1920, 136),
 (1922, 557),
 (1925, 1047),
 (1926, 1124),
 (1932, 1750),
 (1933, 958),
 (1934, 1723),
 (1935, 1723),
 (1936, 1723),
 (1937, 1820),
 (1938, 1889),
 (1940, 1406),
 (1942, 1435),
 (1943, 1406),
 (1944, 1435),
 (1945, 1435),
 (1946, 1435),
 (1948, 1435),
 (1950, 1401),
 (1952, 1408),
 (1955, 1408),
 (1958, 1759),
 (1960, 1506),
 (1961, 847),
 (1966, 1500),
 (1967, 1302),
 (1968, 1723),
 (1969, 1756),
 (1971, 1877),
 (1972, 1877),
 (1973, 1877),
 (1974, 1877),
 (1975, 220),
 (1976, 1877),
 (1977, 1962),
 (1978, 1877),
 (1979, 1877),
 (1981, 1877),
 (1983, 1396),
 (1984, 1812),
 (1985, 1833),
 (1989, 1977),
 (1991, 1964),
 (1992, 1505),
 (1993, 1962),
 (1995, 1921),
 (2003, 1820),
 (2005, 620),
 (2006, 1963),
 (2007, 1911),
 (2008, 489),
 (2009, 620),
 (2015, 1792),
 (2017, 1964),
 (2019, 1465),
 (2021, 1963),
 (2022, 1226),
 (2024, 1829),
 (2025, 1679),
 (2027, 1792),
 (2028, 172),
 (2035, 1792),
 (2036, 1792),
 (2039, 1833)]

In [5]:
network = nx.Graph()
network.add_edges_from(edge_list)
network.add_nodes_from(xian['Id'])

In [6]:
len(network.nodes), len(network.edges)

(2050, 759)

In [7]:
array = np.array(nx.degree_histogram(network))

In [9]:
d = dict()
for i, degree in enumerate(np.argsort(array)):
    count = np.sort(array)[i]
    if count > 0:
        d[degree] = count

In [10]:
OrderedDict(sorted(d.items()))

OrderedDict([(0, 965),
             (1, 871),
             (2, 132),
             (3, 43),
             (4, 17),
             (5, 9),
             (6, 5),
             (7, 2),
             (8, 2),
             (12, 2),
             (14, 1),
             (43, 1)])

In [11]:
connected_components = nx.connected_components(network)
connected_components = np.array(list(connected_components))
len(connected_components)

1291

In [12]:
from collections import Counter

Counter(np.array([len(x) for x in connected_components]) > 3)

Counter({False: 1209, True: 82})

# Covid cases without contact information

In [ ]:
covid_covariates = pd.read_csv('./Data/latestdata.csv')

C:\Users\simon\AppData\Local\Temp\ipykernel_15384\3487171269.py:1: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  covid_covariates = pd.read_csv('./Data/latestdata.csv')

In [ ]:
covid_covariates.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude',
       'longitude', 'geo_resolution', 'date_onset_symptoms',
       'date_admission_hospital', 'date_confirmation', 'symptoms',
       'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location',
       'reported_market_exposure', 'additional_information',
       'chronic_disease_binary', 'chronic_disease', 'source',
       'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials',
       'travel_history_binary'],
      dtype='object')

In [ ]:
covid_covariates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       object
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  float64
 7   longitude                 float64
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    bool
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  float64
 31  data_moderator_initials   object
 32  travel_history_binary     object
dtypes: bool(1), float64(3), object(29)
memory usage: 655.9+ MB

In [ ]:
covid_covariates[['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude', 'longitude', 'symptoms', 'chronic_disease_binary', 'chronic_disease', 'date_confirmation', 'additional_information']]

,ID,age,sex,city,province,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,date_confirmation,additional_information
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,NaN,False,NaN,14.02.2020,Case 55; mainland China travel via the Lok Ma ...
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,NaN,False,NaN,21.02.2020,Hospitalized on 12.02.2020 for other reasons
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,NaN,False,NaN,14.02.2020,"Case 65; family member of Case 50, a DBS emplo..."
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,NaN,False,NaN,26.01.2020,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,NaN,False,NaN,14.02.2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52.0,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,NaN,False,NaN,17.05.2020,NaN
2676307,010-99996,52.0,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,NaN,False,NaN,17.05.2020,NaN
2676308,010-99997,52.0,female,Comas,Lima,Peru,-11.932980,-77.040850,NaN,False,NaN,17.05.2020,NaN
2676309,010-99998,52.0,male,Callao,Callao,Peru,-12.000740,-77.118240,NaN,False,NaN,17.05.2020,NaN
2676310,010-99999,52.0,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,NaN,False,NaN,17.05.2020,NaN

### Might be possible to identify contact information from ```additional_information``` column; would probably need some kind of text mining approach

In [ ]:
tmp = covid_covariates[~covid_covariates['additional_information'].isnull()]

In [ ]:
with pd.option_context('display.max_colwidth', None):
    print(tmp[tmp['additional_information'].str.contains('Case')]['additional_information'])

0                                           Case 55; mainland China travel via the Lok Ma Chau border crossing
2                                             Case 65; family member of Case 50, a DBS employee, as is Case 55
113                                                        Case 66; linked to the Grace Assembly of God church
224                              Case 67; linked to the Grace Assembly of God church; family member of Case 61
335       Case 68; Singapore Citizen with no recent travel history to China. She is a family member of Case 66
                                                          ...
650422                                                                     Close Contact of New Brunswick Case
658592                                                                                 British Columbia Case 1
658593                                                                                          Spouse of Case
672419                                                  British Columbia Case 6 Recent return travel from Iran
672540                British Columbia Case 2 woman had been in contact with family visitors from Wuhan, China
Name: additional_information, Length: 1282, dtype: object