In [1]:
import numpy as np
import pandas as pd
import scripts.generate_event_list as gel

In [2]:
import importlib

In [50]:
importlib.reload(gel)

# Yunnan

In [7]:
yunnan_event_list = gel.yunnan()

['age', 'gender', 'relatives']

171it [00:00, 225.10it/s]
104it [00:00, 732.40it/s]

In [8]:
yunnan_event_list

    event_id  referee  referral    date                type  weight
0          0      1.0       1.0  000101           add_actor     1.0
1          0      1.0       1.0  000101                 age     NaN
2          0      1.0       1.0  000101              gender     1.0
3          0      1.0       1.0  000101           relatives     1.0
4          0      2.0       2.0  000101           add_actor     1.0
..       ...      ...       ...     ...                 ...     ...
783       37    171.0     155.0  200216  contact_nomination     1.0
784       37    171.0     156.0  200216  contact_nomination     1.0
785       38    170.0     155.0  200216  contact_nomination     1.0
786       38    170.0     156.0  200216  contact_nomination     1.0
787       37    171.0     170.0  200216  contact_nomination     1.0

[788 rows x 6 columns]

In [9]:
yunnan_event_list['referee'] = yunnan_event_list['referee'].astype('Int64')
yunnan_event_list['referral'] = yunnan_event_list['referral'].astype('Int64')
yunnan_event_list['weight'] = yunnan_event_list['weight'].astype('Int64')

In [10]:
yunnan_event_list.fillna(value=-1.0, inplace=True)

In [11]:
yunnan_event_list.to_csv('../Data/Preprocessed/yunnan_eventlist.csv', index=False)

# Hainan

In [12]:
hainan_event_list = gel.hainan()

['age', 'gender', 'relatives']

162it [00:00, 212.58it/s]
122it [00:00, 746.71it/s]

In [13]:
hainan_event_list

    event_id  referee  referral    date                type  weight
0          0      3.0       3.0  000101           add_actor     1.0
1          0      3.0       3.0  000101                 age    27.0
2          0      3.0       3.0  000101              gender     1.0
3          0      3.0       3.0  000101           relatives     0.0
4          0      1.0       1.0  000101           add_actor     1.0
..       ...      ...       ...     ...                 ...     ...
765       59    158.0     121.0  200214  contact_nomination     1.0
766       58    161.0     159.0  200214  contact_nomination     1.0
767       58    161.0      37.0  200214  contact_nomination     1.0
768       57    159.0      76.0  200214  contact_nomination     1.0
769       59    158.0     141.0  200214  contact_nomination     1.0

[770 rows x 6 columns]

In [14]:
hainan_event_list['referee'] = hainan_event_list['referee'].astype('Int64')
hainan_event_list['referral'] = hainan_event_list['referral'].astype('Int64')
hainan_event_list['weight'] = hainan_event_list['weight'].apply(lambda x: int(x))

In [15]:
hainan_event_list.fillna(value=-1.0, inplace=True)

In [16]:
hainan_event_list.to_csv('../Data/Preprocessed/hainan_eventlist.csv')

# Shanxi

In [17]:
shanxi_event_list = gel.shanxi()

['age', 'gender', 'hukou', 'relatives']

237it [00:01, 161.45it/s]
125it [00:00, 649.85it/s]

In [18]:
shanxi_event_list

     event_id referee referral    date                type weight
0           0       1        1  000101           add_actor      1
1           0       1        1  000101                 age     42
2           0       1        1  000101              gender      1
3           0       1        1  000101               hukou     18
4           0       1        1  000101           relatives      0
...       ...     ...      ...     ...                 ...    ...
1305       93   235.0    234.0  200216  contact_nomination      1
1306       94   236.0    234.0  200216  contact_nomination      1
1307       94   236.0    235.0  200216  contact_nomination      1
1308       92   237.0    234.0  200216  contact_nomination      1
1309       92   237.0    236.0  200216  contact_nomination      1

[1310 rows x 6 columns]

In [19]:
shanxi_event_list['referee'] = shanxi_event_list['referee'].astype('Int64')
shanxi_event_list['referral'] = shanxi_event_list['referral'].astype('Int64')
shanxi_event_list['weight'] = shanxi_event_list['weight'].astype('Int64')

In [20]:
shanxi_event_list.fillna(value=-1.0, inplace=True)

In [21]:
shanxi_event_list.to_csv('../Data/Preprocessed/shanxi_eventlist.csv')

# China

In [22]:
china_event_list = gel.china()

['age', 'gender', 'residency', 'place_event', 'symptom', 'symptom_severity', 'place_admission']

25877it [06:14, 69.13it/s]
11436it [02:23, 79.65it/s]

In [23]:
china_event_list

       event_id      referee     referral    date                type weight
0             0     anqing-1     anqing-1  000101           add_actor      1
1             0     anqing-1     anqing-1  000101                 age     49
2             0     anqing-1     anqing-1  000101              gender      1
3             0     anqing-1     anqing-1  000101           residency    480
4             0     anqing-1     anqing-1  000101         place_event   1538
...         ...          ...          ...     ...                 ...    ...
218447     4668  xuchang-373  xuchang-356  220116  contact_nomination      1
218448     4669  xuchang-374  xuchang-308  220116  contact_nomination      1
218449     4669  xuchang-374  xuchang-310  220116  contact_nomination      1
218450     4670  xuchang-378  xuchang-148  220116  contact_nomination      1
218451     4671  yangzhou-68  yangzhou-76  220208  contact_nomination      1

[218452 rows x 6 columns]

In [24]:
china_event_list['weight'] = pd.to_numeric(china_event_list['weight'], errors='coerce')
china_event_list['weight'] = china_event_list['weight'].apply(lambda x: str(int(x)) if not np.isnan(x) else np.nan)

In [25]:
china_event_list.fillna(value=-1.0, inplace=True)

In [26]:
china_event_list.to_csv('../Data/Preprocessed/china_eventlist.csv')

# Bucharest

In [27]:
bucharest_event_list = gel.bucharest()

['age', 'gender', 'medical', 'isco08_label']

57835it [13:04, 73.70it/s]
13377it [04:07, 54.09it/s]

In [28]:
bucharest_event_list

       event_id referee      referral    date                type weight
0             0  179373        179373  000101           add_actor    1.0
1             0  179373        179373  000101                 age   65.0
2             0  179373        179373  000101              gender      1
3             0  179373        179373  000101             medical      1
4             0  179373        179373  000101        isco08_label     12
...         ...     ...           ...     ...                 ...    ...
302547     6892  251363  13983S251363  201031  contact_nomination      1
302548     6893  252010  11400S252010  201031  contact_nomination      1
302549     6894  252092   9721S252092  201031  contact_nomination      1
302550     6863  243980   5800S243980  201031  contact_nomination      1
302551     6881  251702        251723  201031  contact_nomination      1

[302552 rows x 6 columns]

In [29]:
bucharest_event_list['weight'] = pd.to_numeric(bucharest_event_list['weight'], errors='coerce')
bucharest_event_list['weight'] = bucharest_event_list['weight'].apply(lambda x: str(int(x)) if not np.isnan(x) else np.nan)

In [30]:
bucharest_event_list.fillna(value=-1.0, inplace=True)

In [31]:
bucharest_event_list.to_csv('../Data/Preprocessed/bucharest_eventlist.csv')